@media (max-width: 568px) and (min-width: 320px) {
    .header-mid {
        display: none;
    }
    #logo2 {
        display: inline !important;
    }
    #logo2 a img {
        width: 40%;
        height: 100%;
        margin-left: 3%;
    }
    .navbar-form2 {
        display: inline !important;
    }
    .navbar-form {
        display: none;
    }
    .navbar-head {
        display: inline !important;
    }
    .content {
        width: 100%;
        height: 200px;
    }
    .top-head-left li a {
        font-size: 7px !important;
    }
    .right-content {
        width: 100%;
        height: 100%;
        /* border: 1px solid; */
        float: left;
    }
    .left-content {
        width: 100%;
        height: 200%;
        /* border: 1px solid; */
        float: left;
    }
    .head-left-content {
        height: 10%;
        /* border: 1px solid; */
        width: 100%;
    }
    #mobile-nav-toggle {
        position: absolute;
        right: 15px;
        z-index: 999;
        top: 19%;
        border: 0;
        background: none;
        font-size: 24px;
        display: none;
        transition: all 0.4s;
        outline: none;
        cursor: pointer;
    }
    .carousel-item h5 {
        /* margin-top: -100px; */
        /* float: left; */
        position: absolute;
        bottom: 35% !important;
        left: 13%;
        color: #fff;
    }
    .carousel-item h1 {
        /* margin-top: -100px; */
        /* float: left; */
        position: absolute;
        bottom: 18% !important;
        left: 13%;
        color: #fff;
        font-size: 20pt !important;
    }
    
}