@media (max-width: 667px) and ( min-width: 569px) {
    .header-mid {
        display: none;
    }
    .navbar-form2 {
        display: inline !important;
    }
    .navbar-form {
        display: none;
    }
    .navbar-head {
        display: inline !important;
    }
    .content {
        width: 100%;
        height: 200px;
    }
    .top-head-left li a {
        font-size: 10px !important;
    }
    .right-content {
        width: 100%;
        height: 100%;
        /* border: 1px solid; */
        float: left;
    }
    .left-content {
        width: 100%;
        height: 150%;
        /* border: 1px solid; */
        float: left;
    }
    .head-left-content {
        height: 30%;
        /* border: 1px solid; */
        width: 100%;
    }
    .head-left-content-title h4 {
        margin-top: 7%;
        font-size: 150%;
        color: #fff;
    }
    #logo2 {
        display: inline !important;
    }
    #logo2 a img {
        width: 40%;
        height: 100%;
        margin-left: 3%;
    }
    #mobile-nav-toggle {
        position: absolute;
        right: 15px;
        z-index: 999;
        top: 21%;
        border: 0;
        background: none;
        font-size: 24px;
        display: none;
        transition: all 0.4s;
        outline: none;
        cursor: pointer;
    }
    .carousel-item h5 {
        /* margin-top: -100px; */
        /* float: left; */
        position: absolute;
        bottom: 35% !important;
        left: 13%;
        color: #fff;
    }
    .carousel-item h1 {
        /* margin-top: -100px; */
        /* float: left; */
        position: absolute;
        bottom: 15% !important;
        left: 13%;
        color: #fff;
        font-size: 25pt !important;
    }
}