@media (max-width: 1201px) and ( min-width: 801px) {
    .table thead tr.sub-head th.number.total {
        color: white;
        font-weight: bold;
        display: none;
    }
    .leaguetable tr.even td.total, .leaguetable tr.even td.away, .leaguetable tr.odd td.total, .leaguetable tr.odd td.away td.number.total {
        /* background: inherit; */
        color: white;
        display: none;
    }
    .head-right img {
        /* width: 60%; */
        margin-left: 30%;
        /* margin-right: 25%; */
        margin-top: -4%;
        /* float: left; */
    }
    .header-club-logo {
        width: 37%;
        height: 100%;
        float: left;
        text-align: center;
        padding-top: 9%;
    }
    .header-club-title h1 {
        width: 100%;
        /* float: left; */
        font-size: 27px;
        font-weight: bold;
    }
}