@media screen and (min-width: 1440px) {
    .content {
        margin: auto;
        width: 1440px;
        height: 525px;
    }
    .main-container {
        margin: auto;
        width: 1440px;
    }
}

@media screen and (max-width: 1439px) {
    .content {
        margin: auto;
        width: 100% !important;
        height: 500px;
    }
}

.right-content {
    width: 73%;
    height: 100%;
    /* border: 1px solid; */
    float: left;
}

.left-content {
    width: 27%;
    height: 100%;
    /* border: 1px solid; */
    background: url(../img/photo6156503158738757693.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    float: left;
}

.head-left-content {
    height: 10%;
    /* border: 1px solid; */
    width: 100%;
}

.button-search {
    height: 81% !important;
    background-color: #1a1a1a;
}

.classement-left-content {
    height: 90%;
    /* border: 1px solid; */
    width: 100%;
    padding: 0% 4%;
}

.classement-left-content iframe {
    height: 100%;
    width: 100%;
}

.classement-left-content iframe html {
    display: none;
}

div.block h2 {
    display: none !important;
}

div.block h2, div.block h2 a {
    color: #00336f;
    text-transform: uppercase;
    font-size: 123.1%;
    display: none !important;
}

.left-content hr {
    margin-top: 0rem;
    margin-bottom: 0rem;
    background-color: #fff !important;
    width: 93%;
}

.head-left-content-img {
    height: 100%;
    /* border: 1px solid; */
    width: 30%;
    float: left;
}

.head-left-content-img img {
    height: 100%;
    margin-left: 30%;
}

.head-left-content-title {
    height: 100%;
    /* border: 1px solid; */
    width: 70%;
    float: left;
}

.head-left-content-title h4 {
    margin-top: 5%;
    color: #fff;
    font-size: 13pt;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100%;
}

.carousel {
    position: relative;
    height: 100%;
}

@media screen and (max-width: 568px) and (min-width: 320px) {
    .players-info-name h4 {
        color: #fff;
        font-size: 60%;
        font-weight: normal;
        /* overflow-wrap: break-word; */
        margin-top: 5%;
    }
    .players-info-number h1 {
        margin-left: 20%;
        font-size: large !important;
        color: #fff;
        margin-top: 15%;
    }
    .content-many {
        height: 2400px !important;
    }
    .header-mid {
        display: none;
    }
    #logo2 {
        display: inline !important;
    }
    #logo2 a img {
        width: 40%;
        height: 100%;
        margin-left: 28%;
    }
    #logo-header img {
        width: 100% !important;
    }
    .navbar-form2 {
        display: inline !important;
    }
    .navbar-form {
        display: none;
    }
    .navbar-head {
        display: inline !important;
    }
    .content {
        width: 100%;
        height: 200px;
    }
    .top-head-left li a {
        font-size: 6px !important;
    }
    .top-head-left ul li {
        display: inline-block;
        margin-right: 0px !important;
    }
    .right-content {
        width: 100%;
        height: 100%;
        /* border: 1px solid; */
        float: left;
    }
    .left-content {
        width: 100%;
        height: 200%;
        /* border: 1px solid; */
        float: left;
    }
    .head-left-content {
        height: 10%;
        /* border: 1px solid; */
        width: 100%;
    }
    #mobile-nav-toggle {
        /* position: absolute; */
        right: 15px;
        z-index: 999;
        top: 10% !important;
        border: 0;
        background: none;
        font-size: 24px;
        display: none;
        transition: all 0.4s;
        outline: none;
        cursor: pointer;
        float: right;
        margin: 3%;
    }
    .carousel-item h5 {
        /* margin-top: -100px; */
        /* float: left; */
        position: absolute;
        bottom: 40% !important;
        left: 13%;
        color: #fff;
        font-size: 10pt !important;
    }
    .carousel-item h1 {
        /* margin-top: -100px; */
        /* float: left; */
        position: absolute;
        bottom: 18% !important;
        left: 13%;
        color: #fff;
        font-size: 13pt !important;
    }
    .match-last {
        display: none;
    }
    .match-soon {
        display: none;
    }
    .match-this {
        width: 100% !important;
    }
    .content-sponsor {
        height: 3% !important;
    }
    .news-right {
        width: 100% !important;
        height: 51% !important;
        /* border: 1px solid #000; */
        float: left;
        background-color: #FFFFFF;
    }
    .news-left {
        width: 100%;
        height: 100%;
        /* border: 1px solid #000; */
        float: left;
    }
    .news-right-left {
        width: 45% !important;
        height: 100%;
        float: left;
    }
    .news-right-right {
        width: 55% !important;
        height: 100%;
    }
    .news-right-content-row {
        width: 100% !important;
        height: 23% !important;
        /* margin: auto; */
        float: left;
        /* border: 1px solid #000; */
        margin-left: 0.56% !important;
        margin-top: 1%;
    }
    .news-right-content {
        width: 100%;
        height: 90% !important;
        /* border: 1px solid #000; */
    }
    .news-right-footer {
        width: 100%;
        height: 3% !important;
        /* border: 1px solid #000; */
    }
    .news-right-footer a {
        margin-left: 26% !important;
    }
    .news-right-footer h5 {
        margin-top: 4% !important;
    }
    .col-item .info {
        margin-top: 0% !important;
    }
    .col-item .resume {
        display: none;
    }
    .col-item .title h5 {
        color: #FFF;
        font-size: large;
    }
    .col-item .price h5 {
        color: #FFF !important;
    }
    .news-left {
        width: 100% !important;
        padding-top: 3%;
        height: 30% !important;
    }
    .berita-populer {
        width: 97%;
        height: 45% !important;
        margin-left: 0% !important;
        /* background-color: #FFFFFF; */
    }
    .pojok-suporter {
        width: 100% !important;
        height: 100% !important;
        margin-left: 0% !important;
        background-color: #FFFFFF;
        margin-top: 0%;
    }
    .content-news {
        margin-top: 1%;
        width: 100%;
        height: 70% !important;
        /* border: 1px solid #000; */
    }
    .news-left-content-row {
        height: 14% !important;
    }
    .news-right-header {
        width: 100%;
        height: 5% !important;
    }
    .news-left-header {
        height: 6% !important;
    }
    .news-left-content {
        height: 74% !important;
        margin-top: 7% !important;
    }
    .news-left-content-row {
        height: 32% !important;
    }
    .news-top {
        height: 100% !important;
    }
    .berita-populer {
        height: 98% !important;
        width: 100% !important;
    }
    .news-bottom {
        height: 63% !important;
        /* border: 1px solid #000; */
        /* float: left; */
    }
    .news-left-bottom-content {
        height: 70% !important;
    }
    .news-left-bottom-content-img {
        height: 78% !important;
        width: 100%;
        box-shadow: 0px 1px 13px -4px #888888;
    }
    .news-left-bottom-content-footer h5 {
        margin-top: 4% !important;
    }
    .content-players-header-left {
        width: 71% !important;
        float: left !important;
    }
    .content-players-header-right {
        width: 29% !important;
        float: none !important;
    }
    .players {
        width: 68% !important;
    }
    .content-galery-header-left {
        width: 75% !important;
    }
    .content-players-header {
        height: 14% !important;
    }
    .content-galery-content-left {
        width: 100% !important;
    }
    .content-galery-content-right {
        display: none;
    }
    .content-shop-header-left {
        width: 30% !important;
    }
    .content-shop-content {
        padding: 5% !important;
    }
    .content-item {
        width: 90% !important;
    }
    .content-players {
        height: 12% !important;
    }
    .content-players-content {
        height: 85% !important;
        padding-top: 4% !important;
        padding-bottom: 4% !important;
    }
    .content-galery {
        height: 14% !important;
    }
    .content-galery-header {
        height: 13% !important;
    }
    .content-galery-content-left-media {
        height: 70% !important;
    }
    .content-shop {
        height: 20% !important;
    }
    .col-item .photo img {
        margin: 0 auto;
        width: 100%;
        height: 163px !important;
    }
    .content-item {
        height: 100%;
        width: 18%;
        margin: 2% 10%;
        float: none;
        display: inline-block;
        border-radius: 10px;
    }
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }
    .sticky+.main-container {
        padding-top: 200px;
    }
    .show .show {
        padding: 15px !important;
        min-width: 219px !important;
        position: absolute;
        transform: translate3d(0px, 0px, 0px) !important;
        top: 0px;
        left: -70% !important;
        will-change: transform !important;
    }
}

@media screen and (max-width: 667px) and ( min-width: 569px) {
    .content-many {
        height: 2700px !important;
    }
    .header-mid {
        display: none;
    }
    .navbar-form2 {
        display: inline !important;
    }
    .navbar-form {
        display: none;
    }
    .navbar-head {
        display: inline !important;
    }
    .content {
        width: 100%;
        height: 300px;
    }
    .top-head-left li a {
        font-size: 10px !important;
    }
    .right-content {
        width: 100%;
        height: 100%;
        /* border: 1px solid; */
        float: left;
    }
    .left-content {
        width: 100%;
        height: 150%;
        /* border: 1px solid; */
        float: left;
    }
    .head-left-content {
        height: 12%;
        /* border: 1px solid; */
        width: 100%;
    }
    .head-left-content-title h4 {
        margin-top: 7%;
        font-size: 150%;
        color: #fff;
    }
    #logo2 {
        display: inline !important;
    }
    #logo2 a img {
        width: 40%;
        height: 100%;
        margin-left: 3%;
    }
    #mobile-nav-toggle {
        position: relative;
        right: 15px;
        z-index: 999;
        top: 21%;
        border: 0;
        background: none;
        font-size: 24px;
        display: none;
        transition: all 0.4s;
        outline: none;
        cursor: pointer;
        float: right;
    }
    .slider-text h5 {
        bottom: 40% !important;
        top: -15px;
        color: #fff;
        font-size: 12pt;
    }
    .carousel-item h5 {
        /* margin-top: -100px; */
        /* float: left; */
        position: absolute;
        /*bottom: 40% !important;*/
        left: 10%;
        /*color: #fff;*/
        font-size: 10pt !important;
    }
    .carousel-item h1 {
        /* margin-top: -100px; */
        /* float: left; */
        position: relative;
        bottom: 15% !important;
        left: 10%;
        color: #fff;
        font-size: 15pt !important;
    }
    .match-last {
        display: none;
    }
    .match-soon {
        display: none;
    }
    .match-this {
        width: 100% !important;
    }
    .content-sponsor {
        height: 3% !important;
    }
    .news-right {
        width: 100% !important;
        height: 55% !important;
        /* border: 1px solid #000; */
        float: left;
        background-color: #FFFFFF;
    }
    .news-left {
        width: 100%;
        height: 44% !important;
        /* border: 1px solid #000; */
        float: left;
    }
    .news-right-left {
        width: 45% !important;
        height: 100%;
        float: left;
    }
    .news-right-right {
        width: 55% !important;
        height: 100%;
    }
    .news-right-content-row {
        width: 100% !important;
        height: 24% !important;
        /* margin: auto; */
        float: left;
        /* border: 1px solid #000; */
        margin-left: 0.56% !important;
        margin-top: 1%;
    }
    .news-right-content {
        width: 100%;
        height: 88% !important;
        /* border: 1px solid #000; */
    }
    .news-right-footer a {
        margin-left: 32% !important;
    }
    .news-right-footer h5 {
        margin-top: 6% !important;
    }
    .col-item .info {
        margin-top: -8% !important;
    }
    .col-item .resume {
        display: none;
    }
    .col-item .title h5 {
        color: #FFF;
    }
    .col-item .price h5 {
        color: #FFF !important;
    }
    .news-right-left h3 {
        padding-top: 4.5% !important;
    }
    .news-right-content-row .photo {
        width: 96%;
        height: 100% !important;
        margin: auto;
        margin-top: 2%;
    }
    .col-item .photo img {
        margin: 0 auto;
        height: 90%;
        width: 100%;
    }
    .col-item .info {
        margin-top: -19% !important;
        margin-left: 2% !important;
    }
    .news-left {
        width: 100% !important;
        padding-top: 3%;
    }
    .berita-populer {
        width: 100% !important;
        height: 100% !important;
        margin-left: 0% !important;
        /* background-color: #FFFFFF; */
    }
    .news-left-header {
        width: 100%;
        height: 8% !important;
    }
    .news-left-content {
        width: 100%;
        height: 73%;
        margin-top: 6% !important;
    }
    .pojok-suporter {
        width: 100% !important;
        height: 100%;
        margin-left: 0% !important;
        background-color: #FFFFFF;
        margin-top: 0%;
    }
    .news-left-footer h5 {
        margin-left: 30% !important;
    }
    .news-left-bottom-content-footer h5 {
        margin-left: 31% !important;
        margin-top: 3% !important;
    }
    .content-news {
        margin-top: 1%;
        width: 100%;
        height: 62% !important;
        /* border: 1px solid #000; */
    }
    .news-right-header {
        height: 4% !important;
    }
    .news-right-content-row .col-item {
        padding-left: 3%;
        padding-right: 3%;
    }
    .news-right-content-row {
        margin-top: 1% !important;
    }
    .news-bottom {
        height: 41% !important;
        margin-top: 1% !important;
        /* border: 1px solid #000; */
        /* float: left; */
    }
    .news-left-bottom {
        width: 100%;
        height: 12% !important;
    }
    .news-left-bottom-content-text h4 {
        margin-top: 1% !important;
    }
    .content-players-header-left {
        width: 50% !important;
    }
    .content-players-header {
        height: 17% !important;
    }
    .content-players-header-right {
        width: 50% !important;
    }
    .content-players {
        height: 10% !important;
    }
    .players {
        width: 36% !important;
    }
    .content-galery {
        height: 13% !important;
    }
    .content-galery-header {
        height: 13% !important;
    }
    .content-galery-header-left {
        width: 47% !important;
    }
    .content-galery-header-right {
        width: 53% !important;
    }
    .content-galery-content-right {
        display: none;
    }
    .content-galery-content-left {
        width: 100% !important;
        height: 100%;
    }
    .content-galery-content-left-info h2 {
        font-size: large !important;
    }
    .content-shop {
        height: 11% !important;
    }
    .content-shop-header-left {
        width: 30% !important;
    }
    .content-item {
        width: 45% !important;
    }
}

.content-shop-header-right {
    width: 70% !important;
}

@media screen and (max-width: 800px) and ( min-width: 668px) {
    .head-left-content-title h4 {
        margin-top: 2% !important;
        color: #fff;
        font-size: 12pt;
    }
    .content-many {
        height: 2000px !important;
    }
    .header-mid {
        display: none;
    }
    .navbar-form2 {
        display: inline !important;
    }
    .navbar-form {
        display: none;
    }
    .navbar-head {
        display: inline !important;
    }
    .content {
        width: 100%;
        height: 300px;
    }
    .top-head-left li a {
        font-size: 10px !important;
    }
    .right-content {
        width: 100%;
        height: 100%;
        /* border: 1px solid; */
        float: left;
    }
    .left-content {
        width: 100%;
        height: 150%;
        /* border: 1px solid; */
        float: left;
    }
    .head-left-content {
        height: 11%;
        /* border: 1px solid; */
        width: 100%;
    }
    .head-left-content-title h4 {
        margin-top: 7%;
        font-size: 150%;
        color: #fff;
    }
    #logo2 {
        display: inline !important;
    }
    #logo2 a img {
        width: 40%;
        height: 100%;
        margin-left: 3%;
    }
    #mobile-nav-toggle {
        position: relative;
        right: 15px;
        z-index: 999;
        top: 8% !important;
        border: 0;
        background: none;
        font-size: 24px;
        display: none;
        transition: all 0.4s;
        outline: none;
        cursor: pointer;
        float: right;
        margin: 1%;
    }
    .carousel-item h5 {
        /* margin-top: -100px; */
        /* float: left; */
        position: absolute;
        bottom: 40% !important;
        left: 10%;
        color: #fff;
        font-size: 10pt !important;
    }
    .slider-text h5 {
        bottom: 40% !important;
        top: -15px;
        color: #fff;
        font-size: 12pt;
    }
    .carousel-item h1 {
        /* margin-top: -100px; */
        /* float: left; */
        position: relative;
        bottom: 15% !important;
        left: 10%;
        color: #fff;
        font-size: 15pt !important;
    }
    .match-last {
        display: none;
    }
    .match-soon {
        display: none;
    }
    .match-this {
        width: 100% !important;
    }
    .content-sponsor {
        height: 5% !important;
    }
    .news-right {
        width: 100% !important;
        height: 60% !important;
        /* border: 1px solid #000; */
        float: left;
        background-color: #FFFFFF;
    }
    .news-left {
        width: 100%;
        height: 40% !important;
        /* border: 1px solid #000; */
        float: left;
    }
    .news-right-left {
        width: 45% !important;
        height: 100%;
        float: left;
    }
    .news-right-right {
        width: 55% !important;
        height: 100%;
    }
    .news-right-content-row {
        width: 100% !important;
        height: 24% !important;
        /* margin: auto; */
        float: left;
        /* border: 1px solid #000; */
        margin-left: 0.56% !important;
        margin-top: 1%;
    }
    .news-right-content {
        width: 100%;
        height: 90% !important;
        /* border: 1px solid #000; */
    }
    .news-right-footer a {
        margin-left: 34% !important;
    }
    .news-right-footer h5 {
        margin-top: 2% !important;
    }
    .news-top {
        height: 45% !important;
    }
    .news-left-content-row {
        width: 27% !important;
        height: 82% !important;
        margin-left: 20% !important;
        float: left;
    }
    .col-item .info {
        margin-top: -8% !important;
    }
    .col-item .resume {
        display: none;
    }
    .col-item .title h5 {
        color: #FFF;
    }
    .col-item .price h5 {
        color: #FFF !important;
    }
    .news-right-left h3 {
        padding-top: 3.5% !important;
    }
    .news-right-content-row .photo {
        width: 96%;
        height: 100% !important;
        margin: auto;
        margin-top: 2%;
    }
    .col-item .photo img {
        margin: 0 auto;
        height: 90%;
        width: 100%;
    }
    .col-item .info {
        margin-top: -13% !important;
        margin-left: 2% !important;
    }
    .news-left {
        width: 100% !important;
        padding-top: 3%;
    }
    .berita-populer {
        width: 97%;
        height: 98% !important;
        margin-left: 0% !important;
        /* background-color: #FFFFFF; */
    }
    .pojok-suporter {
        width: 97%;
        height: 100%;
        margin-left: 0% !important;
        background-color: #FFFFFF;
        margin-top: 0%;
    }
    .news-left-footer h5 {
        margin-left: 40% !important;
        margin-top: 1% !important;
    }
    .news-left-bottom-content-footer h5 {
        margin-left: 36% !important;
    }
    .news-left-content {
        margin-top: 4% !important;
    }
    .news-left-left-bottom h3 {
        padding-top: 5.5% !important;
        padding-left: 4.5%;
    }
    .news-left-bottom-content-footer h5 {
        margin-top: 4% !important;
    }
    .berita-populer {
        width: 100% !important;
        height: 100% !important;
        margin-left: 0% !important;
        /* background-color: #FFFFFF; */
    }
    .news-left-header {
        width: 100%;
        height: 15% !important;
    }
    .news-left-content {
        width: 100%;
        height: 73% !important;
        margin-top: 0% !important;
    }
    .news-left-content-row .photo {
        height: 55% !important;
        width: 100% !important;
    }
    .news-left-content-row .info {
        width: 100% !important;
        margin-top: 2%;
    }
    .news-left-content-row img {
        width: 100% !important;
        float: none;
    }
    .pojok-suporter {
        width: 100% !important;
        height: 100%;
        margin-left: 0% !important;
        background-color: #FFFFFF;
        margin-top: 0%;
    }
    .news-left-bottom-content-footer h5 {
        margin-left: 37% !important;
        margin-top: 2% !important;
    }
    .content-news {
        margin-top: 1%;
        width: 100%;
        height: 80% !important;
        /* border: 1px solid #000; */
    }
    .news-right-header {
        height: 4% !important;
    }
    .news-right-content-row .col-item {
        padding-left: 3%;
        padding-right: 3%;
    }
    .news-left-bottom-content {
        width: 58% !important;
    }
    .news-right-content-row {
        margin-top: 1% !important;
    }
    .news-bottom {
        height: 54% !important;
        margin-top: 1% !important;
        /* border: 1px solid #000; */
        /* float: left; */
    }
    .content-players-header-left h3 {
        padding-top: 5.5% !important;
    }
    .news-left-bottom {
        width: 100%;
        height: 12% !important;
    }
    .news-left-bottom-content-text h4 {
        margin-top: 1% !important;
    }
    .content-players-header-left {
        width: 50% !important;
    }
    .content-players-header {
        height: 17% !important;
    }
    .content-players-header-right {
        width: 50% !important;
    }
    .content-players {
        height: 11% !important;
    }
    .players {
        width: 29% !important;
    }
    .content-galery {
        height: 12% !important;
    }
    .content-galery-header {
        height: 13% !important;
    }
    .content-galery-header-left {
        width: 47% !important;
    }
    .content-galery-header-right {
        width: 53% !important;
    }
    .content-galery-content-right {
        display: none;
    }
    .content-galery-content-left {
        width: 53% !important;
        margin-left: 25%;
        height: 100%;
    }
    .content-galery-content-left-info h2 {
        font-size: large !important;
    }
    .content-shop {
        height: 15% !important;
    }
    .content-shop-header-left {
        width: 30% !important;
    }
    .content-item {
        width: 100% !important;
    }
    .match-this .next-match-content-left img {
        width: 25% !important;
    }
    .match-this .next-match-content-right img {
        width: 25% !important;
    }
    .match-this .next-match-content-center {
        padding-top: 1% !important;
    }
}
.title-background{
    position: absolute; left: 50%; 
    transform: translate(-50%, -36%); 
    color: white; 
    font-family: sans-serif; 
    text-align: center; 
    text-shadow: 0 0 20px rgba(0,0,0,0.5);
    width: 85%;
    height: 6%;
}
@media screen and (max-width: 1281px) and ( min-width: 1202px) {
    .match-content {
        width: 100%;
        height: 180px !important;
        /* border: 1px solid #000; */
        /* background: #ab1216; */
        background: radial-gradient(#E1120D, #710907);
        float: left;
    }
    .detail-news-image-image .info {
        /* position: absolute; */
        top: 600px;
        left: 10%;
        color: #fff;
        word-wrap: break-word;
        margin-top: -11% !important;
    }
    .title-background {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -10%) !important;
        color: white;
        font-family: sans-serif;
        text-align: center;
        text-shadow: 0 0 20px rgba(0,0,0,0.5);
        width: 85%;
        height: 6%;
    }
    .players-info-number h1 {
        margin-left: 20%;
        font-size: large !important;
        color: #fff;
        margin-top: 15%;
    }
    .players-info-name h4 {
        margin-top: 5%;
    }
    .match-last-team {
        text-align: right;
    }
    .match-this .next-match-content-left img {
        width: 70% !important;
    }
    .match-this .next-match-content-right img {
        width: 70% !important;
    }

    .footer-medsos {
        height: 60% !important;
    }

    .sponsor-tengah {
        padding: 0% 20% !important;
    }
    .sponsor-bawah {
        padding: 0% 23% !important;
    }

}
@media screen and (max-width: 1201px) and ( min-width: 801px) {
    .players-info-name h4 {
        color: #fff;
        font-size: 60%;
        font-weight: normal;
        /* overflow-wrap: break-word; */
        margin-top: 5%;
    }
    .players-info-number h1 {
        margin-left: 20%;
        font-size: large !important;
        color: #fff;
        margin-top: 15%;
    }
    .header-mid {
        width: 1440px;
        /* border: 1px solid; */
        height: 90px !important;
        background-color: #630200;
        margin: auto;
    }
    .content {
        margin: auto;
        width: 100% !important;
        height: 430px;
    }
    .match-content {
        width: 100%;
        height: 150px !important;
        /* border: 1px solid #000; */
        /* background: #ab1216; */
        background: radial-gradient(#E1120D, #710907);
        float: left;
    }
    .match-last-team {
        height: 100%;
        width: 32%;
        float: right;
        text-align: right;
    }
    .match-this .next-match-content-left img {
        width: 60% !important;
    }
    .match-this .next-match-content-right img {
        width: 60% !important;
    }
    .sponsor-tengah {
        padding: 0% 15% !important;
    }
    .sponsor-bawah {
        padding: 0% 20% !important;
    }
    .title-background{
        position: absolute; left: 50%; 
        transform: translate(-50%, -7%) !important; 
        color: white; 
        font-family: sans-serif; 
        text-align: center; 
        text-shadow: 0 0 20px rgba(0,0,0,0.5);
        width: 85%;
        height: 6%;
    }
    .detail-news-image-image .info {
        /* position: absolute; */
        top: 600px;
        /*left: 10%;*/
        color: #fff;
        word-wrap: break-word;
        margin-top: -15% !important;
    }
    .content-many {
        height: 1800px !important;
    }
    .content-sponsor {
        height: 7% !important;
    }
    .table thead tr.sub-head th.number.total {
        color: white;
        font-weight: bold;
        display: none;
    }
    .leaguetable tr.even td.total, .leaguetable tr.even td.away, .leaguetable tr.odd td.total, .leaguetable tr.odd td.away td.number.total {
        /* background: inherit; */
        color: white;
        display: none;
    }
    .head-right img {
        /* width: 60%; */
        margin-left: 30%;
        /* margin-right: 25%; */
        /* margin-top: -4%; */
        /* float: left; */
    }
    .news-right-left {
        width: 30% !important;
        height: 100%;
        float: left;
    }
    .news-right-right {
        width: 70% !important;
        height: 100%;
    }
    .news-right {
        width: 100% !important;
        height: 66% !important;
    }
    .news-left {
        width: 100% !important;
        margin-top: 1% !important;
        height: 34% !important;
    }
    .news-right-left h3 {
        padding-top: 4.5% !important;
    }
    .news-right-footer h5 {
        margin-top: 2% !important;
    }
    .berita-populer {
        width: 100% !important;
        height: 100% !important;
        margin-left: 0% !important;
        /* background-color: #FFFFFF; */
    }
    .news-left-header {
        width: 100%;
        height: 10% !important;
    }
    .news-left-content {
        width: 100% !important;
        height: 77% !important;
        margin-top: 0% !important;
    }
    .match-last-team img {
        height: 80% !important;
    }
    .match-soon-team img {
        height: 80% !important;
    }
    .news-left-content-row {
        width: 92% !important;
        /* float: left; */
        height: 31% !important;
        margin-top: 1% !important;
    }
    .pojok-suporter {
        width: 100% !important;
        height: 100%;
        margin-left: 0% !important;
        background-color: #FFFFFF;
        margin-top: 0%;
    }
    .news-left-footer h5 {
        margin-left: 42% !important;
    }
    .news-left-bottom-content-footer h5 {
        margin-left: 35% !important;
        margin-top: 3% !important;
    }
    .content-news {
        margin-top: 1%;
        width: 100%;
        height: 70% !important;
        /* border: 1px solid #000; */
    }
    .news-right-header {
        height: 6% !important;
    }
    .news-right-content {
        height: 85% !important;
    }
    .news-right-content-row .col-item {
        padding-left: 3%;
        padding-right: 3%;
    }
    .news-right-content-row {
        margin-top: 1% !important;
        height: 48% !important;
    }
    .news-bottom {
        height: 98% !important;
        margin-top: 0% !important;
        /* border: 1px solid #000; */
        /* float: left; */
    }
    .news-left-left-bottom h3 {
        padding-top: 4.5% !important;
    }
    .news-left-bottom-content {
        margin-top: 2% !important;
    }
    .news-left-bottom-content-img {
        padding-left: 0%;
        padding-right: 0%;
    }
    .news-left-bottom-content-text h4 {
        margin-left: 3.5% !important;
    }
    .news-left-bottom {
        width: 100%;
        height: 10% !important;
    }
    .news-left-bottom-content-text h4 {
        margin-top: 1% !important;
    }
    .content-players-header-left {
        width: 50% !important;
    }
    .content-players-header {
        height: 17% !important;
    }
    .content-players-header-right {
        width: 50% !important;
    }
    .content-players {
        height: 13% !important;
    }
    .players {
        width: 20% !important;
    }
    .content-galery {
        height: 17% !important;
    }
    .content-galery-header {
        height: 13% !important;
    }
    .content-galery-header-left {
        width: 47% !important;
    }
    .content-galery-header-right {
        width: 53% !important;
    }
    /* .content-galery-content-right {
        display: none;
    } */
    .content-galery-content-left {
        width: 50% !important;
        height: 100%;
    }
    .content-galery-content-left-info h2 {
        font-size: large !important;
    }
    .content-shop {
        height: 17% !important;
    }
    .content-shop-header-left {
        width: 30% !important;
    }
    .content-item {
        width: 100% !important;
    }
    .news-right-content-row .photo {
        height: 71% !important;
    }
    .content-shop-header-left h3 {
        padding-top: 2.5% !important;
    }
    .content-galery-header-left h3 {
        padding-top: 3.5% !important;
    }
    .content-galery-content {
        height: 89%;
        width: 100% !important;
        padding: 2%;
    }
    .news-top {
        width: 48% !important;
        height: 98% !important;
        float: left;
        margin-right: 2%;
    }
    .news-bottom {
        width: 50% !important;
        height: 98% !important;
        float: left;
        margin-right: 0%;
    }
    .news-left-left h3 {
        padding-top: 3.5% !important;
    }
    .news-left-footer h5 {
        margin-top: 1% !important;
    }
    .content-players-header-left h3 {
        padding-top: 3.5% !important;
    }
    .news-left-content-row .col-sm-12 {
        margin-top: 2% !important;
        margin-bottom: 2% !important;
    }
}

.news-right-footer h5 {
    margin-top: 1%;
}

.twitter-timeline{
    width: 97% !important;
    margin-left: 3%;
    height: 100% !important
}

#mobile-nav-toggle {
    position: relative;
    right: 15px;
    z-index: 999;
    top: 19%;
    border: 0;
    background: none;
    font-size: 24px;
    display: none;
    transition: all 0.4s;
    outline: none;
    cursor: pointer;
    float: right;
    margin: 1%;
}

.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 0px !important;
}

.number .total {
    color: white !important;
}

.carousel-item {
    height: 100% !important;
    /* float: left; */
}

.slider-text {
    position: absolute;
    bottom: 11%;
    left: 13%;
    width: 80%;
}

.carousel-item h5 {
    /* margin-top: -100px; */
    /* float: left; */
    color: #fff;
    font-size: 12pt;
}

.carousel-item h1 {
    /* margin-top: -100px; */
    /* float: left; */
    color: #fff;
    font-size: 30pt;
}

@media screen and (min-width: 1440px) {
    .match-content {
        width: 1440px;
        height: 200px;
        /* border: 1px solid #000; */
        /* background: #ab1216; */
        background: radial-gradient(#E1120D, #710907);
        /* float: left; */
        margin: auto;
    }
    .main-club {
        width: 1440px;
        /* height: 600px; */
        margin: auto;
        background: url(../img/Untitled-a1.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding: 1% 10% 1% 10%;
    }
}

@media screen and (min-width: 1441px) {}

@media screen and (max-width: 1439px) {
    .match-content {
        width: 100%;
        height: 200px;
        /* border: 1px solid #000; */
        /* background: #ab1216; */
        background: radial-gradient(#E1120D, #710907);
        float: left;
    }
    .main-club {
        width: 100%;
        /* height: 600px; */
        margin: auto;
        background: url(../img/Untitled-a1.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding: 1% 10% 1% 10%;
    }
}

.match-last {
    width: 37%;
    height: 100%;
    /* border: 1px solid #000; */
    float: left;
    padding: 3% 3%;
}

.match-this {
    width: 26%;
    height: 100%;
    /* border: 1px solid #000; */
    float: left;
    padding: 1% 0%;
    background: rgb(255, 255, 255, 0.1);
}

.match-soon {
    width: 37%;
    height: 100%;
    /* border: 1px solid #000; */
    float: left;
    padding: 3% 3%;
}

.content-many {
    width: 100%;
    height: 1400px;
    float: left;
    /* background-color: #fff; */
}

.content-content {
    margin: auto;
    /* margin-top: 1%; */
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    background-color: #f6f6f6;
}

.content-sponsor {
    width: 85%;
    height: 10%;
    /* border: 1px solid #000; */
    margin: auto;
}

.content-sponsor img {
    width: 100%;
    height: 100%;
}

.content-news {
    margin-top: 1%;
    width: 85%;
    margin: auto;
    height: 60%;
    /* border: 1px solid #000; */
}

.news-right {
    width: 70%;
    height: 98%;
    /* border: 1px solid #000; */
    float: left;
    background-color: #FFFFFF;
}

.news-right-left {
    width: 17%;
    height: 100%;
    float: left;
}

.news-right-right {
    width: 83%;
    height: 100%;
}

.news-right-header {
    width: 100%;
    height: 5%;
}

.news-right-content {
    width: 100%;
    height: 85%;
    /* border: 1px solid #000; */
}

.news-right-footer {
    width: 100%;
    height: 6%;
    /* border: 1px solid #000; */
}

.news-right-footer a {
    width: 100%;
    margin: auto;
    margin-left: 43%;
    font-size: 125%;
}

.news-right-content-row {
    width: 50%;
    height: 45%;
    /* margin: auto; */
    float: left;
    /* border: 1px solid #000; */
    margin-left: 0.56% !important;
    margin-top: 3%;
}

.news-right-left h3 {
    width: 100%;
    height: 100%;
    padding-top: 7.5%;
    padding-left: 4.5%;
    font-weight: bold;
    font-size: 14px;
    color: #9E0400;
}

.news-right-left hr {
    border-width: 2px;
    background-color: #9E0400;
}

.news-right-header hr {
    margin-top: 0px;
    margin-bottom: 0px;
}

.news-left {
    width: 30%;
    height: 100%;
    /* border: 1px solid #000; */
    float: left;
}

.news-top {
    width: 100%;
    height: 50%;
    /* border: 1px solid #000; */
    /* float: left; */
}

.news-bottom {
    width: 100%;
    height: 50%;
    /* border: 1px solid #000; */
    float: left;
}

.news-right-content-row .col-sm-12 {
    height: 100%;
}

.news-right-content-row .col-item {
    height: 100%;
    width: 100%;
    box-shadow: 0px 1px 13px -4px #888888;
}

.news-right-content-row .photo {
    width: 96%;
    height: 64%;
    margin: auto;
    margin-top: 2%;
}

/* Berita Populer  */

.berita-populer {
    width: 97%;
    height: 98%;
    margin-left: 3%;
    background-color: #FFFFFF;
}

.news-left-header {
    width: 100%;
    height: 10%;
}

.news-left-left {
    width: 40% !important;
    height: 100%;
    float: left;
}

.news-left-right {
    width: 60% !important;
    height: 100%;
}

.news-left-left h3 {
    width: 100%;
    height: 100%;
    padding-top: 7.5%;
    padding-left: 4.5%;
    font-weight: bold;
    font-size: 14px;
    color: #9E0400;
}

.news-left-header hr {
    margin-top: 0px;
    margin-bottom: 0px;
}

.news-left-left hr {
    border-width: 1.5px;
    background-color: #9E0400;
}

.news-left-content {
    width: 100%;
    height: 70%;
    margin-top: 10%;
}

.news-left-content-row {
    margin: auto;
    width: 90%;
    height: 30%;
    /* border: 1px solid #000; */
    margin-right: 0px !important;
    margin-left: 5% !important;
    margin-top: 3%;
    box-shadow: 0px 1px 13px -4px #888888;
}

.news-left-content-row .col-sm-12 {
    margin-top: 5%;
    margin-bottom: 5%;
}

.news-left-content-row .photo {
    width: 40%;
    height: 100%;
    float: left;
}

.news-left-content-row img {
    height: 100%;
    width: 100%;
}

.news-left-content-row .info {
    width: 58%;
    height: 100%;
    float: left;
    margin-left: 2%;
}

.news-left-content-row .info .price h5 {
    font-style: italic;
    color: #888888;
}

.news-left-content-row .info .title h5 {
    font-weight: bold;
}

.news-left-footer h5 {
    margin-left: 25%;
    font-size: 120%;
    margin-top: 4%;
}

/* Berita Populer end */

/* Pojok Suporter */

.pojok-suporter {
    width: 97%;
    height: 100%;
    margin-left: 3%;
    background-color: #FFFFFF;
    margin-top: 0%;
}

.news-left-bottom {
    width: 100%;
    height: 10%;
}

.news-left-bottom hr {
    margin-top: 0px;
    margin-bottom: 0px;
}

.news-left-left-bottom {
    width: 40% !important;
    height: 100%;
    float: left;
}

.news-left-left-bottom h3 {
    width: 100%;
    height: 100%;
    padding-top: 7.5%;
    padding-left: 4.5%;
    font-weight: bold;
    font-size: 14px;
    color: #9E0400;
}

.news-left-left-bottom hr {
    border-width: 1.5px;
    background-color: #9E0400;
    margin-top: 0px;
    margin-bottom: 0px;
}

.news-left-right-bottom {
    width: 60% !important;
    height: 100%;
}

.news-left-bottom-content {
    width: 94%;
    height: 66%;
    margin: auto;
    box-shadow: 0px 1px 13px -4px #888888;
    margin-top: 4%;
}

.news-left-bottom-content-img img {
    height: 95%;
    width: 95%;
    /* margin: auto; */
    margin-left: 2.5%;
    margin-top: 1.5%;
}

.news-left-bottom-content-img {
    height: 80%;
    width: 100%;
    box-shadow: 0px 1px 13px -4px #888888;
}

.news-left-bottom-content-text {
    height: 20%;
    width: 100%;
}

.news-left-bottom-content-text h4 {
    margin-left: 2.5%;
    margin-top: 2%;
}

.news-left-bottom-content-footer {
    width: 100%;
    height: 13%;
}

.news-left-bottom-content-footer h5 {
    margin-left: 24%;
    margin-top: 7%;
    font-weight: bold;
    font-size: 115%;
}

/* Pojok Suporter end */

/* COL ITEM */

.col-item {
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    background: #FFF;
}

.col-item .photo img {
    margin: 0 auto;
    width: 100%;
    height: 200px;
}

.col-item .info {
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
}

.col-item:hover .info {
    background-color: #F5F5DC;
}

.col-item .price {
    /*width: 50%;*/
    float: left;
    margin-top: 0px;
    font-style: italic;
}

.col-item .title {
    /*width: 50%;*/
    float: left;
    margin-top: 0px;
    font-weight: bold;
    font-size: x-large;
    /* font-style: italic; */
}

.info .row .title h5 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info .row .resume p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.col-item .resume {
    /*width: 50%;*/
    float: left;
    margin-top: 0px;
    font-size: 100%;
    /* font-style: italic; */
}

.col-item .resume p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.col-item .resume .paragraf p {
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
}

.col-item .price h5 {
    line-height: 20px;
    margin: 0;
    color: #8d8d8d;
}

.price-text-color {
    color: #219FD1;
}

.col-item .info .rating {
    color: #777;
}

.col-item .rating {
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.col-item .separator {
    border-top: 1px solid #E1E1E1;
}

.clear-left {
    clear: left;
}

.col-item .separator p {
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

.col-item .separator p i {
    margin-right: 5px;
}

.col-item .btn-add {
    width: 50%;
    float: left;
}

.col-item .btn-add {
    border-right: 1px solid #E1E1E1;
}

.col-item .btn-details {
    width: 50%;
    float: left;
    padding-left: 10px;
}

.controls {
    margin-top: 20px;
}

[data-slide="prev"] {
    margin-right: 10px;
}

/* COL ITEM END */

/* Madura United Player */

.content-players {
    width: 100%;
    height: 15%;
    /* border: 1px solid #000; */
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: #fff;
}

.content-players-header {
    height: 17%;
    width: 100%;
    /* border: 1px solid #000; */
}

.content-players-header-left {
    width: 18%;
    height: 100%;
    float: left;
}

.content-players-header-right {
    width: 80%;
    height: 100%;
}

.content-players-header-left h3 {
    width: 100%;
    height: 100%;
    padding-top: 7.5%;
    padding-left: 4.5%;
    font-weight: bold;
    font-size: 19px;
    color: #9E0400;
}

.content-players-header hr {
    margin-top: 0px;
    margin-bottom: 0px;
}

.content-players-header-left hr {
    border-width: 2px;
    background-color: #9E0400;
}

.content-players-content {
    width: 100%;
    height: 80%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 6%;
    overflow-x: auto;
    white-space: nowrap;
}

/* players */

.players {
    /* border: 1px solid #000; */
    border-radius: 12px;
    height: 100%;
    width: 16%;
    float: left;
    margin-right: 1%;
    float: none;
    display: inline-block;
}

.players-photo {
    height: 75%;
    border-radius: 12px 12px 0px 0px;
}

.players-photo img {
    height: 100%;
    width: 100%;
    border-radius: 12px 12px 0px 0px;
}

.players-info {
    height: 25%;
    border-radius: 0px 0px 12px 12px;
    background-color: #9E0400;
}

.players-info-name {
    height: 100%;
    width: 75%;
    border-radius: 0px 0px 0px 12px;
    padding-left: 5%;
    padding-top: 2%;
    /* border: 1px solid #000; */
    float: left;
}

.players-info-name h4 {
    color: #fff;
    font-size: 60%;
    font-weight: normal;
    /* overflow-wrap: break-word; */
}

.players-info-name h5 {
    color: #fff;
    font-size: 75%;
}

.players-info-number {
    height: 100%;
    width: 25%;
    border-radius: 0px 0px 12px 0px;
    float: left;
    /* border: 1px solid #000; */
}

.players-info-number h1 {
    margin-left: 20%;
    font-size: xx-large;
    color: #fff;
}

/* players */

/* Madura United Player end */

/* Content Galerry */

.content-galery {
    width: 85%;
    margin: auto;
    height: 29%;
    background-color: #FFF;
    margin-bottom: 1%;
}

.content-galery-header {
    height: 11%;
    width: 100%;
}

.content-galery-header-left {
    width: 18%;
    height: 100%;
    float: left;
}

.content-galery-header-right {
    width: 80%;
    height: 100%;
}

.content-galery-header-left h3 {
    width: 100%;
    height: 100%;
    padding-top: 7.5%;
    padding-left: 4.5%;
    font-weight: bold;
    font-size: 19px;
    color: #9E0400;
}

.content-galery-header-left hr {
    border-width: 2px;
    background-color: #9E0400;
}

.content-galery-header hr {
    margin-top: 0px;
    margin-bottom: 0px;
}

.content-galery-content {
    height: 89%;
    width: 100%;
    padding: 2%;
}

.content-galery-content-left {
    width: 53%;
    height: 100%;
    float: left;
    margin-right: 2%;
    background-color: #fff;
    box-shadow: 0px 1px 13px -4px #888888;
    padding: 1%;
}

.content-galery-content-right {
    width: 45%;
    height: 100%;
    float: left;
}

.content-galery-content-left-media {
    width: 100%;
    height: 75%;
}

.content-galery-content-left-media img {
    width: 100%;
    height: 100%;
}

.content-galery-content-left-info {
    width: 100%;
    height: 25%;
    padding-top: 2%;
}

.content-galery-content-left-info h5 {
    font-style: italic;
    color: #888888;
}

.content-galery-content-left-info h2 {
    font-size: x-large;
    font-weight: bold;
}

.content-galery-content-right-media {
    width: 45%;
    height: 32%;
    box-shadow: 0px 1px 13px -4px #888888;
    float: left;
    margin-right: 5%;
    margin-bottom: 1%;
    padding: 1%;
}

.content-galery-content-right-media img {
    width: 100%;
    height: 100%;
}

/* Content Galerry end  */

/* Content Shop */

.content-shop {
    width: 100%;
    /* margin: auto; */
    height: 30%;
    background-color: #ab1216;
    background-image: url(../img/home/bg_bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.content-shop-inner {
    width: 85%;
    margin: auto;
    height: 100%;
    /* background-color: #fff; */
}

.content-shop-header {
    height: 11%;
    width: 100%;
}

.content-shop-header-left {
    width: 12%;
    height: 100%;
    float: left;
}

.content-shop-header-right {
    width: 88%;
    height: 100%;
}

.content-shop-header-left h3 {
    width: 100%;
    height: 100%;
    padding-top: 5.5%;
    padding-left: 6.5%;
    font-weight: bold;
    font-size: 19px;
    color: #fff;
}

.content-shop-header hr {
    margin-top: 0px;
    margin-bottom: 0px;
    border-width: 0.5px;
    background-color: #fff;
}

.content-shop-header-left hr {
    border-width: 2px;
    background-color: #fff;
}

.content-shop-content {
    width: 100%;
    height: 89%;
    padding: 1%;
    /* overflow-x: auto;
    white-space: nowrap; */
}

.content-item {
    height: 100%;
    width: 18%;
    margin-right: 2%;
    float: none;
    display: inline-block;
    border-radius: 10px;
}

.item-photo {
    height: 70%;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.item-photo img {
    height: 100%;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.item-info {
    height: 30%;
    width: 100%;
    padding: 5px;
    padding-top: 4%;
    background-color: #fff;
    border-radius: 0px 0px 10px 10px;
}

.item-info-name {
    width: 100%;
    height: 65%;
    text-align: center;
    /* float: left; */
}

.item-info-name h4 {
    font-weight: normal;
    font-size: large;
    color: #000;
}

.item-info-name h5 {
    font-weight: bold;
    color: #9E0400;
}

.item-info-button {
    width: 100%;
    height: 35%;
    /* float: left; */
    text-align: center;
    margin: auto;
}

.item-info-button button {
    margin: auto;
    width: 35%;
    color: #9E0400;
    height: 100%;
    border-radius: 20px;
}

/* Content Shop end  */

/* Header */

#logo-header {
    width: 25%;
    padding-left: 4%;
}

#logo-header img {
    width: 60%;
}

#nav-menu-container {
    /* margin: auto; */
    /* margin-top: 0.5%; */
    width: 54%;
}

/* Header end */

/* match home */

.match-last-team {
    height: 100%;
    width: 32%;
    float: right;
}

.match-last-team img {
    height: 100%;
}

.match-soon-team {
    height: 100%;
    width: 32%;
    float: left;
}

.match-soon-team img {
    height: 100%;
}

.match-this .next-match-content-center h3 {
    color: #fff;
    font-size: small;
}

.match-this .next-match-content-center h4 {
    color: #fff;
    font-size: small;
}

.match-this .next-match-content-left h3 {
    color: #fff;
    font-size: small;
}

.match-this .next-match-content-right h3 {
    color: #fff;
    font-size: small;
}

.match-this .next-match-content-left img {
    width: 70%;
}

.match-this .next-match-content-right img {
    width: 70%;
}

.match-this .next-match-content-center {
    height: 100%;
    width: 30%;
    float: left;
    text-align: center;
    padding-top: 10%;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    border-bottom: 2px solid #fff;
    font-weight: bold;
}

/* match home end */

/* club */

.club {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.header-club {
    width: 100%;
    height: 180px;
    padding: 1% 18% 2% 18%;
    margin: auto;
}

/* .header-club-logo { //erwin 
    width: 40%;
    height: 100%;
    float: left;
    text-align: center;
} */
.header-club-logo {
    width: 37%;
    height: 100%;
    float: left;
    text-align: center;
    padding-top: 9%;
}

.header-club-title {
    width: 60%;
    height: 100%;
    float: left;
    text-align: center;
    padding: 9% 9% 4% 0%;
}

.header-club-logo img {
    width: 40%;
    /* float: left; */
}

.header-club-title h1 {
    width: 100%;
    /* float: left; */
    font-size: 30px;
    font-weight: bold;
}

.header-club-title h3 {
    width: 100%;
    /* float: left; */
    font-size: 20px;
    font-weight: bold;
}

.content-club {
    width: 100%;
    height: 70%;
    padding: 1% 6%;
    text-align: justify;
}
.content-club p {
    width: 100%;
    font-size: 20px;
    color: #000;
}
@media (max-width:800px) and ( min-width: 570px) {
    .players-info-name h4 {
        color: #fff;
        font-size: 60%;
        font-weight: normal;
        /* overflow-wrap: break-word; */
        margin-top: 11%;
    }
    .players-info-number h1 {
        margin-left: 20%;
        font-size: large !important;
        color: #fff;
        margin-top: 35%;
    }
    .header-club-logo {
        width: 39%;
        height: 100%;
        float: left;
        text-align: center;
        padding-top: 9%;
    }
    .header-club-title h1 {
        width: 100%;
        /* float: left; */
        font-size: 20px;
        font-weight: bold;
    }
    .header-club-title h3 {
        width: 100%;
        /* float: left; */
        font-size: 15px;
        font-weight: bold;
    }
    .content-club p {
        width: 100%;
        font-size: 14px;
        color: #000;
    }
}


@media (max-width:569px) and ( min-width: 320px) {
    .players-info-name h4 {
        color: #fff;
        font-size: 60%;
        font-weight: normal;
        /* overflow-wrap: break-word; */
        margin-top: 5%;
    }
    .players-info-number h1 {
        margin-left: 20%;
        font-size: large !important;
        color: #fff;
        margin-top: 15%;
    }
    .header-club-title h1 {
        width: 100%;
        /* float: left; */
        font-size: 21px;
        font-weight: bold;
        padding-top: 0%;
    }
    .header-club-title h3 {
        width: 100%;
        /* float: left; */
        font-size: 14px;
        font-weight: bold;
    }
    .content-club p {
        width: 100%;
        font-size: 16px;
        color: #000;
        padding-top: 10%;
        text-align: justify;
        -moz-text-align-last: center;
        text-align-last: center;
    }
}

@media (max-width: 1201px) and ( min-width: 801px) {
    .header-club-title h1 {
        width: 100%;
        /* float: left; */
        font-size: 20px;
        font-weight: bold;
    }
    .header-club-title h3 {
        width: 100%;
        /* float: left; */
        font-size: 20px;
        font-weight: bold;
    }
    .content-club p {
        width: 100%;
        font-size: 20px;
        color: #000;
    }
}

@media screen and (min-width: 768px) and (max-width: 960px) {
    .detail-news-image {
        height: 400px !important;
        padding-top: 1%;
        background-color: #F6F6F6;
    }
    .detail-news-image-image .info {
        position: absolute ;
        height: 7%;
        width: 85%;
        margin-top: -25% !important;
    }
    .title-background{
        position: absolute; left: 50%; 
        transform: translate(-50%, -16%) !important; 
        color: white; 
        font-family: sans-serif; 
        text-align: center; 
        text-shadow: 0 0 20px rgba(0,0,0,0.5);
        width: 100% !important;
        height: 100% !important;
    }
    .content {
        margin: auto;
        width: 100% !important;
        height: 350px;
    }
    .match-content {
        width: 100%;
        height: 140px;
    }
    .content-center h3 {
        color: #fff;
        font-size: x-small;
    }
    .content-center h4 {
        color: #fff;
        font-size: x-small;
    }
    .head-left-content-title h4 {
        margin-top: 5%;
        color: #fff;
        font-size: 11pt !important;
    }
    #logo2 {
        display: block !important;
    }
    #logo2 a img {
        width: 25%;
        height: 100%;
        margin-left: 5%;
    }
    .content-many {
        width: 100%;
        /*height: auto !important;*/
        float: left;
        /* background-color: #fff; */
    }
    .news-right-header {
        height: 35px !important;
    }
}