@media screen and (min-width: 1440px) {
    .footer-sponsor {
        margin: auto;
        width: 1440px !important;
        background-color: #EEEEEE;
        padding: 0% 8% 0% 8%;
        /* float: left; */
    }
}

@media (max-width: 1439px) {
    .footer-sponsor {
        margin: auto;
        width: 100%;
        background-color: #EEEEEE;
        padding: 0% 8% 0% 8%;
        float: left;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .footer-sponsor hr {
        margin: auto;
        width: 100%;
    }
}

@-moz-document url-prefix() {
    .footer-sponsor hr {
        margin: auto;
        width: 85%;
    }
}

.sponsor-top {
    width: 100%;
    text-align: center;
    margin-bottom: 2%;
    padding: 1% 0%;
    /* height: 50%; */
}

.footer-sponsor-left h3 {
    width: 100%;
    height: 100%;
    padding-top: 1%;
    font-weight: bold;
    font-size: 25px;
    color: #9E0400;
}

.footer-sponsor-left hr {
    border-width: 2px;
    background-color: #9E0400;
    text-align: left;
    width: 15%;
    float: left;
}

.sponsor-top img {
    /* margin-left: 44%; */
    width: 10%;
}

.sponsor-tengah {
    width: 100%;
    height: 110px;
    padding: 0% 22%;
    /* padding-right: 0%; */
    text-align: center;
    margin: auto;
}

.sponsor-tengah-img {
    width: 25%;
    /* height: 40%; */
    /* padding-left: 7%;
    padding-right: 0%; */
    text-align: center;
    margin: auto;
    float: left;
    /* background: url(../img/MBB.png); */
    background-size: 80% 100%;
    background-repeat: no-repeat;
}

.a {
    width: 25%;
    height: 75%;
    /* padding-left: 7%;
    padding-right: 0%; */
    text-align: center;
    margin: auto;
    float: left;
    background: url(../img/logosponsor/MBB.png);
    background-size: 80% 100%;
    background-repeat: no-repeat;
}

.a:hover {
    width: 25%;
    background: url(../img/MBaB.png);
    background-size: 80% 100%;
    background-repeat: no-repeat;
    /* height: 40%; */
    /* padding-left: 7%;
    padding-right: 0%; */
    text-align: center;
    margin: auto;
}

.b {
    width: 25%;
    height: 30%;
    /* padding-left: 7%;
    padding-right: 0%; */
    text-align: center;
    margin: auto;
    float: left;
    background: url(../img/Pojur.png);
    background-size: 80% 100%;
    background-repeat: no-repeat;
    margin-top: 3%;
}

.b:hover {
    width: 25%;
    height: 30%;
    background: url(../img/logosponsor/Pojur.png);
    background-size: 80% 100%;
    background-repeat: no-repeat;
    /* height: 40%; */
    /* padding-left: 7%;
    padding-right: 0%; */
    text-align: center;
    margin: auto;
    margin-top: 3%;
}

.c {
    width: 25%;
    height: 50%;
    /* padding-left: 7%;
    padding-right: 0%; */
    text-align: center;
    margin: auto;
    float: left;
    background: url(../img/Adaro%20Water.png);
    background-size: 80% 100%;
    background-repeat: no-repeat;
    margin-top: 3%;
}

.c:hover {
    width: 25%;
    height: 50%;
    background: url(../img/logosponsor/Adaro%20Water.png);
    background-size: 80% 100%;
    background-repeat: no-repeat;
    /* height: 40%; */
    /* padding-left: 7%;
    padding-right: 0%; */
    text-align: center;
    margin: auto;
    margin-top: 3%;
}

.d {
    width: 20%;
    height: 83%;
    /* padding-left: 7%;
    padding-right: 0%; */
    text-align: center;
    margin: auto;
    float: left;
    background: url(../img/Integra.png);
    background-size: 80% 100%;
    background-repeat: no-repeat;
}

.d:hover {
    width: 20%;
    height: 83%;
    background: url(../img/logosponsor/Integra.png);
    background-size: 80% 100%;
    background-repeat: no-repeat;
    /* height: 40%; */
    /* padding-left: 7%;
    padding-right: 0%; */
    text-align: center;
    margin: auto;
}

.sponsor-bawah {
    width: 100%;
    height: 110px;
    text-align: center;
    padding: 0% 28%;
}

.sponsor-bawah-img {
    width: 33%;
    /* height: 40%; */
    /* padding-left: 7%;
    padding-right: 0%; */
    text-align: center;
    margin: auto;
    float: left;
    /* background: url(../img/MBB.png); */
    background-size: 80% 100%;
    background-repeat: no-repeat;
}

.e {
    width: 33%;
    height: 60%;
    /* padding-left: 7%;
    padding-right: 0%; */
    text-align: center;
    margin: auto;
    float: left;
    background: url(../img/Pool%20Advista.png);
    background-size: 80% 100%;
    background-repeat: no-repeat;
}

.e:hover {
    width: 33%;
    background: url(../img/logosponsor/Pool%20Advista.png);
    background-size: 80% 100%;
    background-repeat: no-repeat;
    /* height: 40%; */
    /* padding-left: 7%;
    padding-right: 0%; */
    text-align: center;
    margin: auto;
}

.f {
    width: 33%;
    height: 30%;
    /* padding-left: 7%;
    padding-right: 0%; */
    text-align: center;
    margin: auto;
    float: left;
    background: url(../img/Horison%20Grup.png);
    background-size: 80% 100%;
    background-repeat: no-repeat;
    margin-top: 3%;
}

.f:hover {
    width: 33%;
    height: 30%;
    background: url(../img/logosponsor/Horison%20Grup.png);
    background-size: 80% 100%;
    background-repeat: no-repeat;
    /* height: 40%; */
    /* padding-left: 7%;
    padding-right: 0%; */
    text-align: center;
    margin: auto;
    margin-top: 3%;
}

.g {
    width: 33%;
    height: 50%;
    /* padding-left: 7%;
    padding-right: 0%; */
    text-align: center;
    margin: auto;
    float: left;
    background: url(../img/Lion%20Air.png);
    background-size: 80% 100%;
    background-repeat: no-repeat;
    margin-top: 3%;
}

.g:hover {
    width: 33%;
    height: 50%;
    background: url(../img/logosponsor/Lion%20Air.png);
    background-size: 80% 100%;
    background-repeat: no-repeat;
    /* height: 40%; */
    /* padding-left: 7%;
    padding-right: 0%; */
    text-align: center;
    margin: auto;
    margin-top: 3%;
}

.sponsor-tengah-img img {
    width: 65%;
    margin: 2%;
}

.sponsor-bawah img {
    width: 10%;
    margin: 2%;
}

.img-sponsor img {
    width: 90%;
    /* height: 100%; */
    float: left;
}

.footer-sponsor-header {
    width: 100%;
    height: 8%;
}

@media screen and (max-width: 568px) and (min-width: 320px) {
    .sponsor-top img {
        margin-left: 0% !important;
        width: 21% !important;
    }
    .footer-menu h1, .footer-menu h2 {
        color: #fff;
        font-size: 70%;
    }
    .footer-left {
        width: 100% !important;
        height: 50% !important;
        /* float: left; */
    }
    .footer-medsos {
        width: 20% !important;
        height: 28% !important;
    }
    .footer hr {
        display: none !important;
    }
    .footer-medsos i {
        font-size: 15px !important;
    }
    .footer-right {
        width: 100% !important;
        height: 50% !important;
        float: left;
        padding: 2%;
    }
    .footer-right-top {
        width: 50% !important;
        height: 100% !important;
        float: left;
    }
    .footer-right-bottom {
        width: 50% !important;
        height: 100% !important;
        float: left;
    }
    .sponsor-tengah {
        padding: 8% 0%;
    }
    .sponsor-bawah {
        padding: 7% 4%;
    }
    .footer-right-top {
        width: 50% !important;
    }
    .header-club-logo {
        width: 100%;
        height: 40%;
        float: none;
        text-align: center;
    }
    .header-club-title {
        width: 100%;
        height: 60%;
        float: none;
        text-align: center;
        padding: 14% 0% 4% 0%;
    }
    .header-club-title h1 {
        /* float: left; */
        font-size: 21px;
    }
    .header-club-title h3 {
        width: 100%;
        /* float: left; */
        font-size: 14px;
    }
    .content-club p {
        width: 100%;
        font-size: 16px;
        color: #000;
    }
    .footer-sponsor-left hr {
        border-width: 2px;
        background-color: #9E0400;
        text-align: left;
        width: 60%;
        float: left;
    }
    .footer-sponsor-left h3 {
        width: 100%;
        height: 100%;
        padding-top: 1%;
        font-weight: bold;
        font-size: 20px;
        color: #9E0400;
    }
}

@media screen and (max-width: 360px) {
    .sponsor-tengah {
        padding: 10% 4% !important;
    }
    .sponsor-bawah {
        padding: 10% 4% !important;
    }
    .match-this .next-match-content-left img {
        width: 70%;
    }
    .match-this .next-match-content-right img {
        width: 70%;
    }
}

@media screen and (max-width: 667px) and ( min-width: 569px) {
    .sponsor-top img {
        margin-left: 39% !important;
        width: 21% !important;
    }
    .footer-menu h1, .footer-menu h2 {
        color: #fff;
        font-size: 100%;
    }
    .footer-left {
        width: 100% !important;
        height: 50% !important;
        /* float: left; */
    }
    .footer-medsos {
        width: 19% !important;
        height: 60% !important;
    }
    .footer hr {
        display: none !important;
    }
    .footer-right {
        width: 100% !important;
        height: 50% !important;
        float: left;
        padding: 2%;
    }
    .footer-right-top {
        width: 50% !important;
        height: 100% !important;
        float: left;
    }
    .footer-right-bottom {
        width: 50% !important;
        height: 100% !important;
        float: left;
    }
    .img-sponsor img {
        width: 77% !important;
        height: 68% !important;
    }
}

@media screen and (max-width: 800px) and ( min-width: 668px) {
    .sponsor-top img {
        margin-left: 39% !important;
        width: 21% !important;
    }
    .footer-menu h1, .footer-menu h2 {
        color: #fff;
        font-size: 100%;
    }
    .footer-medsos i {
        font-size: 16px !important;
    }
    .footer-medsos {
        height: 30% !important;
        margin-left: 2% !important;
    }
    .img-sponsor img {
        width: 60% !important;
        height: 66% !important;
    }
}

@media screen and (max-width: 800px) and ( min-width: 768px) {
    .sponsor-top img {
        margin-left: 0% !important;
        width: 21% !important;
    }
    .footer-menu h1, .footer-menu h2 {
        color: #fff;
        font-size: 100%;
    }
    .footer-medsos i {
        font-size: 20px !important;
        padding: 10px !important;
    }
    .footer-medsos {
        height: 40px !important;
        margin-left: 2% !important;
    }
    .img-sponsor img {
        width: 60% !important;
        height: 66% !important;
    }
    .sponsor-tengah {
        width: 100%;
        height: 110px;
        padding: 0% 0% !important;
        /* padding-right: 0%; */
        text-align: center;
        margin: auto;
    }
    .sponsor-bawah {
        width: 100%;
        height: 110px;
        text-align: center;
        padding: 0% 5% !important;
    }
}

@media screen and (max-width: 1201px) and ( min-width: 801px) {
    .footer-medsos {
        width: 23% !important;
        height: 42% !important;
    }
    .footer-medsos i {
        font-size: 20px !important;
        color: #AB1216;
        padding-left: 28%;
        padding-top: 22%;
    }
}