@media screen and (min-width: 1440px) {
    .footer {
        height: 250px;
        width: 1440px;
        background-color: #ab1216;
        background-image: url(../img/home/bg_bg2.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        /* float: left; */
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 4%;
        padding-bottom: 1%;
        margin: auto;
    }
}

@media screen and (max-width: 1439px) {
    .footer {
        height: 250px;
        width: 100%;
        background-color: #ab1216;
        background-image: url(../img/home/bg_bg2.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        float: left;
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 4%;
        padding-bottom: 1%;
    }
}

.footer hr {
    border: none;
    height: 70%;
    background-color: #fff;
    width: 1px;
    color: #fff;
    float: left;
}

.footer-left {
    width: 80%;
    height: 100%;
    float: left;
}

.footer-right {
    width: 19%;
    height: 100%;
    float: left;
    padding: 2%;
}

.footer-right-top {
    width: 100%;
    height: 50%;
}

.footer-medsos {
    width: 23%;
    height: 70%;
    margin-left: 2%;
    background-color: #fff;
    border-radius: 28px;
    float: left;
}

.footer-medsos i {
    font-size: 24px;
    color: #AB1216;
    padding-left: 28%;
    padding-top: 22%;
}

.footer-right-bottom {
    width: 100%;
    height: 50%;
    padding: 8% 1% 1% 1%;
}

.footer-right-bottom img {
    width: 100%;
}

.footer-menu {
    width: 15%;
    height: 100%;
    float: left;
    text-align: center;
    color: #fff;
}

.footer-menu h1, .footer-menu h2 {
    color: #fff;
}

.footer-menu h1 {
    font-size: small;
    margin-bottom: 5%;
    font-weight: bold;
}

@media screen and (min-width: 1440px) {
    .footer-title {
        /* padding: 0px 0px 15px 0; */
        background-color: #000;
        /* position: fixed; */
        margin: auto;
        left: 0;
        top: 0;
        right: 0;
        transition: all 0.5s;
        z-index: 997;
        width: 1440px;
        /* float: left; */
    }
}

@media (max-width: 1439px) {
    .footer-title {
        /* padding: 0px 0px 15px 0; */
        background-color: #000;
        /* position: fixed; */
        margin: auto;
        left: 0;
        top: 0;
        right: 0;
        transition: all 0.5s;
        z-index: 997;
        width: 100%;
        float: left;
    }
}

@media (max-width: 576px) and (min-width: 320px) {
    .footer {
        height: auto !important;
        width: 100%;
        background-color: #ab1216;
        background-image: url(../img/home/bg_bg2.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        float: left;
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 4%;
        padding-bottom: 1%;
    }
    .footer-menu {
        width: 100%;
        height: 100%;
        /* float: left; */
        text-align: center;
        color: #fff;
    }
    .footer-menu h1 {
        font-size: large;
        margin-top: 5%;
        margin-bottom: 0%;
        font-weight: bold;
    }
    .footer-menu h2 {
        color: #fff;
        font-size: 100%;
    }
    .footer-right {
        width: auto;
        height: auto;
        float: left;
        padding: 2%;
        margin-top: 4%;
    }
    .footer-right-bottom {
        width: 100% !important;
        height: 100% !important;
        float: left;
    }
    .footer-right-top {
        width: 100% !important;
    }
    .footer-medsos {
        width: 48px !important;
        height: 48px !important;
        margin-left: 6%;
        margin-right: 2%;
        background-color: #fff;
        border-radius: 25px;
        float: left;
    }
    .footer-medsos i {
        font-size: 26px !important;
    }
}