@media (min-width: 1440px) {
    .main-container {
        width: 1440px;
        margin: auto;
        padding: 0% 4%;
        background-color: #f6f6f6;
    }
}

@media (max-width: 1439px) {
    .main-container {
        width: 100%;
        padding: 0% 4%;
        background-color: #f6f6f6;
    }
}

.gallery-title {
    font-size: 36px;
    color: #ff0000;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
}

.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
}

.filter-button {
    font-size: 18px;
    border: 1px solid #ff0000;
    border-radius: 5px;
    text-align: center;
    color: #ff0000;
    margin-bottom: 30px;
}

.filter-button:hover {
    font-size: 18px;
    border: 1px solid #ff0000;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #ff0000;
}

.btn-default:active .filter-button:active {
    background-color: #ff0000;
    color: white;
}

.port-image {
    width: 100%;
}

.gallery_product {
    margin-bottom: 30px;
}

.gallery_product img {
    width: 100%;
}

.nav-gallery {
    width: 100%;
    height: 2.5%;
    text-align: left !important;
}

.filter-button {
    border: none !important;
    border-bottom: 1px solid #ff0000 !important;
    border-radius: 0px;
}

@media (max-width: 360px) {
    #mobile-nav-toggle {
        display: inline;
        top: 11% !important;
    }
    #logo-header {
        width: 50%;
        padding-left: 4%;
    }
}