.klasmen {
    width: 100%;
    height: 100%;
    text-align: right;
    color: #fff;
}

.klasmen .table thead tr {
    color: #fff;
    text-align: left;
}

.klasmen .table tbody td {
    color: #fff;
    text-align: left;
}

.full-table-link {
    text-align: right;
    color: #fff;
}

.table {
    height: 100%;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #9c080d;
    color: #fff;
}

@media screen and (min-width: 1440px) {
    .main-container {
        margin: auto;
        width: 1440px !important;
        height: 1500px;
        padding: 0% 4%;
        background-color: #f6f6f6;
    }
    .table-responsive {
        display: inline-table;
    }
}

@media screen and (max-width: 1439px) {
    .main-container {
        width: 100%;
        height: 1500px;
        padding: 0% 4%;
        background-color: #f6f6f6;
    }
    .table-responsive {
        display: inline-table;
    }
}

.next-match-content {
    width: 100%;
    height: 25%;
    /* border: 1px solid black; */
    background: url(../img/klasemen/Group\ 466.png);
    background-repeat: no-repeat;
    background-size: 101% 100%;
}

.klasemen-content {
    width: 100%;
    height: 75%;
}

.next-match-content-left {
    height: 100%;
    width: 30%;
    float: left;
    text-align: center;
    padding-top: 5%;
}

.next-match-content-left img {
    width: 50%;
}

.next-match-content-left h3 {
    color: #fff;
    font-size: xx-large;
}

.next-match-content-center {
    height: 100%;
    width: 40%;
    float: left;
    text-align: center;
    padding-top: 5%;
}

.next-match-date {
    margin-top: 10%;
}

.next-match-content-center h3 {
    color: #fff;
    font-size: xx-large;
}

.next-match-content-center h4 {
    color: #fff;
    font-size: x-large;
}

.next-match-content-right {
    height: 100%;
    width: 30%;
    float: left;
    text-align: center;
    padding-top: 5%;
}

.next-match-content-right img {
    width: 50%;
}

.next-match-content-right h3 {
    color: #fff;
    font-size: xx-large;
}

.klasemen-content .row {
    width: 100%;
    height: 100%;
    margin-right: 0px;
    margin-left: 0px;
}

.klasemen-content .row .col-md-12 {
    width: 100%;
    height: 100%;
    padding-right: 0px;
    padding-left: 0px;
}

.klasemen-content .row .col-md-12 .card {
    width: 100%;
    height: 100%;
}

.klasemen-content .row .col-md-12 .card .tab-content {
    width: 100%;
    height: 95%;
}

.klasemen-content .row .col-md-12 .card .tab-content .tab-pane {
    width: 100%;
    height: 100%;
    padding: 0px 0;
}

.nav-tabs {
    border-bottom: 2px solid #DDD;
    height: 5%;
    padding: 1% 1%;
    background-color: #888888;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border-width: 0;
    border-bottom: 1px solid #9c080d;
}

.nav-tabs>li>a {
    border: none;
    color: #fff;
}

.nav-tabs>li.active>a, .nav-tabs>li>a:hover {
    border: none;
    /* color: #9c080d !important; */
    background: transparent;
    border-bottom: 1px solid #9c080d;
}

.nav-tabs>li>a::after {
    content: "";
    background: #9c080d;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -1px;
    transition: all 250ms ease 0s;
    transform: scale(0);
}

.nav-tabs>li.active>a::after, .nav-tabs>li:hover>a::after {
    transform: scale(1);
}

.tab-nav>li>a::after {
    background: #9c080d none repeat scroll 0% 0%;
    color: #fff;
}

.tab-pane {
    padding: 15px 0;
}

.tab-content {
    padding: 20px
}

.card {
    background: #FFF none repeat scroll 0% 0%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
}

.next-match {
    width: 100%;
    height: 10%;
    border-bottom: 1px solid #888888;
}

.next-match-dates {
    width: 20%;
    height: 100%;
    /* border: 1px solid black; */
    float: left;
    text-align: center;
    padding-top: 1%;
}

.next-match-dates h4 {
    font-size: x-large;
}

.next-match-team {
    width: 60%;
    height: 100%;
    /* border: 1px solid black; */
    float: left;
    margin: auto;
    text-align: center;
    padding-top: 1%;
}

.next-match-team-home {
    width: 40%;
    height: 100%;
    /* border: 1px solid black; */
    float: left;
    text-align: right;
    padding-top: 1%;
}

.next-match-team-vs {
    width: 10%;
    height: 100%;
    /* border: 1px solid black; */
    float: left;
    text-align: center;
    padding-top: 3%;
}

.next-match-team-away {
    width: 40%;
    height: 100%;
    /* border: 1px solid black; */
    float: left;
    text-align: left;
    padding-top: 1%;
}

.next-match-team-away img {
    width: 20%
}

.next-match-team-home img {
    width: 20%
}

.prev-match-team-away img {
    width: 20%
}

.prev-match-team-home img {
    width: 20%
}

.next-match-team h3 {
    font-size: x-large;
    font-weight: bold;
}

.next-match-type {
    width: 20%;
    height: 100%;
    /* border: 1px solid black; */
    float: left;
    text-align: center;
    padding-top: 1%;
}

.next-match-type h4 {
    font-size: large;
    color: #9c080d;
}

.prev-match {
    width: 100%;
    height: 10%;
    border-bottom: 1px solid #000;
    background-color: #eeeeee;
}

.prev-match-dates {
    width: 20%;
    height: 100%;
    /* border: 1px solid black; */
    float: left;
    text-align: center;
    padding-top: 2%;
}

.prev-match-dates h4 {
    font-size: x-large;
}

.prev-match-team {
    width: 60%;
    height: 100%;
    /* border: 1px solid black; */
    float: left;
    text-align: center;
    padding-top: 2%;
}

.prev-match-team h3 {
    font-size: x-large;
    font-weight: bold;
}

.prev-match-type {
    width: 20%;
    height: 100%;
    /* border: 1px solid black; */
    float: left;
    text-align: center;
    padding-top: 2%;
}

.prev-match-type h4 {
    font-size: large;
    color: #9c080d;
}

@media screen and (max-width: 568px) and (min-width: 320px) {
    #mobile-nav-toggle {
        display: inline;
        top: 4.5% !important;
    }
    #logo-header {
        width: 50%;
        padding-left: 4%;
    }
    .next-match-content-left {
        padding-top: 15%;
    }
    .next-match-content-left h3 {
        color: #fff;
        font-size: large;
    }
    .next-match-content-center {
        padding-top: 10%;
    }
    .next-match-content-center h3 {
        color: #fff;
        font-size: large;
    }
    .next-match-content-center h4 {
        color: #fff;
        font-size: larger;
    }
    .next-match-content-right {
        padding-top: 13%;
        height: auto !important;
    }
    .next-match-content-right h3 {
        color: #fff;
        font-size: large;
    }
    .next-match-content {
        width: 100%;
        height: 14%;
    }
    .next-match-dates h4 {
        font-size: smaller;
    }
    .prev-match-dates h4 {
        font-size: larger;
    }
    .next-match-team h3 {
        font-size: smaller;
        font-weight: bold;
    }
    .prev-match-team h3 {
        font-size: smaller;
        font-weight: bold;
    }
    .next-match-team-away img {
        width: 50%;
        display: none;
    }
    .next-match-team-home img {
        width: 50%;
        display: none;
    }
    .prev-match-team-away img {
        width: 50%;
        display: none;
    }
    .prev-match-team-home img {
        width: 50%;
        display: none;
    }
    .next-match-team {
        width: 60%;
        height: 100%;
        /* border: 1px solid black; */
        float: left;
        margin: auto;
        text-align: center;
        padding-top: 10%;
    }
    .prev-match-team {
        width: 60%;
        height: 100%;
        /* border: 1px solid black; */
        float: left;
        text-align: center;
        padding-top: 10%;
    }
    .next-match-team-vs {
        width: 10%;
        height: 100%;
        /* border: 1px solid black; */
        float: left;
        text-align: center;
        padding-top: 0%;
    }
    .date-match {
        font-size: larger;
    }
    .table-responsive {
        display: block;
    }
}

@media screen and (max-width: 768px) and (min-width: 569px) {
    .next-match-team-away img {
        width: 50%;
        display: none;
    }
    .next-match-team-home img {
        width: 50%;
        display: none;
    }
    .prev-match-team-away img {
        width: 50%;
        display: none;
    }
    .prev-match-team-home img {
        width: 50%;
        display: none;
    }
    .table-responsive {
        display: block;
    }
}