@media screen and (min-width: 1440px) {
    .main-news {
        width: 1440px;
        height: 800px;
        background-color: #f6f6f6;
        margin: auto;
    }
    .all-news {
        width: 1440px;
        /* height: 1000px; */
        margin: auto;
        background-color: #f6f6f6;
    }
    .main-detail-news-foto {
        width: 1440px;
        margin: auto;
        height: 700px;
        background-color: #F6F6F6;
    }
}

@media screen and (max-width: 1439px) {
    .main-news {
        width: 100%;
        height: 800px;
        background-color: #f6f6f6;
    }
    .all-news {
        width: 100%;
        /* height: 1000px; */
        background-color: #f6f6f6;
    }
    .main-detail-news-foto {
        width: 100%;
        height: 700px;
        background-color: #F6F6F6;
    }
}

.news-content {
    margin: auto;
    width: 85%;
    height: 99%;
}

.news-content-left {
    width: 70%;
    height: 100%;
    float: left;
    margin-right: 1%;
}

.news-content-left .carousel-item h1 {
    /* margin-top: -100px; */
    /* float: left; */
    /* color: #fff;
    font-size: 17pt; */
}

.news-content-right .carousel-item h1 {
    /* margin-top: -100px; */
    /* float: left; */
    /* color: #fff;
    font-size: 17pt; */
}

.news-content-right {
    width: 29%;
    height: 100%;
    float: left;
}

.news-content-top {
    width: 100%;
    height: 60%;
}

.news-content-bottom {
    width: 100%;
    height: 40%;
}

.news-content-bottom-left {
    width: 50%;
    height: 100%;
    float: left;
}

.news-content-bottom-right {
    width: 50%;
    height: 100%;
    float: left;
}

.news-content-right-top {
    width: 100%;
    height: 69%;
    background-color: #fff;
    margin-bottom: 1%;
}

.news-content-right-top-header {
    width: 100%;
    height: 7%;
}

.news-content-right-top-header hr {
    margin-top: 0px;
    margin-bottom: 0px;
}

.news-content-right-top-header-left {
    width: 40% !important;
    height: 100%;
    float: left;
}

.news-content-right-top-header-left h3 {
    width: 100%;
    height: 100%;
    padding-top: 7.5%;
    padding-left: 4.5%;
    font-weight: bold;
    font-size: 14px;
    color: #F22613;
}

.news-content-right-top-header-left hr {
    border-width: 1.5px;
    background-color: #F22613;
}

.news-content-right-top-header-right {
    width: 60% !important;
    height: 100%;
}

.news-content-right-top-content {
    width: 100%;
    height: 83%;
}

.news-content-right-top-footer {
    width: 100%;
    height: 8%;
}

.news-content-right-top-content-row {
    margin: auto;
    width: 90%;
    height: 23%;
    /* border: 1px solid #000; */
    margin-right: 0px !important;
    margin-left: 5% !important;
    margin-top: 3%;
    box-shadow: 0px 1px 13px -4px #888888;
    padding-top: 4%;
    padding-bottom: 4%;
}

.news-content-right-top-content-row .photo {
    width: 40%;
    height: 100%;
    float: left;
}

.news-content-right-top-content-row img {
    height: 100%;
    width: 100%;
}

.news-content-right-top-content-row .info {
    width: 58%;
    height: 100%;
    float: left;
    margin-left: 2%;
}

.news-content-right-top-content-row .info .tgl h5 {
    font-style: italic;
    color: #888888;
}

.news-content-right-top-content-row .info .title h5 {
    font-weight: bold;
}

.news-content-right-top-content-row .info .resume {
    color: #000;
}

.news-content-right-top-footer h5 {
    margin-left: 26%;
    font-size: 120%;
    margin-top: 4%;
}

.news-content-right-bottom {
    width: 100%;
    height: 30%;
}

.news-content-next-match {
    width: 100%;
    height: 100%;
    background: url('../img/klasemen/Group\ 466.png');
    background-repeat: no-repeat;
    background-size: 101% 100%;
}

/* tabs */

.container {
    margin: auto;
    width: 90%;
    height: 99%;
    padding-left: 0px;
    padding-right: 0px;
}

.all-news .col-md-12 {
    width: 100%;
    background-color: #FFF;
}

.all-news .col-md-12 .row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #F22613;
}

/* Tabs*/

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#tabs {
    background: #007b5e;
    color: #eee;
}

#tabs h6.section-title {
    color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    /* color: #f3f3f3; */
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 4px solid !important;
    font-size: 20px;
    font-weight: bold;
}

#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #eee;
    font-size: 20px;
}

.news-right-content-row {
    width: 33%;
    height: 43%;
    margin-top: 0%;
    margin-bottom: 1%;
}

/* tabs and */

/* detail news */

.detail-news-image {
    height: 600px;
    padding-top: 1%;
    background-color: #F6F6F6;
}

.detail-news-image-image {
    margin-top: 1%;
    margin: auto;
    width: 85%;
    height: 99%;
}

.detail-news-image-image .col-sm-12 {
    width: 100%;
    height: 100%;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.detail-news-image-image .col-item {
    width: 100%;
    height: 100%;
}

.detail-news-image-image .photo {
    width: 100%;
    height: 100%;
}

.detail-news-image-image .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.detail-news-image-image .info {
    /* position: absolute; */
    top: 600px;
    /*left: 10%;*/
    color: #fff;
    word-wrap: break-word;
    margin-top: -9%;
}

.detail-news-image-image .info .title h5 {
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    padding-top: 40%;
}

.detail-news-content {
    height: 1500px;
    background-color: #F6F6F6;
}

.main-detail-news-content {
    margin-top: 1%;
    margin: auto;
    width: 85%;
    height: 99%;
}

.main-detail-news-content-left {
    width: 70%;
    height: 100%;
    float: left;
    margin-right: 1%;
    padding: 0% 2%;
    background-color: #fff;
}

.main-detail-news-content-right {
    width: 29%;
    height: 100%;
    float: left;
}

.main-detail-news-content-left-head {
    width: 100%;
    height: 3%;
    border-bottom: 2px solid #888888;
}

.header-content-detail-news-left {
    width: 50%;
    height: 100%;
    float: left;
    padding-top: 2%;
}

.header-content-detail-news-left h5 {
    font-size: large;
    font-style: italic;
}

.header-content-detail-news-right {
    width: 50%;
    height: 100%;
    float: right;
    padding-top: 2%;
}

.header-content-detail-news-right h5 {
    font-style: italic;
    font-size: large;
    text-align: right;
}

.header-content-detail-news-right h5 b {
    color: #000 !important;
}

.main-detail-news-content-left-content {
    width: 100%;
    height: 90%;
    padding-top: 1%;
    border-bottom: 2px solid #888888;
}

.main-detail-news-content-left-content p {
    font-size: 14px;
}

.main-detail-news-content-left-footer {
    width: 100%;
    height: 7%;
    padding: 1% 0%;
}

.footer-content-detail-news-left {
    float: left;
    width: 33%;
    height: 100%;
    padding-top: 4%;
}

.footer-content-detail-news-left a {
    font-size: small;
}

.footer-content-detail-news-center {
    float: left;
    width: 33%;
    height: 100%;
    padding-top: 1%;
}

.footer-content-detail-news-center h5 {
    margin-bottom: 2%;
}

.footer-content-detail-news-right {
    float: left;
    width: 33%;
    height: 100%;
    padding-top: 4%;
}

.footer-content-detail-news-right h5 {
    font-size: small;
    text-align: right;
}

.share-socmed {
    width: 17%;
    height: 59%;
    float: left;
    border-radius: 69px;
    padding: 3%;
    padding-left: 6%;
    background-color: #F22613;
    margin-right: 1%;
}

.share-socmed a {
    font-size: x-large;
}

.share-socmed i {
    color: #fff;
}

.share-socmed i.fa-instagram {
    margin-left: -17%;
}

.share-socmed i.fa-twitter {
    margin-left: -17%;
}

.main-detail-news-content-right .news-content-right-top {
    width: 100%;
    height: 36%;
    background-color: #fff;
    margin-bottom: 1%;
}

.main-detail-news-content-right .news-content-right-bottom {
    width: 100%;
    height: 63%;
    background-color: #fff;
    margin-bottom: 1%;
}

.news-content-right-banner1 {
    width: 100%;
    height: 24%;
    margin-bottom: 12%;
}

.news-content-right-banner2 {
    width: 100%;
    height: 17%;
    margin-bottom: 15%;
}

.news-content-right-banner3 {
    width: 100%;
    height: 30%;
}

/* detail news end */

/* detail news foto */

.page-header {
    height: 20px;
    width: 100%;
    background-color: #710907;
}

.title-page-header {
    height: 100%;
    width: 92%;
    margin: auto;
    padding-top: 0.15%;
}

.title-page-header h5 {
    color: #fff;
    vertical-align: middle;
}

.title-page-header h5 b {
    color: #fff;
    vertical-align: middle;
}

.main-detail-news-foto-content {
    height: 100%;
    width: 85%;
    background-color: #fff;
    margin: auto;
    padding: 0% 4%;
}

.main-detail-news-foto-header {
    width: 100%;
    height: 15%;
}

.main-detail-news-foto-header-left {
    width: 50%;
    height: 100%;
    float: left;
    padding: 2% 0%;
}

.main-detail-news-foto-header-left h5 b {
    color: #000;
    font-size: large;
}

.main-detail-news-foto-header-left h2 {
    font-size: xx-large;
    padding: 1% 0%;
}

.main-detail-news-foto-header-left h2 b {
    color: #000;
}

.main-detail-news-foto-header-right {
    width: 50%;
    height: 100%;
    float: left;
}

.main-detail-news-foto-header-right p {
    text-align: right;
    margin-top: 14%;
}

.content-detail-news-foto {
    width: 100%;
    height: 82%;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    display: block;
    width: 100%;
    height: 100%;
}

.carousel {
    position: relative;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-inner>.item {
    position: relative;
    display: none;
    -webkit-transition: .6s ease-in-out left;
    -o-transition: .6s ease-in-out left;
    transition: .6s ease-in-out left;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    line-height: 1;
    width: 100%;
    height: 100%;
}

@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-inner>.item {
        -webkit-transition: -webkit-transform .6s ease-in-out;
        -o-transition: -o-transform .6s ease-in-out;
        transition: transform .6s ease-in-out;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000;
        perspective: 1000;
    }
    .carousel-inner>.item.next, .carousel-inner>.item.active.right {
        left: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    .carousel-inner>.item.prev, .carousel-inner>.item.active.left {
        left: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    .carousel-inner>.item.next.left, .carousel-inner>.item.prev.right, .carousel-inner>.item.active {
        left: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        height: 100%;
        width: 100%;
    }
}

.carousel-inner>.active, .carousel-inner>.next, .carousel-inner>.prev {
    display: block;
    height: 100%;
    width: 100%;
}

.carousel-inner>.active {
    left: 0;
    height: 100%;
    width: 100%;
}

.carousel-inner>.next, .carousel-inner>.prev {
    position: absolute;
    top: 0;
    width: 100%;
}

.carousel-inner>.next {
    left: 100%;
}

.carousel-inner>.prev {
    left: -100%;
}

.carousel-inner>.next.left, .carousel-inner>.prev.right {
    left: 0;
}

.carousel-inner>.active.left {
    left: -100%;
}

.carousel-inner>.active.right {
    left: 100%;
}

.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    filter: alpha(opacity=50);
    opacity: .5;
}

.carousel-control.left {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
}

.carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}

.carousel-control:hover, .carousel-control:focus {
    color: #fff;
    text-decoration: none;
    filter: alpha(opacity=90);
    outline: 0;
    opacity: .9;
}

.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}

.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left {
    left: 50%;
    margin-left: -10px;
}

.carousel-control .icon-next, .carousel-control .glyphicon-chevron-right {
    right: 50%;
    margin-right: -10px;
}

.carousel-control .icon-prev, .carousel-control .icon-next {
    width: 20px;
    height: 20px;
    margin-top: -10px;
    font-family: serif;
}

.carousel-control .icon-prev:before {
    content: '\2039';
}

.carousel-control .icon-next:before {
    content: '\203a';
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    border-radius: 10px;
}

.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #fff;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

.carousel-caption .btn {
    text-shadow: none;
}

@media screen and (min-width: 768px) {
    .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
        width: 30px;
        height: 30px;
        margin-top: -15px;
        font-size: 30px;
    }
    .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
        margin-left: -15px;
    }
    .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
        margin-right: -15px;
    }
    .carousel-caption {
        right: 20%;
        left: 20%;
        padding-bottom: 30px;
    }
    .carousel-indicators {
        bottom: 20px;
    }
}

.carousel-inner {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel-control.right {
    right: 0;
    left: auto;
    background-image: none !important;
    background-repeat: repeat-x;
}

.carousel-control.left {
    left: 0;
    right: auto;
    background-image: none !important;
    background-repeat: repeat-x;
}

#carousel-example-generic {
    margin: 20px auto;
    width: 100%;
}

#carousel-custom {
    margin: auto;
    width: 100%;
}

#carousel-custom .carousel-indicators {
    margin: 10px 0 0;
    overflow: auto;
    position: static;
    text-align: left;
    white-space: nowrap;
    width: 100%;
    height: 11%;
    overflow: hidden;
}

#carousel-custom .carousel-indicators li {
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    height: auto;
    margin: 0 !important;
    width: auto;
}

#carousel-custom .carousel-indicators li img {
    display: block;
    opacity: 0.5;
}

.meartlab li img {
    height: 52px;
}

#carousel-custom .carousel-indicators li.active img {
    opacity: 1;
    height: 100%;
}

#carousel-custom .carousel-indicators li:hover img {
    opacity: 0.75;
}

#carousel-custom .carousel-outer {
    position: relative;
    height: 89%;
    width: 100%;
}

.carousel-indicators li img {
    height: 66px;
    width: auto;
}

/* detail news foto end */

@media screen and (max-width: 576px) and (min-width: 320px) {
    .detail-news-image-image .info {
        position: absolute ;
        top: 8.7% !important;
        left: 10% ;
        height: 2% !important;
        width: 85%;
    }
    .title-background{
        position: absolute; left: 50%; 
        transform: translate(-53%, -20%) !important; 
        color: white; 
        font-family: sans-serif; 
        text-align: center; 
        text-shadow: 0 0 20px rgba(0,0,0,0.5);
        width: 100% !important;
        height: 100% !important;
    }
    #mobile-nav-toggle {
        top: 2% !important;
    }
    .main-news {
        height: 1400px;
    }
    .news-content-left {
        width: 100% !important;
        height: 40% !important;
        float: left;
        margin-right: 0% !important;
    }
    .news-content-right {
        margin-top: 1%;
        width: 100%;
        height: 59%;
        float: left;
    }
    .news-content-right-top {
        width: 100%;
        height: 69%;
        background-color: #fff;
        margin-bottom: 1%;
        margin-right: 1%;
        float: left;
    }
    .news-content-right-bottom {
        width: 100%;
        height: 25%;
        float: left;
    }
    .detail-news-image {
        height: 200px;
        padding-top: 1%;
    }
    .detail-news-image-image .info {
        position: absolute;
        bottom: 1% !important;
    }
    .detail-news-image-image .info .title h5 {
        font-size: 17px !important;
    }
    .detail-news-content {
        height: 3000px;
        background-color: #F6F6F6;
    }
    .detail-news-image-image .info {
        position: absolute;
        top: 7%;
        left: 10%;
        height: 3%;
    }
    .main-detail-news-content-left {
        width: 100% !important;
        height: 47%;
    }
    .main-detail-news-content-left-content {
        width: 100%;
        height: 90% !important;
        overflow-x: scroll;
    }
    .share-socmed {
        width: 32%;
        height: 41%;
    }
    .main-detail-news-content-left-head {
        height: 4% !important;
    }
    .share-socmed i.fa-instagram {
        margin-left: 0% !important;
    }
    .share-socmed i.fa-twitter {
        margin-left: 0% !important;
    }
    .main-detail-news-content-right {
        width: 100% !important;
        height: 54% !important;
    }
    .main-detail-news-content-left-footer {
        height: 6% !important;
    }
    .main-detail-news-foto-header-left h5 b {
        color: #000;
        font-size: small;
    }
    .main-detail-news-foto-header-left h2 {
        font-size: large;
        padding: 1% 0%;
    }
    .main-detail-news-foto-header {
        width: 100%;
        height: 20%;
    }
    .main-detail-news-foto {
        width: 100%;
        height: 350px;
        background-color: #F6F6F6;
    }
    #carousel-custom .carousel-outer {
        position: relative;
        height: 75%;
        width: 100%;
    }
    #carousel-custom .carousel-indicators li img {
        height: 100%;
    }
    #carousel-custom .carousel-indicators {
        height: 16%;
    }
    #logo-header img {
        width: 200% !important;
    }
    .news-content-top {
        width: 100%;
        height: 30%;
    }
    .news-content-bottom-left {
        width: 100%;
        height: 80%;
        float: left;
    }
    .news-content-bottom-right {
        width: 100%;
        height: 80%;
        float: left;
    }
    .news-content-right-top-content {
        width: 100%;
        height: 75%;
    }
    .col-item .info {
        margin-top: 0% !important;
    }
    .col-item .price h5 {
        color: #8d8d8d !important;
    }
    .col-item .title h5 {
        color: #000;
        font-size: large;
    }
    .main-detail-news-content-left-content p {
        font-size: larger;
    }
    .info .row .title h5 {
        white-space: pre-wrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .detail-news-image-image .info {
        position: absolute;
        top: 270px;
        left: 10%;
        height: 3%;
    }
}

@media screen and (max-width: 768px) and ( min-width: 576px) {
    .detail-news-image-image .info {
        /* position: absolute; */
        top: 600px;
        /* left: 10%; */
        color: #fff;
        word-wrap: break-word;
        position: absolute;
        height: 7%;
        width: 85%;
        margin-top: -6% !important;
    }
    .title-background {
        transform: translate(-50%, -10%) !important;
        width: 100% !important;
        height: 100% !important;
    }
    #mobile-nav-toggle {
        top: 5% !important;
    }
    .main-news {
        height: 1400px;
    }
    .news-content-left {
        width: 100% !important;
        height: 45% !important;
        float: left;
        margin-right: 0% !important;
    }
    .news-content-right-top-content-row {
        padding-top: 2%;
        padding-bottom: 2%;
    }
    .news-content-right {
        margin-top: 1%;
        width: 100%;
        height: 54%;
        float: left;
    }
    .news-content-right-top {
        width: 100%;
        height: 69%;
        background-color: #fff;
        margin-bottom: 1%;
        margin-right: 1%;
        float: left;
    }
    .news-content-right-bottom {
        width: 100%;
        height: 30%;
        float: left;
    }
    .news-content-right-top-footer h5 {
        margin-left: 39% !important;
        font-size: 100% !important;
        margin-top: 3% !important;
    }
    .detail-news-image {
        height: 300px;
        padding-top: 1%;
    }
    .detail-news-image-image .info {
        position: absolute;
        bottom: 1% !important;
    }
    .detail-news-image-image .info .title h5 {
        font-size: 30px !important;
    }
    .detail-news-content {
        height: 2500px;
        background-color: #F6F6F6;
    }
    .detail-news-image-image .info {
        position: absolute;
        top: 12%;
        /*left: 10%;*/
        height: 3%;
    }
    .main-detail-news-content-left {
        width: 100% !important;
        height: 47%;
    }
    .main-detail-news-content-left-content {
        width: 100%;
        height: 89% !important;
    }
    .share-socmed {
        width: 22%;
        height: 81%;
    }
    .main-detail-news-content-left-head {
        height: 4% !important;
    }
    .share-socmed i.fa-instagram {
        margin-left: 0% !important;
    }
    .share-socmed i.fa-twitter {
        margin-left: 0% !important;
    }
    .main-detail-news-content-right {
        width: 100% !important;
        height: 54% !important;
    }
    .main-detail-news-content-left-footer {
        height: 6% !important;
    }
    .main-detail-news-content-right .news-content-right-top {
        height: 40% !important;
    }
    .main-detail-news-content-right .news-content-right-bottom {
        padding-left: 13%;
        padding-right: 13%;
    }
    .news-content-right-banner3 {
        height: 36% !important;
    }
    .news-content-right-banner2 {
        height: 23% !important;
        margin-bottom: 6% !important;
    }
    .news-content-right-banner1 {
        height: 29% !important;
        margin-bottom: 3% !important;
    }
}

@media screen and (max-width: 992px) and ( min-width: 768px) {
    #mobile-nav-toggle {
        top: 2.5% !important;
    }
    .main-news {
        height: 1600px;
    }
    .news-content-left {
        width: 100% !important;
        height: 45% !important;
        float: left;
        margin-right: 0% !important;
    }
    .news-content-right-top-content-row {
        padding-top: 2%;
        padding-bottom: 2%;
    }
    .news-content-right {
        margin-top: 1%;
        width: 100%;
        height: 54%;
        float: left;
    }
    .news-content-right-top {
        width: 100%;
        height: 69%;
        background-color: #fff;
        margin-bottom: 1%;
        margin-right: 1%;
        float: left;
    }
    .news-content-right-bottom {
        width: 100%;
        height: 30%;
        float: left;
    }
    .news-content-right-top-footer h5 {
        margin-left: 39% !important;
        font-size: 80% !important;
        margin-top: 4% !important;
    }
}

@media screen and (max-width: 1200px) and ( min-width: 992px) {
    .news-content-left {
        width: 100% !important;
        height: 59% !important;
        float: left;
        margin-right: 0% !important;
    }
    .news-content-right-top-content-row {
        padding-top: 2%;
        padding-bottom: 2%;
    }
    .news-content-right {
        margin-top: 1%;
        width: 100%;
        height: 40%;
        float: left;
    }
    .news-content-right-top-header {
        height: 11% !important;
    }
    .news-content-right-top-content-row {
        width: 45% !important;
        height: 40% !important;
        float: left;
    }
    .news-content-right-top {
        width: 49%;
        height: 100%;
        background-color: #fff;
        margin-bottom: 0% !important;
        margin-right: 1%;
        float: left;
    }
    .news-content-right-bottom {
        width: 50%;
        height: 100%;
        float: left;
    }
    .news-content-right-top-footer h5 {
        margin-left: 39% !important;
        font-size: 80% !important;
        margin-top: 0% !important;
    }
    .main-detail-news-content-right .news-content-right-top-content-row {
        width: 100% !important;
        height: 23% !important;
        float: none !important;
        margin-left: 0% !important;
    }
}

.next-match-content-left {
    height: 100%;
    width: 30%;
    float: left;
    text-align: center;
    padding-top: 13%;
}

.next-match-content-center {
    height: 100%;
    width: 40%;
    float: left;
    text-align: center;
    padding-top: 12%;
}

.next-match-content-right {
    height: 100%;
    width: 30%;
    float: left;
    text-align: center;
    padding-top: 13%;
}

.next-match-content-left img {
    width: 100%;
}

.next-match-content-left h3 {
    color: #fff;
    font-size: large;
}

.next-match-content-center h3 {
    color: #fff;
    font-size: small;
}

.next-match-content-center h4 {
    color: #fff;
    font-size: small;
}

.next-match-date {
    margin-top: 10%;
}

.next-match-content-right img {
    width: 100%;
}

.next-match-content-right h3 {
    color: #fff;
    font-size: large;
}

.news-content-next-match-iklan1 {
    width: 100%;
    height: 100%;
}

.news-content-next-match-iklan2 {
    width: 100%;
    height: 100%;
}

.slider-text-news {
    /* position: absolute;
    bottom: 11%;
    left: 13%; */
    width: 100% !important;
}

.slider-text-news h5 {
    /* margin-top: -100px; */
    /* float: left; */
    margin-top: 0;
    margin-bottom: 0.8vw;
    font-size: 5vw;
    font-weight: bold;
    color: white;
}

.slider-text-news h1 {
    /* margin-top: -100px; */
    /* float: left; */
    font-size: 2vw;
    font-weight: 100;
    margin-top: 0;
    color: white;
}