.flag_12 { background-repeat: no-repeat; }
.left_12 { padding-left: 16px; background-position: left top; }
.right_12 { padding-right: 16px; background-position: right top; }
.tennis_12_left {background-image: url(tennis/tennis.png); background-repeat: no-repeat;}
.golf_12_left {background-image: url(golf/golf.png); background-repeat: no-repeat;}
.motorsports_12_left {background-image: url(motorsports/motorsports.png); background-repeat: no-repeat;}
.darts_12_left {background-image: url(darts/darts.png); background-repeat: no-repeat;}
.flag_16 { background-repeat: no-repeat; }
.left_16 { padding-left: 20px; background-position: left top; }
.right_16 { padding-right: 20px; background-position: right top; }
.flag_16 { background-image: url(map.png); background-repeat: no-repeat; }
.afghanistan_16_left { background-position: 0 -17px; }
.afghanistan_16_right { background-position: 100% -17px; }
.africa_16_left { background-position: 0 -33px; }
.africa_16_right { background-position: 100% -33px; }
.albania_16_left { background-position: 0 -49px; }
.albania_16_right { background-position: 100% -49px; }
.algeria_16_left { background-position: 0 -65px; }
.algeria_16_right { background-position: 100% -65px; }
.american-samoa_16_left { background-position: 0 -81px; }
.american-samoa_16_right { background-position: 100% -81px; }
.andorra_16_left { background-position: 0 -97px; }
.andorra_16_right { background-position: 100% -97px; }
.angola_16_left { background-position: 0 -113px; }
.angola_16_right { background-position: 100% -113px; }
.anguilla_16_left { background-position: 0 -129px; }
.anguilla_16_right { background-position: 100% -129px; }
.antigua-and-barbuda_16_left { background-position: 0 -145px; }
.antigua-and-barbuda_16_right { background-position: 100% -145px; }
.argentina_16_left { background-position: 0 -161px; }
.argentina_16_right { background-position: 100% -161px; }
.armenia_16_left { background-position: 0 -177px; }
.armenia_16_right { background-position: 100% -177px; }
.aruba_16_left { background-position: 0 -193px; }
.aruba_16_right { background-position: 100% -193px; }
.asia_16_left { background-position: 0 -209px; }
.asia_16_right { background-position: 100% -209px; }
.australia_16_left { background-position: 0 -225px; }
.australia_16_right { background-position: 100% -225px; }
.austria_16_left { background-position: 0 -241px; }
.austria_16_right { background-position: 100% -241px; }
.azerbaijan_16_left { background-position: 0 -257px; }
.azerbaijan_16_right { background-position: 100% -257px; }
.bahamas_16_left { background-position: 0 -273px; }
.bahamas_16_right { background-position: 100% -273px; }
.bahrain_16_left { background-position: 0 -289px; }
.bahrain_16_right { background-position: 100% -289px; }
.bangladesh_16_left { background-position: 0 -305px; }
.bangladesh_16_right { background-position: 100% -305px; }
.barbados_16_left { background-position: 0 -321px; }
.barbados_16_right { background-position: 100% -321px; }
.belarus_16_left { background-position: 0 -337px; }
.belarus_16_right { background-position: 100% -337px; }
.belgium_16_left { background-position: 0 -353px; }
.belgium_16_right { background-position: 100% -353px; }
.belize_16_left { background-position: 0 -369px; }
.belize_16_right { background-position: 100% -369px; }
.benin_16_left { background-position: 0 -385px; }
.benin_16_right { background-position: 100% -385px; }
.bermuda_16_left { background-position: 0 -401px; }
.bermuda_16_right { background-position: 100% -401px; }
.bhutan_16_left { background-position: 0 -417px; }
.bhutan_16_right { background-position: 100% -417px; }
.bolivia_16_left { background-position: 0 -433px; }
.bolivia_16_right { background-position: 100% -433px; }
.bonaire_16_left { background-position: 0 -449px; }
.bonaire_16_right { background-position: 100% -449px; }
.bosnia-herzegovina_16_left { background-position: 0 -465px; }
.bosnia-herzegovina_16_right { background-position: 100% -465px; }
.botswana_16_left { background-position: 0 -481px; }
.botswana_16_right { background-position: 100% -481px; }
.brazil_16_left { background-position: 0 -497px; }
.brazil_16_right { background-position: 100% -497px; }
.british-virgin-islands_16_left { background-position: 0 -513px; }
.british-virgin-islands_16_right { background-position: 100% -513px; }
.brunei-darussalam_16_left { background-position: 0 -529px; }
.brunei-darussalam_16_right { background-position: 100% -529px; }
.bulgaria_16_left { background-position: 0 -545px; }
.bulgaria_16_right { background-position: 100% -545px; }
.burkina-faso_16_left { background-position: 0 -561px; }
.burkina-faso_16_right { background-position: 100% -561px; }
.burundi_16_left { background-position: 0 -577px; }
.burundi_16_right { background-position: 100% -577px; }
.cambodia_16_left { background-position: 0 -593px; }
.cambodia_16_right { background-position: 100% -593px; }
.cameroon_16_left { background-position: 0 -609px; }
.cameroon_16_right { background-position: 100% -609px; }
.canada_16_left { background-position: 0 -625px; }
.canada_16_right { background-position: 100% -625px; }
.cape-verde-islands_16_left { background-position: 0 -641px; }
.cape-verde-islands_16_right { background-position: 100% -641px; }
.cayman-islands_16_left { background-position: 0 -657px; }
.cayman-islands_16_right { background-position: 100% -657px; }
.central-african-republic_16_left { background-position: 0 -673px; }
.central-african-republic_16_right { background-position: 100% -673px; }
.chad_16_left { background-position: 0 -689px; }
.chad_16_right { background-position: 100% -689px; }
.chile_16_left { background-position: 0 -705px; }
.chile_16_right { background-position: 100% -705px; }
.china-pr_16_left { background-position: 0 -721px; }
.china-pr_16_right { background-position: 100% -721px; }
.chinese-taipei_16_left { background-position: 0 -737px; }
.chinese-taipei_16_right { background-position: 100% -737px; }
.colombia_16_left { background-position: 0 -753px; }
.colombia_16_right { background-position: 100% -753px; }
.comoros_16_left { background-position: 0 -769px; }
.comoros_16_right { background-position: 100% -769px; }
.congo-dr_16_left { background-position: 0 -785px; }
.congo-dr_16_right { background-position: 100% -785px; }
.congo_16_left { background-position: 0 -801px; }
.congo_16_right { background-position: 100% -801px; }
.cook-islands_16_left { background-position: 0 -817px; }
.cook-islands_16_right { background-position: 100% -817px; }
.costa-rica_16_left { background-position: 0 -833px; }
.costa-rica_16_right { background-position: 100% -833px; }
.cote-divoire_16_left { background-position: 0 -849px; }
.cote-divoire_16_right { background-position: 100% -849px; }
.croatia_16_left { background-position: 0 -865px; }
.croatia_16_right { background-position: 100% -865px; }
.cuba_16_left { background-position: 0 -881px; }
.cuba_16_right { background-position: 100% -881px; }
.curacao_16_left { background-position: 0 -897px; }
.curacao_16_right { background-position: 100% -897px; }
.cyprus_16_left { background-position: 0 -913px; }
.cyprus_16_right { background-position: 100% -913px; }
.czech-republic_16_left { background-position: 0 -929px; }
.czech-republic_16_right { background-position: 100% -929px; }
.denmark_16_left { background-position: 0 -945px; }
.denmark_16_right { background-position: 100% -945px; }
.djibouti_16_left { background-position: 0 -961px; }
.djibouti_16_right { background-position: 100% -961px; }
.dominica_16_left { background-position: 0 -977px; }
.dominica_16_right { background-position: 100% -977px; }
.dominican-republic_16_left { background-position: 0 -993px; }
.dominican-republic_16_right { background-position: 100% -993px; }
.east-timor_16_left { background-position: 0 -1009px; }
.east-timor_16_right { background-position: 100% -1009px; }
.ecuador_16_left { background-position: 0 -1025px; }
.ecuador_16_right { background-position: 100% -1025px; }
.egypt_16_left { background-position: 0 -1041px; }
.egypt_16_right { background-position: 100% -1041px; }
.el-salvador_16_left { background-position: 0 -1057px; }
.el-salvador_16_right { background-position: 100% -1057px; }
.england_16_left { background-position: 0 -1073px; }
.england_16_right { background-position: 100% -1073px; }
.equatorial-guinea_16_left { background-position: 0 -1089px; }
.equatorial-guinea_16_right { background-position: 100% -1089px; }
.eritrea_16_left { background-position: 0 -1105px; }
.eritrea_16_right { background-position: 100% -1105px; }
.estonia_16_left { background-position: 0 -1121px; }
.estonia_16_right { background-position: 100% -1121px; }
.ethiopia_16_left { background-position: 0 -1137px; }
.ethiopia_16_right { background-position: 100% -1137px; }
.europe_16_left { background-position: 0 -1153px; }
.europe_16_right { background-position: 100% -1153px; }
.faroe-islands_16_left { background-position: 0 -1169px; }
.faroe-islands_16_right { background-position: 100% -1169px; }
.fiji_16_left { background-position: 0 -1185px; }
.fiji_16_right { background-position: 100% -1185px; }
.finland_16_left { background-position: 0 -1201px; }
.finland_16_right { background-position: 100% -1201px; }
.france_16_left { background-position: 0 -1217px; }
.france_16_right { background-position: 100% -1217px; }
.french-guyana_16_left { background-position: 0 -1233px; }
.french-guyana_16_right { background-position: 100% -1233px; }
.gabon_16_left { background-position: 0 -1249px; }
.gabon_16_right { background-position: 100% -1249px; }
.gambia_16_left { background-position: 0 -1265px; }
.gambia_16_right { background-position: 100% -1265px; }
.georgia_16_left { background-position: 0 -1281px; }
.georgia_16_right { background-position: 100% -1281px; }
.germany_16_left { background-position: 0 -1297px; }
.germany_16_right { background-position: 100% -1297px; }
.ghana_16_left { background-position: 0 -1313px; }
.ghana_16_right { background-position: 100% -1313px; }
.gibraltar_16_left { background-position: 0 -1329px; }
.gibraltar_16_right { background-position: 100% -1329px; }
.great-britain_16_left { background-position: 0 -1345px; }
.great-britain_16_right { background-position: 100% -1345px; }
.greece_16_left { background-position: 0 -1361px; }
.greece_16_right { background-position: 100% -1361px; }
.grenada_16_left { background-position: 0 -1377px; }
.grenada_16_right { background-position: 100% -1377px; }
.guadeloupe_16_left { background-position: 0 -1393px; }
.guadeloupe_16_right { background-position: 100% -1393px; }
.guam_16_left { background-position: 0 -1409px; }
.guam_16_right { background-position: 100% -1409px; }
.guatemala_16_left { background-position: 0 -1425px; }
.guatemala_16_right { background-position: 100% -1425px; }
.guernsey_16_left { background-position: 0 -1441px; }
.guernsey_16_right { background-position: 100% -1441px; }
.guinea-bissau_16_left { background-position: 0 -1457px; }
.guinea-bissau_16_right { background-position: 100% -1457px; }
.guinea_16_left { background-position: 0 -1473px; }
.guinea_16_right { background-position: 100% -1473px; }
.guyana_16_left { background-position: 0 -1489px; }
.guyana_16_right { background-position: 100% -1489px; }
.haiti_16_left { background-position: 0 -1505px; }
.haiti_16_right { background-position: 100% -1505px; }
.honduras_16_left { background-position: 0 -1521px; }
.honduras_16_right { background-position: 100% -1521px; }
.hong-kong_16_left { background-position: 0 -1537px; }
.hong-kong_16_right { background-position: 100% -1537px; }
.hungary_16_left { background-position: 0 -1553px; }
.hungary_16_right { background-position: 100% -1553px; }
.iceland_16_left { background-position: 0 -1569px; }
.iceland_16_right { background-position: 100% -1569px; }
.india_16_left { background-position: 0 -1585px; }
.india_16_right { background-position: 100% -1585px; }
.indonesia_16_left { background-position: 0 -1601px; }
.indonesia_16_right { background-position: 100% -1601px; }
.iran_16_left { background-position: 0 -1617px; }
.iran_16_right { background-position: 100% -1617px; }
.iraq_16_left { background-position: 0 -1633px; }
.iraq_16_right { background-position: 100% -1633px; }
.ireland-republic_16_left { background-position: 0 -1649px; }
.ireland-republic_16_right { background-position: 100% -1649px; }
.isle-of-man_16_left { background-position: 0 -1665px; }
.isle-of-man_16_right { background-position: 100% -1665px; }
.israel_16_left { background-position: 0 -1681px; }
.israel_16_right { background-position: 100% -1681px; }
.italy_16_left { background-position: 0 -1697px; }
.italy_16_right { background-position: 100% -1697px; }
.jamaica_16_left { background-position: 0 -1713px; }
.jamaica_16_right { background-position: 100% -1713px; }
.japan_16_left { background-position: 0 -1729px; }
.japan_16_right { background-position: 100% -1729px; }
.jersey_16_left { background-position: 0 -1745px; }
.jersey_16_right { background-position: 100% -1745px; }
.jordan_16_left { background-position: 0 -1761px; }
.jordan_16_right { background-position: 100% -1761px; }
.kazakhstan_16_left { background-position: 0 -1777px; }
.kazakhstan_16_right { background-position: 100% -1777px; }
.kenya_16_left { background-position: 0 -1793px; }
.kenya_16_right { background-position: 100% -1793px; }
.kiribati_16_left { background-position: 0 -1809px; }
.kiribati_16_right { background-position: 100% -1809px; }
.korea-dpr_16_left { background-position: 0 -1825px; }
.korea-dpr_16_right { background-position: 100% -1825px; }
.korea-republic_16_left { background-position: 0 -1841px; }
.korea-republic_16_right { background-position: 100% -1841px; }
.kosovo_16_left { background-position: 0 -1857px; }
.kosovo_16_right { background-position: 100% -1857px; }
.kuwait_16_left { background-position: 0 -1873px; }
.kuwait_16_right { background-position: 100% -1873px; }
.kyrgyzstan_16_left { background-position: 0 -1889px; }
.kyrgyzstan_16_right { background-position: 100% -1889px; }
.laos_16_left { background-position: 0 -1905px; }
.laos_16_right { background-position: 100% -1905px; }
.latvia_16_left { background-position: 0 -1921px; }
.latvia_16_right { background-position: 100% -1921px; }
.lebanon_16_left { background-position: 0 -1937px; }
.lebanon_16_right { background-position: 100% -1937px; }
.lesotho_16_left { background-position: 0 -1953px; }
.lesotho_16_right { background-position: 100% -1953px; }
.liberia_16_left { background-position: 0 -1969px; }
.liberia_16_right { background-position: 100% -1969px; }
.libya_16_left { background-position: 0 -1985px; }
.libya_16_right { background-position: 100% -1985px; }
.liechtenstein_16_left { background-position: 0 -2001px; }
.liechtenstein_16_right { background-position: 100% -2001px; }
.lithuania_16_left { background-position: 0 -2017px; }
.lithuania_16_right { background-position: 100% -2017px; }
.luxembourg_16_left { background-position: 0 -2033px; }
.luxembourg_16_right { background-position: 100% -2033px; }
.macao_16_left { background-position: 0 -2049px; }
.macao_16_right { background-position: 100% -2049px; }
.macedonia-fyr_16_left { background-position: 0 -2065px; }
.macedonia-fyr_16_right { background-position: 100% -2065px; }
.madagascar_16_left { background-position: 0 -2081px; }
.madagascar_16_right { background-position: 100% -2081px; }
.malawi_16_left { background-position: 0 -2097px; }
.malawi_16_right { background-position: 100% -2097px; }
.malaysia_16_left { background-position: 0 -2113px; }
.malaysia_16_right { background-position: 100% -2113px; }
.maldives_16_left { background-position: 0 -2129px; }
.maldives_16_right { background-position: 100% -2129px; }
.mali_16_left { background-position: 0 -2145px; }
.mali_16_right { background-position: 100% -2145px; }
.malta_16_left { background-position: 0 -2161px; }
.malta_16_right { background-position: 100% -2161px; }
.martinique_16_left { background-position: 0 -2177px; }
.martinique_16_right { background-position: 100% -2177px; }
.mauritania_16_left { background-position: 0 -2193px; }
.mauritania_16_right { background-position: 100% -2193px; }
.mauritius_16_left { background-position: 0 -2209px; }
.mauritius_16_right { background-position: 100% -2209px; }
.mayotte_16_left { background-position: 0 -2225px; }
.mayotte_16_right { background-position: 100% -2225px; }
.mexico_16_left { background-position: 0 -2241px; }
.mexico_16_right { background-position: 100% -2241px; }
.moldova_16_left { background-position: 0 -2257px; }
.moldova_16_right { background-position: 100% -2257px; }
.monaco_16_left { background-position: 0 -2273px; }
.monaco_16_right { background-position: 100% -2273px; }
.mongolia_16_left { background-position: 0 -2289px; }
.mongolia_16_right { background-position: 100% -2289px; }
.montenegro_16_left { background-position: 0 -2305px; }
.montenegro_16_right { background-position: 100% -2305px; }
.montserrat_16_left { background-position: 0 -2321px; }
.montserrat_16_right { background-position: 100% -2321px; }
.morocco_16_left { background-position: 0 -2337px; }
.morocco_16_right { background-position: 100% -2337px; }
.mozambique_16_left { background-position: 0 -2353px; }
.mozambique_16_right { background-position: 100% -2353px; }
.myanmar_16_left { background-position: 0 -2369px; }
.myanmar_16_right { background-position: 100% -2369px; }
.namibia_16_left { background-position: 0 -2385px; }
.namibia_16_right { background-position: 100% -2385px; }
.nauru_16_left { background-position: 0 -2401px; }
.nauru_16_right { background-position: 100% -2401px; }
.nc-america_16_left { background-position: 0 -2417px; }
.nc-america_16_right { background-position: 100% -2417px; }
.nepal_16_left { background-position: 0 -2433px; }
.nepal_16_right { background-position: 100% -2433px; }
.netherlands_16_left { background-position: 0 -2449px; }
.netherlands_16_right { background-position: 100% -2449px; }
.new-caledonia_16_left { background-position: 0 -2465px; }
.new-caledonia_16_right { background-position: 100% -2465px; }
.new-zealand_16_left { background-position: 0 -2481px; }
.new-zealand_16_right { background-position: 100% -2481px; }
.nicaragua_16_left { background-position: 0 -2497px; }
.nicaragua_16_right { background-position: 100% -2497px; }
.niger_16_left { background-position: 0 -2513px; }
.niger_16_right { background-position: 100% -2513px; }
.nigeria_16_left { background-position: 0 -2529px; }
.nigeria_16_right { background-position: 100% -2529px; }
.niue_16_left { background-position: 0 -2545px; }
.niue_16_right { background-position: 100% -2545px; }
.northern-ireland_16_left { background-position: 0 -2561px; }
.northern-ireland_16_right { background-position: 100% -2561px; }
.northern-mariana-islands_16_left { background-position: 0 -2577px; }
.northern-mariana-islands_16_right { background-position: 100% -2577px; }
.norway_16_left { background-position: 0 -2593px; }
.norway_16_right { background-position: 100% -2593px; }
.oceania_16_left { background-position: 0 -2609px; }
.oceania_16_right { background-position: 100% -2609px; }
.oman_16_left { background-position: 0 -2625px; }
.oman_16_right { background-position: 100% -2625px; }
.pakistan_16_left { background-position: 0 -2641px; }
.pakistan_16_right { background-position: 100% -2641px; }
.palau_16_left { background-position: 0 -2657px; }
.palau_16_right { background-position: 100% -2657px; }
.palestine_16_left { background-position: 0 -2673px; }
.palestine_16_right { background-position: 100% -2673px; }
.panama_16_left { background-position: 0 -2689px; }
.panama_16_right { background-position: 100% -2689px; }
.papua-new-guinea_16_left { background-position: 0 -2705px; }
.papua-new-guinea_16_right { background-position: 100% -2705px; }
.paraguay_16_left { background-position: 0 -2721px; }
.paraguay_16_right { background-position: 100% -2721px; }
.peru_16_left { background-position: 0 -2737px; }
.peru_16_right { background-position: 100% -2737px; }
.philippines_16_left { background-position: 0 -2753px; }
.philippines_16_right { background-position: 100% -2753px; }
.poland_16_left { background-position: 0 -2769px; }
.poland_16_right { background-position: 100% -2769px; }
.portugal_16_left { background-position: 0 -2785px; }
.portugal_16_right { background-position: 100% -2785px; }
.puerto-rico_16_left { background-position: 0 -2801px; }
.puerto-rico_16_right { background-position: 100% -2801px; }
.qatar_16_left { background-position: 0 -2817px; }
.qatar_16_right { background-position: 100% -2817px; }
.reunion_16_left { background-position: 0 -2833px; }
.reunion_16_right { background-position: 100% -2833px; }
.romania_16_left { background-position: 0 -2849px; }
.romania_16_right { background-position: 100% -2849px; }
.russia_16_left { background-position: 0 -2865px; }
.russia_16_right { background-position: 100% -2865px; }
.rwanda_16_left { background-position: 0 -2881px; }
.rwanda_16_right { background-position: 100% -2881px; }
.saint-martin_16_left { background-position: 0 -2897px; }
.saint-martin_16_right { background-position: 100% -2897px; }
.samoa_16_left { background-position: 0 -2913px; }
.samoa_16_right { background-position: 100% -2913px; }
.san-marino_16_left { background-position: 0 -2929px; }
.san-marino_16_right { background-position: 100% -2929px; }
.sao-tome-e-principe_16_left { background-position: 0 -2945px; }
.sao-tome-e-principe_16_right { background-position: 100% -2945px; }
.saudi-arabia_16_left { background-position: 0 -2961px; }
.saudi-arabia_16_right { background-position: 100% -2961px; }
.scotland_16_left { background-position: 0 -2977px; }
.scotland_16_right { background-position: 100% -2977px; }
.senegal_16_left { background-position: 0 -2993px; }
.senegal_16_right { background-position: 100% -2993px; }
.serbia-and-montenegro_16_left { background-position: 0 -3009px; }
.serbia-and-montenegro_16_right { background-position: 100% -3009px; }
.serbia_16_left { background-position: 0 -3025px; }
.serbia_16_right { background-position: 100% -3025px; }
.seychelles_16_left { background-position: 0 -3041px; }
.seychelles_16_right { background-position: 100% -3041px; }
.sierra-leone_16_left { background-position: 0 -3057px; }
.sierra-leone_16_right { background-position: 100% -3057px; }
.singapore_16_left { background-position: 0 -3073px; }
.singapore_16_right { background-position: 100% -3073px; }
.sint-eustatius_16_left { background-position: 0 -3089px; }
.sint-eustatius_16_right { background-position: 100% -3089px; }
.sint-maarten_16_left { background-position: 0 -3105px; }
.sint-maarten_16_right { background-position: 100% -3105px; }
.slovakia_16_left { background-position: 0 -3121px; }
.slovakia_16_right { background-position: 100% -3121px; }
.slovenia_16_left { background-position: 0 -3137px; }
.slovenia_16_right { background-position: 100% -3137px; }
.solomon-islands_16_left { background-position: 0 -3153px; }
.solomon-islands_16_right { background-position: 100% -3153px; }
.somalia_16_left { background-position: 0 -3169px; }
.somalia_16_right { background-position: 100% -3169px; }
.south-africa_16_left { background-position: 0 -3185px; }
.south-africa_16_right { background-position: 100% -3185px; }
.south-america_16_left { background-position: 0 -3201px; }
.south-america_16_right { background-position: 100% -3201px; }
.south-sudan_16_left { background-position: 0 -3217px; }
.south-sudan_16_right { background-position: 100% -3217px; }
.spain_16_left { background-position: 0 -3233px; }
.spain_16_right { background-position: 100% -3233px; }
.sri-lanka_16_left { background-position: 0 -3249px; }
.sri-lanka_16_right { background-position: 100% -3249px; }
.st-kitts-and-nevis_16_left { background-position: 0 -3265px; }
.st-kitts-and-nevis_16_right { background-position: 100% -3265px; }
.st-lucia_16_left { background-position: 0 -3281px; }
.st-lucia_16_right { background-position: 100% -3281px; }
.st-vincent-and-the-grenadines_16_left { background-position: 0 -3297px; }
.st-vincent-and-the-grenadines_16_right { background-position: 100% -3297px; }
.sudan_16_left { background-position: 0 -3313px; }
.sudan_16_right { background-position: 100% -3313px; }
.surinam_16_left { background-position: 0 -3329px; }
.surinam_16_right { background-position: 100% -3329px; }
.swaziland_16_left { background-position: 0 -3345px; }
.swaziland_16_right { background-position: 100% -3345px; }
.sweden_16_left { background-position: 0 -3361px; }
.sweden_16_right { background-position: 100% -3361px; }
.switzerland_16_left { background-position: 0 -3377px; }
.switzerland_16_right { background-position: 100% -3377px; }
.syria_16_left { background-position: 0 -3393px; }
.syria_16_right { background-position: 100% -3393px; }
.tahiti_16_left { background-position: 0 -3409px; }
.tahiti_16_right { background-position: 100% -3409px; }
.tajikistan_16_left { background-position: 0 -3425px; }
.tajikistan_16_right { background-position: 100% -3425px; }
.tanzania_16_left { background-position: 0 -3441px; }
.tanzania_16_right { background-position: 100% -3441px; }
.thailand_16_left { background-position: 0 -3457px; }
.thailand_16_right { background-position: 100% -3457px; }
.togo_16_left { background-position: 0 -3473px; }
.togo_16_right { background-position: 100% -3473px; }
.tonga_16_left { background-position: 0 -3489px; }
.tonga_16_right { background-position: 100% -3489px; }
.trinidad-and-tobago_16_left { background-position: 0 -3505px; }
.trinidad-and-tobago_16_right { background-position: 100% -3505px; }
.tunisia_16_left { background-position: 0 -3521px; }
.tunisia_16_right { background-position: 100% -3521px; }
.turkey_16_left { background-position: 0 -3537px; }
.turkey_16_right { background-position: 100% -3537px; }
.turkmenistan_16_left { background-position: 0 -3553px; }
.turkmenistan_16_right { background-position: 100% -3553px; }
.turks-and-caicos-islands_16_left { background-position: 0 -3569px; }
.turks-and-caicos-islands_16_right { background-position: 100% -3569px; }
.tuvalu_16_left { background-position: 0 -3585px; }
.tuvalu_16_right { background-position: 100% -3585px; }
.uganda_16_left { background-position: 0 -3601px; }
.uganda_16_right { background-position: 100% -3601px; }
.ukraine_16_left { background-position: 0 -3617px; }
.ukraine_16_right { background-position: 100% -3617px; }
.united-arab-emirates_16_left { background-position: 0 -3633px; }
.united-arab-emirates_16_right { background-position: 100% -3633px; }
.united-states_16_left { background-position: 0 -3649px; }
.united-states_16_right { background-position: 100% -3649px; }
.uruguay_16_left { background-position: 0 -3665px; }
.uruguay_16_right { background-position: 100% -3665px; }
.us-virgin-islands_16_left { background-position: 0 -3681px; }
.us-virgin-islands_16_right { background-position: 100% -3681px; }
.uzbekistan_16_left { background-position: 0 -3697px; }
.uzbekistan_16_right { background-position: 100% -3697px; }
.vanuatu_16_left { background-position: 0 -3713px; }
.vanuatu_16_right { background-position: 100% -3713px; }
.venezuela_16_left { background-position: 0 -3729px; }
.venezuela_16_right { background-position: 100% -3729px; }
.vietnam_16_left { background-position: 0 -3745px; }
.vietnam_16_right { background-position: 100% -3745px; }
.wales_16_left { background-position: 0 -3761px; }
.wales_16_right { background-position: 100% -3761px; }
.world_16_left { background-position: 0 -3777px; }
.world_16_right { background-position: 100% -3777px; }
.yemen_16_left { background-position: 0 -3793px; }
.yemen_16_right { background-position: 100% -3793px; }
.zambia_16_left { background-position: 0 -3809px; }
.zambia_16_right { background-position: 100% -3809px; }
.zanzibar_16_left { background-position: 0 -3825px; }
.zanzibar_16_right { background-position: 100% -3825px; }
.zimbabwe_16_left { background-position: 0 -3841px; }
.zimbabwe_16_right { background-position: 100% -3841px; }