.flag_24 { background-repeat: no-repeat; }
.left_24 { padding-left: 30px; background-position: left top; }
.right_24 { padding-right: 30px; background-position: right top; }
.flag_24 { background-image: url(map.png); background-repeat: no-repeat; }
.afghanistan_24_left { background-position: 0 -25px; }
.afghanistan_24_right { background-position: 100% -25px; }
.africa_24_left { background-position: 0 -49px; }
.africa_24_right { background-position: 100% -49px; }
.albania_24_left { background-position: 0 -73px; }
.albania_24_right { background-position: 100% -73px; }
.algeria_24_left { background-position: 0 -97px; }
.algeria_24_right { background-position: 100% -97px; }
.american-samoa_24_left { background-position: 0 -121px; }
.american-samoa_24_right { background-position: 100% -121px; }
.andorra_24_left { background-position: 0 -145px; }
.andorra_24_right { background-position: 100% -145px; }
.angola_24_left { background-position: 0 -169px; }
.angola_24_right { background-position: 100% -169px; }
.anguilla_24_left { background-position: 0 -193px; }
.anguilla_24_right { background-position: 100% -193px; }
.antigua-and-barbuda_24_left { background-position: 0 -217px; }
.antigua-and-barbuda_24_right { background-position: 100% -217px; }
.argentina_24_left { background-position: 0 -241px; }
.argentina_24_right { background-position: 100% -241px; }
.armenia_24_left { background-position: 0 -265px; }
.armenia_24_right { background-position: 100% -265px; }
.aruba_24_left { background-position: 0 -289px; }
.aruba_24_right { background-position: 100% -289px; }
.asia_24_left { background-position: 0 -313px; }
.asia_24_right { background-position: 100% -313px; }
.australia_24_left { background-position: 0 -337px; }
.australia_24_right { background-position: 100% -337px; }
.austria_24_left { background-position: 0 -361px; }
.austria_24_right { background-position: 100% -361px; }
.azerbaijan_24_left { background-position: 0 -385px; }
.azerbaijan_24_right { background-position: 100% -385px; }
.bahamas_24_left { background-position: 0 -409px; }
.bahamas_24_right { background-position: 100% -409px; }
.bahrain_24_left { background-position: 0 -433px; }
.bahrain_24_right { background-position: 100% -433px; }
.bangladesh_24_left { background-position: 0 -457px; }
.bangladesh_24_right { background-position: 100% -457px; }
.barbados_24_left { background-position: 0 -481px; }
.barbados_24_right { background-position: 100% -481px; }
.belarus_24_left { background-position: 0 -505px; }
.belarus_24_right { background-position: 100% -505px; }
.belgium_24_left { background-position: 0 -529px; }
.belgium_24_right { background-position: 100% -529px; }
.belize_24_left { background-position: 0 -553px; }
.belize_24_right { background-position: 100% -553px; }
.benin_24_left { background-position: 0 -577px; }
.benin_24_right { background-position: 100% -577px; }
.bermuda_24_left { background-position: 0 -601px; }
.bermuda_24_right { background-position: 100% -601px; }
.bhutan_24_left { background-position: 0 -625px; }
.bhutan_24_right { background-position: 100% -625px; }
.bolivia_24_left { background-position: 0 -649px; }
.bolivia_24_right { background-position: 100% -649px; }
.bonaire_24_left { background-position: 0 -673px; }
.bonaire_24_right { background-position: 100% -673px; }
.bosnia-herzegovina_24_left { background-position: 0 -697px; }
.bosnia-herzegovina_24_right { background-position: 100% -697px; }
.botswana_24_left { background-position: 0 -721px; }
.botswana_24_right { background-position: 100% -721px; }
.brazil_24_left { background-position: 0 -745px; }
.brazil_24_right { background-position: 100% -745px; }
.british-virgin-islands_24_left { background-position: 0 -769px; }
.british-virgin-islands_24_right { background-position: 100% -769px; }
.brunei-darussalam_24_left { background-position: 0 -793px; }
.brunei-darussalam_24_right { background-position: 100% -793px; }
.bulgaria_24_left { background-position: 0 -817px; }
.bulgaria_24_right { background-position: 100% -817px; }
.burkina-faso_24_left { background-position: 0 -841px; }
.burkina-faso_24_right { background-position: 100% -841px; }
.burundi_24_left { background-position: 0 -865px; }
.burundi_24_right { background-position: 100% -865px; }
.cambodia_24_left { background-position: 0 -889px; }
.cambodia_24_right { background-position: 100% -889px; }
.cameroon_24_left { background-position: 0 -913px; }
.cameroon_24_right { background-position: 100% -913px; }
.canada_24_left { background-position: 0 -937px; }
.canada_24_right { background-position: 100% -937px; }
.cape-verde-islands_24_left { background-position: 0 -961px; }
.cape-verde-islands_24_right { background-position: 100% -961px; }
.cayman-islands_24_left { background-position: 0 -985px; }
.cayman-islands_24_right { background-position: 100% -985px; }
.central-african-republic_24_left { background-position: 0 -1009px; }
.central-african-republic_24_right { background-position: 100% -1009px; }
.chad_24_left { background-position: 0 -1033px; }
.chad_24_right { background-position: 100% -1033px; }
.chile_24_left { background-position: 0 -1057px; }
.chile_24_right { background-position: 100% -1057px; }
.china-pr_24_left { background-position: 0 -1081px; }
.china-pr_24_right { background-position: 100% -1081px; }
.chinese-taipei_24_left { background-position: 0 -1105px; }
.chinese-taipei_24_right { background-position: 100% -1105px; }
.colombia_24_left { background-position: 0 -1129px; }
.colombia_24_right { background-position: 100% -1129px; }
.comoros_24_left { background-position: 0 -1153px; }
.comoros_24_right { background-position: 100% -1153px; }
.congo-dr_24_left { background-position: 0 -1177px; }
.congo-dr_24_right { background-position: 100% -1177px; }
.congo_24_left { background-position: 0 -1201px; }
.congo_24_right { background-position: 100% -1201px; }
.cook-islands_24_left { background-position: 0 -1225px; }
.cook-islands_24_right { background-position: 100% -1225px; }
.costa-rica_24_left { background-position: 0 -1249px; }
.costa-rica_24_right { background-position: 100% -1249px; }
.cote-divoire_24_left { background-position: 0 -1273px; }
.cote-divoire_24_right { background-position: 100% -1273px; }
.croatia_24_left { background-position: 0 -1297px; }
.croatia_24_right { background-position: 100% -1297px; }
.cuba_24_left { background-position: 0 -1321px; }
.cuba_24_right { background-position: 100% -1321px; }
.curacao_24_left { background-position: 0 -1345px; }
.curacao_24_right { background-position: 100% -1345px; }
.cyprus_24_left { background-position: 0 -1369px; }
.cyprus_24_right { background-position: 100% -1369px; }
.czech-republic_24_left { background-position: 0 -1393px; }
.czech-republic_24_right { background-position: 100% -1393px; }
.denmark_24_left { background-position: 0 -1417px; }
.denmark_24_right { background-position: 100% -1417px; }
.djibouti_24_left { background-position: 0 -1441px; }
.djibouti_24_right { background-position: 100% -1441px; }
.dominica_24_left { background-position: 0 -1465px; }
.dominica_24_right { background-position: 100% -1465px; }
.dominican-republic_24_left { background-position: 0 -1489px; }
.dominican-republic_24_right { background-position: 100% -1489px; }
.east-timor_24_left { background-position: 0 -1513px; }
.east-timor_24_right { background-position: 100% -1513px; }
.ecuador_24_left { background-position: 0 -1537px; }
.ecuador_24_right { background-position: 100% -1537px; }
.egypt_24_left { background-position: 0 -1561px; }
.egypt_24_right { background-position: 100% -1561px; }
.el-salvador_24_left { background-position: 0 -1585px; }
.el-salvador_24_right { background-position: 100% -1585px; }
.england_24_left { background-position: 0 -1609px; }
.england_24_right { background-position: 100% -1609px; }
.equatorial-guinea_24_left { background-position: 0 -1633px; }
.equatorial-guinea_24_right { background-position: 100% -1633px; }
.eritrea_24_left { background-position: 0 -1657px; }
.eritrea_24_right { background-position: 100% -1657px; }
.estonia_24_left { background-position: 0 -1681px; }
.estonia_24_right { background-position: 100% -1681px; }
.ethiopia_24_left { background-position: 0 -1705px; }
.ethiopia_24_right { background-position: 100% -1705px; }
.europe_24_left { background-position: 0 -1729px; }
.europe_24_right { background-position: 100% -1729px; }
.faroe-islands_24_left { background-position: 0 -1753px; }
.faroe-islands_24_right { background-position: 100% -1753px; }
.fiji_24_left { background-position: 0 -1777px; }
.fiji_24_right { background-position: 100% -1777px; }
.finland_24_left { background-position: 0 -1801px; }
.finland_24_right { background-position: 100% -1801px; }
.france_24_left { background-position: 0 -1825px; }
.france_24_right { background-position: 100% -1825px; }
.french-guyana_24_left { background-position: 0 -1849px; }
.french-guyana_24_right { background-position: 100% -1849px; }
.gabon_24_left { background-position: 0 -1873px; }
.gabon_24_right { background-position: 100% -1873px; }
.gambia_24_left { background-position: 0 -1897px; }
.gambia_24_right { background-position: 100% -1897px; }
.georgia_24_left { background-position: 0 -1921px; }
.georgia_24_right { background-position: 100% -1921px; }
.germany_24_left { background-position: 0 -1945px; }
.germany_24_right { background-position: 100% -1945px; }
.ghana_24_left { background-position: 0 -1969px; }
.ghana_24_right { background-position: 100% -1969px; }
.gibraltar_24_left { background-position: 0 -1993px; }
.gibraltar_24_right { background-position: 100% -1993px; }
.great-britain_24_left { background-position: 0 -2017px; }
.great-britain_24_right { background-position: 100% -2017px; }
.greece_24_left { background-position: 0 -2041px; }
.greece_24_right { background-position: 100% -2041px; }
.grenada_24_left { background-position: 0 -2065px; }
.grenada_24_right { background-position: 100% -2065px; }
.guadeloupe_24_left { background-position: 0 -2089px; }
.guadeloupe_24_right { background-position: 100% -2089px; }
.guam_24_left { background-position: 0 -2113px; }
.guam_24_right { background-position: 100% -2113px; }
.guatemala_24_left { background-position: 0 -2137px; }
.guatemala_24_right { background-position: 100% -2137px; }
.guernsey_24_left { background-position: 0 -2161px; }
.guernsey_24_right { background-position: 100% -2161px; }
.guinea-bissau_24_left { background-position: 0 -2185px; }
.guinea-bissau_24_right { background-position: 100% -2185px; }
.guinea_24_left { background-position: 0 -2209px; }
.guinea_24_right { background-position: 100% -2209px; }
.guyana_24_left { background-position: 0 -2233px; }
.guyana_24_right { background-position: 100% -2233px; }
.haiti_24_left { background-position: 0 -2257px; }
.haiti_24_right { background-position: 100% -2257px; }
.honduras_24_left { background-position: 0 -2281px; }
.honduras_24_right { background-position: 100% -2281px; }
.hong-kong_24_left { background-position: 0 -2305px; }
.hong-kong_24_right { background-position: 100% -2305px; }
.hungary_24_left { background-position: 0 -2329px; }
.hungary_24_right { background-position: 100% -2329px; }
.iceland_24_left { background-position: 0 -2353px; }
.iceland_24_right { background-position: 100% -2353px; }
.india_24_left { background-position: 0 -2377px; }
.india_24_right { background-position: 100% -2377px; }
.indonesia_24_left { background-position: 0 -2401px; }
.indonesia_24_right { background-position: 100% -2401px; }
.iran_24_left { background-position: 0 -2425px; }
.iran_24_right { background-position: 100% -2425px; }
.iraq_24_left { background-position: 0 -2449px; }
.iraq_24_right { background-position: 100% -2449px; }
.ireland-republic_24_left { background-position: 0 -2473px; }
.ireland-republic_24_right { background-position: 100% -2473px; }
.isle-of-man_24_left { background-position: 0 -2497px; }
.isle-of-man_24_right { background-position: 100% -2497px; }
.israel_24_left { background-position: 0 -2521px; }
.israel_24_right { background-position: 100% -2521px; }
.italy_24_left { background-position: 0 -2545px; }
.italy_24_right { background-position: 100% -2545px; }
.jamaica_24_left { background-position: 0 -2569px; }
.jamaica_24_right { background-position: 100% -2569px; }
.japan_24_left { background-position: 0 -2593px; }
.japan_24_right { background-position: 100% -2593px; }
.jersey_24_left { background-position: 0 -2617px; }
.jersey_24_right { background-position: 100% -2617px; }
.jordan_24_left { background-position: 0 -2641px; }
.jordan_24_right { background-position: 100% -2641px; }
.kazakhstan_24_left { background-position: 0 -2665px; }
.kazakhstan_24_right { background-position: 100% -2665px; }
.kenya_24_left { background-position: 0 -2689px; }
.kenya_24_right { background-position: 100% -2689px; }
.kiribati_24_left { background-position: 0 -2713px; }
.kiribati_24_right { background-position: 100% -2713px; }
.korea-dpr_24_left { background-position: 0 -2737px; }
.korea-dpr_24_right { background-position: 100% -2737px; }
.korea-republic_24_left { background-position: 0 -2761px; }
.korea-republic_24_right { background-position: 100% -2761px; }
.kosovo_24_left { background-position: 0 -2785px; }
.kosovo_24_right { background-position: 100% -2785px; }
.kuwait_24_left { background-position: 0 -2809px; }
.kuwait_24_right { background-position: 100% -2809px; }
.kyrgyzstan_24_left { background-position: 0 -2833px; }
.kyrgyzstan_24_right { background-position: 100% -2833px; }
.laos_24_left { background-position: 0 -2857px; }
.laos_24_right { background-position: 100% -2857px; }
.latvia_24_left { background-position: 0 -2881px; }
.latvia_24_right { background-position: 100% -2881px; }
.lebanon_24_left { background-position: 0 -2905px; }
.lebanon_24_right { background-position: 100% -2905px; }
.lesotho_24_left { background-position: 0 -2929px; }
.lesotho_24_right { background-position: 100% -2929px; }
.liberia_24_left { background-position: 0 -2953px; }
.liberia_24_right { background-position: 100% -2953px; }
.libya_24_left { background-position: 0 -2977px; }
.libya_24_right { background-position: 100% -2977px; }
.liechtenstein_24_left { background-position: 0 -3001px; }
.liechtenstein_24_right { background-position: 100% -3001px; }
.lithuania_24_left { background-position: 0 -3025px; }
.lithuania_24_right { background-position: 100% -3025px; }
.luxembourg_24_left { background-position: 0 -3049px; }
.luxembourg_24_right { background-position: 100% -3049px; }
.macao_24_left { background-position: 0 -3073px; }
.macao_24_right { background-position: 100% -3073px; }
.macedonia-fyr_24_left { background-position: 0 -3097px; }
.macedonia-fyr_24_right { background-position: 100% -3097px; }
.madagascar_24_left { background-position: 0 -3121px; }
.madagascar_24_right { background-position: 100% -3121px; }
.malawi_24_left { background-position: 0 -3145px; }
.malawi_24_right { background-position: 100% -3145px; }
.malaysia_24_left { background-position: 0 -3169px; }
.malaysia_24_right { background-position: 100% -3169px; }
.maldives_24_left { background-position: 0 -3193px; }
.maldives_24_right { background-position: 100% -3193px; }
.mali_24_left { background-position: 0 -3217px; }
.mali_24_right { background-position: 100% -3217px; }
.malta_24_left { background-position: 0 -3241px; }
.malta_24_right { background-position: 100% -3241px; }
.martinique_24_left { background-position: 0 -3265px; }
.martinique_24_right { background-position: 100% -3265px; }
.mauritania_24_left { background-position: 0 -3289px; }
.mauritania_24_right { background-position: 100% -3289px; }
.mauritius_24_left { background-position: 0 -3313px; }
.mauritius_24_right { background-position: 100% -3313px; }
.mayotte_24_left { background-position: 0 -3337px; }
.mayotte_24_right { background-position: 100% -3337px; }
.mexico_24_left { background-position: 0 -3361px; }
.mexico_24_right { background-position: 100% -3361px; }
.moldova_24_left { background-position: 0 -3385px; }
.moldova_24_right { background-position: 100% -3385px; }
.monaco_24_left { background-position: 0 -3409px; }
.monaco_24_right { background-position: 100% -3409px; }
.mongolia_24_left { background-position: 0 -3433px; }
.mongolia_24_right { background-position: 100% -3433px; }
.montenegro_24_left { background-position: 0 -3457px; }
.montenegro_24_right { background-position: 100% -3457px; }
.montserrat_24_left { background-position: 0 -3481px; }
.montserrat_24_right { background-position: 100% -3481px; }
.morocco_24_left { background-position: 0 -3505px; }
.morocco_24_right { background-position: 100% -3505px; }
.mozambique_24_left { background-position: 0 -3529px; }
.mozambique_24_right { background-position: 100% -3529px; }
.myanmar_24_left { background-position: 0 -3553px; }
.myanmar_24_right { background-position: 100% -3553px; }
.namibia_24_left { background-position: 0 -3577px; }
.namibia_24_right { background-position: 100% -3577px; }
.nauru_24_left { background-position: 0 -3601px; }
.nauru_24_right { background-position: 100% -3601px; }
.nc-america_24_left { background-position: 0 -3625px; }
.nc-america_24_right { background-position: 100% -3625px; }
.nepal_24_left { background-position: 0 -3649px; }
.nepal_24_right { background-position: 100% -3649px; }
.netherlands_24_left { background-position: 0 -3673px; }
.netherlands_24_right { background-position: 100% -3673px; }
.new-caledonia_24_left { background-position: 0 -3697px; }
.new-caledonia_24_right { background-position: 100% -3697px; }
.new-zealand_24_left { background-position: 0 -3721px; }
.new-zealand_24_right { background-position: 100% -3721px; }
.nicaragua_24_left { background-position: 0 -3745px; }
.nicaragua_24_right { background-position: 100% -3745px; }
.niger_24_left { background-position: 0 -3769px; }
.niger_24_right { background-position: 100% -3769px; }
.nigeria_24_left { background-position: 0 -3793px; }
.nigeria_24_right { background-position: 100% -3793px; }
.niue_24_left { background-position: 0 -3817px; }
.niue_24_right { background-position: 100% -3817px; }
.northern-ireland_24_left { background-position: 0 -3841px; }
.northern-ireland_24_right { background-position: 100% -3841px; }
.northern-mariana-islands_24_left { background-position: 0 -3865px; }
.northern-mariana-islands_24_right { background-position: 100% -3865px; }
.norway_24_left { background-position: 0 -3889px; }
.norway_24_right { background-position: 100% -3889px; }
.oceania_24_left { background-position: 0 -3913px; }
.oceania_24_right { background-position: 100% -3913px; }
.oman_24_left { background-position: 0 -3937px; }
.oman_24_right { background-position: 100% -3937px; }
.pakistan_24_left { background-position: 0 -3961px; }
.pakistan_24_right { background-position: 100% -3961px; }
.palau_24_left { background-position: 0 -3985px; }
.palau_24_right { background-position: 100% -3985px; }
.palestine_24_left { background-position: 0 -4009px; }
.palestine_24_right { background-position: 100% -4009px; }
.panama_24_left { background-position: 0 -4033px; }
.panama_24_right { background-position: 100% -4033px; }
.papua-new-guinea_24_left { background-position: 0 -4057px; }
.papua-new-guinea_24_right { background-position: 100% -4057px; }
.paraguay_24_left { background-position: 0 -4081px; }
.paraguay_24_right { background-position: 100% -4081px; }
.peru_24_left { background-position: 0 -4105px; }
.peru_24_right { background-position: 100% -4105px; }
.philippines_24_left { background-position: 0 -4129px; }
.philippines_24_right { background-position: 100% -4129px; }
.poland_24_left { background-position: 0 -4153px; }
.poland_24_right { background-position: 100% -4153px; }
.portugal_24_left { background-position: 0 -4177px; }
.portugal_24_right { background-position: 100% -4177px; }
.puerto-rico_24_left { background-position: 0 -4201px; }
.puerto-rico_24_right { background-position: 100% -4201px; }
.qatar_24_left { background-position: 0 -4225px; }
.qatar_24_right { background-position: 100% -4225px; }
.reunion_24_left { background-position: 0 -4249px; }
.reunion_24_right { background-position: 100% -4249px; }
.romania_24_left { background-position: 0 -4273px; }
.romania_24_right { background-position: 100% -4273px; }
.russia_24_left { background-position: 0 -4297px; }
.russia_24_right { background-position: 100% -4297px; }
.rwanda_24_left { background-position: 0 -4321px; }
.rwanda_24_right { background-position: 100% -4321px; }
.saint-martin_24_left { background-position: 0 -4345px; }
.saint-martin_24_right { background-position: 100% -4345px; }
.samoa_24_left { background-position: 0 -4369px; }
.samoa_24_right { background-position: 100% -4369px; }
.san-marino_24_left { background-position: 0 -4393px; }
.san-marino_24_right { background-position: 100% -4393px; }
.sao-tome-e-principe_24_left { background-position: 0 -4417px; }
.sao-tome-e-principe_24_right { background-position: 100% -4417px; }
.saudi-arabia_24_left { background-position: 0 -4441px; }
.saudi-arabia_24_right { background-position: 100% -4441px; }
.scotland_24_left { background-position: 0 -4465px; }
.scotland_24_right { background-position: 100% -4465px; }
.senegal_24_left { background-position: 0 -4489px; }
.senegal_24_right { background-position: 100% -4489px; }
.serbia-and-montenegro_24_left { background-position: 0 -4513px; }
.serbia-and-montenegro_24_right { background-position: 100% -4513px; }
.serbia_24_left { background-position: 0 -4537px; }
.serbia_24_right { background-position: 100% -4537px; }
.seychelles_24_left { background-position: 0 -4561px; }
.seychelles_24_right { background-position: 100% -4561px; }
.sierra-leone_24_left { background-position: 0 -4585px; }
.sierra-leone_24_right { background-position: 100% -4585px; }
.singapore_24_left { background-position: 0 -4609px; }
.singapore_24_right { background-position: 100% -4609px; }
.sint-eustatius_24_left { background-position: 0 -4633px; }
.sint-eustatius_24_right { background-position: 100% -4633px; }
.sint-maarten_24_left { background-position: 0 -4657px; }
.sint-maarten_24_right { background-position: 100% -4657px; }
.slovakia_24_left { background-position: 0 -4681px; }
.slovakia_24_right { background-position: 100% -4681px; }
.slovenia_24_left { background-position: 0 -4705px; }
.slovenia_24_right { background-position: 100% -4705px; }
.solomon-islands_24_left { background-position: 0 -4729px; }
.solomon-islands_24_right { background-position: 100% -4729px; }
.somalia_24_left { background-position: 0 -4753px; }
.somalia_24_right { background-position: 100% -4753px; }
.south-africa_24_left { background-position: 0 -4777px; }
.south-africa_24_right { background-position: 100% -4777px; }
.south-america_24_left { background-position: 0 -4801px; }
.south-america_24_right { background-position: 100% -4801px; }
.south-sudan_24_left { background-position: 0 -4825px; }
.south-sudan_24_right { background-position: 100% -4825px; }
.spain_24_left { background-position: 0 -4849px; }
.spain_24_right { background-position: 100% -4849px; }
.sri-lanka_24_left { background-position: 0 -4873px; }
.sri-lanka_24_right { background-position: 100% -4873px; }
.st-kitts-and-nevis_24_left { background-position: 0 -4897px; }
.st-kitts-and-nevis_24_right { background-position: 100% -4897px; }
.st-lucia_24_left { background-position: 0 -4921px; }
.st-lucia_24_right { background-position: 100% -4921px; }
.st-vincent-and-the-grenadines_24_left { background-position: 0 -4945px; }
.st-vincent-and-the-grenadines_24_right { background-position: 100% -4945px; }
.sudan_24_left { background-position: 0 -4969px; }
.sudan_24_right { background-position: 100% -4969px; }
.surinam_24_left { background-position: 0 -4993px; }
.surinam_24_right { background-position: 100% -4993px; }
.swaziland_24_left { background-position: 0 -5017px; }
.swaziland_24_right { background-position: 100% -5017px; }
.sweden_24_left { background-position: 0 -5041px; }
.sweden_24_right { background-position: 100% -5041px; }
.switzerland_24_left { background-position: 0 -5065px; }
.switzerland_24_right { background-position: 100% -5065px; }
.syria_24_left { background-position: 0 -5089px; }
.syria_24_right { background-position: 100% -5089px; }
.tahiti_24_left { background-position: 0 -5113px; }
.tahiti_24_right { background-position: 100% -5113px; }
.tajikistan_24_left { background-position: 0 -5137px; }
.tajikistan_24_right { background-position: 100% -5137px; }
.tanzania_24_left { background-position: 0 -5161px; }
.tanzania_24_right { background-position: 100% -5161px; }
.thailand_24_left { background-position: 0 -5185px; }
.thailand_24_right { background-position: 100% -5185px; }
.togo_24_left { background-position: 0 -5209px; }
.togo_24_right { background-position: 100% -5209px; }
.tonga_24_left { background-position: 0 -5233px; }
.tonga_24_right { background-position: 100% -5233px; }
.trinidad-and-tobago_24_left { background-position: 0 -5257px; }
.trinidad-and-tobago_24_right { background-position: 100% -5257px; }
.tunisia_24_left { background-position: 0 -5281px; }
.tunisia_24_right { background-position: 100% -5281px; }
.turkey_24_left { background-position: 0 -5305px; }
.turkey_24_right { background-position: 100% -5305px; }
.turkmenistan_24_left { background-position: 0 -5329px; }
.turkmenistan_24_right { background-position: 100% -5329px; }
.turks-and-caicos-islands_24_left { background-position: 0 -5353px; }
.turks-and-caicos-islands_24_right { background-position: 100% -5353px; }
.tuvalu_24_left { background-position: 0 -5377px; }
.tuvalu_24_right { background-position: 100% -5377px; }
.uganda_24_left { background-position: 0 -5401px; }
.uganda_24_right { background-position: 100% -5401px; }
.ukraine_24_left { background-position: 0 -5425px; }
.ukraine_24_right { background-position: 100% -5425px; }
.united-arab-emirates_24_left { background-position: 0 -5449px; }
.united-arab-emirates_24_right { background-position: 100% -5449px; }
.united-states_24_left { background-position: 0 -5473px; }
.united-states_24_right { background-position: 100% -5473px; }
.uruguay_24_left { background-position: 0 -5497px; }
.uruguay_24_right { background-position: 100% -5497px; }
.us-virgin-islands_24_left { background-position: 0 -5521px; }
.us-virgin-islands_24_right { background-position: 100% -5521px; }
.uzbekistan_24_left { background-position: 0 -5545px; }
.uzbekistan_24_right { background-position: 100% -5545px; }
.vanuatu_24_left { background-position: 0 -5569px; }
.vanuatu_24_right { background-position: 100% -5569px; }
.venezuela_24_left { background-position: 0 -5593px; }
.venezuela_24_right { background-position: 100% -5593px; }
.vietnam_24_left { background-position: 0 -5617px; }
.vietnam_24_right { background-position: 100% -5617px; }
.wales_24_left { background-position: 0 -5641px; }
.wales_24_right { background-position: 100% -5641px; }
.world_24_left { background-position: 0 -5665px; }
.world_24_right { background-position: 100% -5665px; }
.yemen_24_left { background-position: 0 -5689px; }
.yemen_24_right { background-position: 100% -5689px; }
.zambia_24_left { background-position: 0 -5713px; }
.zambia_24_right { background-position: 100% -5713px; }
.zanzibar_24_left { background-position: 0 -5737px; }
.zanzibar_24_right { background-position: 100% -5737px; }
.zimbabwe_24_left { background-position: 0 -5761px; }
.zimbabwe_24_right { background-position: 100% -5761px; }