.flag_16_10 { background-repeat: no-repeat; }
.left_16_10 { padding-left: 30px; background-position: left top; }
.right_16_10 { padding-right: 30px; background-position: right top; }
.flag_16_10 { background-image: url(map.png); background-repeat: no-repeat; }
.afghanistan_16_10_left { background-position: 0 -13px; }
.afghanistan_16_10_right { background-position: 100% -13px; }
.africa_16_10_left { background-position: 0 -39px; }
.africa_16_10_right { background-position: 100% -39px; }
.albania_16_10_left { background-position: 0 -65px; }
.albania_16_10_right { background-position: 100% -65px; }
.algeria_16_10_left { background-position: 0 -91px; }
.algeria_16_10_right { background-position: 100% -91px; }
.american-samoa_16_10_left { background-position: 0 -117px; }
.american-samoa_16_10_right { background-position: 100% -117px; }
.andorra_16_10_left { background-position: 0 -143px; }
.andorra_16_10_right { background-position: 100% -143px; }
.angola_16_10_left { background-position: 0 -169px; }
.angola_16_10_right { background-position: 100% -169px; }
.anguilla_16_10_left { background-position: 0 -195px; }
.anguilla_16_10_right { background-position: 100% -195px; }
.antigua-and-barbuda_16_10_left { background-position: 0 -221px; }
.antigua-and-barbuda_16_10_right { background-position: 100% -221px; }
.argentina_16_10_left { background-position: 0 -247px; }
.argentina_16_10_right { background-position: 100% -247px; }
.armenia_16_10_left { background-position: 0 -273px; }
.armenia_16_10_right { background-position: 100% -273px; }
.aruba_16_10_left { background-position: 0 -299px; }
.aruba_16_10_right { background-position: 100% -299px; }
.asia_16_10_left { background-position: 0 -325px; }
.asia_16_10_right { background-position: 100% -325px; }
.australia_16_10_left { background-position: 0 -351px; }
.australia_16_10_right { background-position: 100% -351px; }
.austria_16_10_left { background-position: 0 -377px; }
.austria_16_10_right { background-position: 100% -377px; }
.azerbaijan_16_10_left { background-position: 0 -403px; }
.azerbaijan_16_10_right { background-position: 100% -403px; }
.bahamas_16_10_left { background-position: 0 -429px; }
.bahamas_16_10_right { background-position: 100% -429px; }
.bahrain_16_10_left { background-position: 0 -455px; }
.bahrain_16_10_right { background-position: 100% -455px; }
.bangladesh_16_10_left { background-position: 0 -481px; }
.bangladesh_16_10_right { background-position: 100% -481px; }
.barbados_16_10_left { background-position: 0 -507px; }
.barbados_16_10_right { background-position: 100% -507px; }
.belarus_16_10_left { background-position: 0 -533px; }
.belarus_16_10_right { background-position: 100% -533px; }
.belgium_16_10_left { background-position: 0 -559px; }
.belgium_16_10_right { background-position: 100% -559px; }
.belize_16_10_left { background-position: 0 -585px; }
.belize_16_10_right { background-position: 100% -585px; }
.benin_16_10_left { background-position: 0 -611px; }
.benin_16_10_right { background-position: 100% -611px; }
.bermuda_16_10_left { background-position: 0 -637px; }
.bermuda_16_10_right { background-position: 100% -637px; }
.bhutan_16_10_left { background-position: 0 -663px; }
.bhutan_16_10_right { background-position: 100% -663px; }
.bolivia_16_10_left { background-position: 0 -689px; }
.bolivia_16_10_right { background-position: 100% -689px; }
.bonaire_16_10_left { background-position: 0 -715px; }
.bonaire_16_10_right { background-position: 100% -715px; }
.bosnia-herzegovina_16_10_left { background-position: 0 -741px; }
.bosnia-herzegovina_16_10_right { background-position: 100% -741px; }
.botswana_16_10_left { background-position: 0 -767px; }
.botswana_16_10_right { background-position: 100% -767px; }
.brazil_16_10_left { background-position: 0 -793px; }
.brazil_16_10_right { background-position: 100% -793px; }
.british-virgin-islands_16_10_left { background-position: 0 -819px; }
.british-virgin-islands_16_10_right { background-position: 100% -819px; }
.brunei-darussalam_16_10_left { background-position: 0 -845px; }
.brunei-darussalam_16_10_right { background-position: 100% -845px; }
.bulgaria_16_10_left { background-position: 0 -871px; }
.bulgaria_16_10_right { background-position: 100% -871px; }
.burkina-faso_16_10_left { background-position: 0 -897px; }
.burkina-faso_16_10_right { background-position: 100% -897px; }
.burundi_16_10_left { background-position: 0 -923px; }
.burundi_16_10_right { background-position: 100% -923px; }
.cambodia_16_10_left { background-position: 0 -949px; }
.cambodia_16_10_right { background-position: 100% -949px; }
.cameroon_16_10_left { background-position: 0 -975px; }
.cameroon_16_10_right { background-position: 100% -975px; }
.canada_16_10_left { background-position: 0 -1001px; }
.canada_16_10_right { background-position: 100% -1001px; }
.cape-verde-islands_16_10_left { background-position: 0 -1027px; }
.cape-verde-islands_16_10_right { background-position: 100% -1027px; }
.cayman-islands_16_10_left { background-position: 0 -1053px; }
.cayman-islands_16_10_right { background-position: 100% -1053px; }
.central-african-republic_16_10_left { background-position: 0 -1079px; }
.central-african-republic_16_10_right { background-position: 100% -1079px; }
.chad_16_10_left { background-position: 0 -1105px; }
.chad_16_10_right { background-position: 100% -1105px; }
.chile_16_10_left { background-position: 0 -1131px; }
.chile_16_10_right { background-position: 100% -1131px; }
.china-pr_16_10_left { background-position: 0 -1157px; }
.china-pr_16_10_right { background-position: 100% -1157px; }
.chinese-taipei_16_10_left { background-position: 0 -1183px; }
.chinese-taipei_16_10_right { background-position: 100% -1183px; }
.colombia_16_10_left { background-position: 0 -1209px; }
.colombia_16_10_right { background-position: 100% -1209px; }
.comoros_16_10_left { background-position: 0 -1235px; }
.comoros_16_10_right { background-position: 100% -1235px; }
.congo-dr_16_10_left { background-position: 0 -1261px; }
.congo-dr_16_10_right { background-position: 100% -1261px; }
.congo_16_10_left { background-position: 0 -1287px; }
.congo_16_10_right { background-position: 100% -1287px; }
.cook-islands_16_10_left { background-position: 0 -1313px; }
.cook-islands_16_10_right { background-position: 100% -1313px; }
.costa-rica_16_10_left { background-position: 0 -1339px; }
.costa-rica_16_10_right { background-position: 100% -1339px; }
.cote-divoire_16_10_left { background-position: 0 -1365px; }
.cote-divoire_16_10_right { background-position: 100% -1365px; }
.croatia_16_10_left { background-position: 0 -1391px; }
.croatia_16_10_right { background-position: 100% -1391px; }
.cuba_16_10_left { background-position: 0 -1417px; }
.cuba_16_10_right { background-position: 100% -1417px; }
.curacao_16_10_left { background-position: 0 -1443px; }
.curacao_16_10_right { background-position: 100% -1443px; }
.cyprus_16_10_left { background-position: 0 -1469px; }
.cyprus_16_10_right { background-position: 100% -1469px; }
.czech-republic_16_10_left { background-position: 0 -1495px; }
.czech-republic_16_10_right { background-position: 100% -1495px; }
.denmark_16_10_left { background-position: 0 -1521px; }
.denmark_16_10_right { background-position: 100% -1521px; }
.djibouti_16_10_left { background-position: 0 -1547px; }
.djibouti_16_10_right { background-position: 100% -1547px; }
.dominica_16_10_left { background-position: 0 -1573px; }
.dominica_16_10_right { background-position: 100% -1573px; }
.dominican-republic_16_10_left { background-position: 0 -1599px; }
.dominican-republic_16_10_right { background-position: 100% -1599px; }
.east-timor_16_10_left { background-position: 0 -1625px; }
.east-timor_16_10_right { background-position: 100% -1625px; }
.ecuador_16_10_left { background-position: 0 -1651px; }
.ecuador_16_10_right { background-position: 100% -1651px; }
.egypt_16_10_left { background-position: 0 -1677px; }
.egypt_16_10_right { background-position: 100% -1677px; }
.el-salvador_16_10_left { background-position: 0 -1703px; }
.el-salvador_16_10_right { background-position: 100% -1703px; }
.england_16_10_left { background-position: 0 -1729px; }
.england_16_10_right { background-position: 100% -1729px; }
.equatorial-guinea_16_10_left { background-position: 0 -1755px; }
.equatorial-guinea_16_10_right { background-position: 100% -1755px; }
.eritrea_16_10_left { background-position: 0 -1781px; }
.eritrea_16_10_right { background-position: 100% -1781px; }
.estonia_16_10_left { background-position: 0 -1807px; }
.estonia_16_10_right { background-position: 100% -1807px; }
.ethiopia_16_10_left { background-position: 0 -1833px; }
.ethiopia_16_10_right { background-position: 100% -1833px; }
.europe_16_10_left { background-position: 0 -1859px; }
.europe_16_10_right { background-position: 100% -1859px; }
.faroe-islands_16_10_left { background-position: 0 -1885px; }
.faroe-islands_16_10_right { background-position: 100% -1885px; }
.fiji_16_10_left { background-position: 0 -1911px; }
.fiji_16_10_right { background-position: 100% -1911px; }
.finland_16_10_left { background-position: 0 -1937px; }
.finland_16_10_right { background-position: 100% -1937px; }
.france_16_10_left { background-position: 0 -1963px; }
.france_16_10_right { background-position: 100% -1963px; }
.french-guyana_16_10_left { background-position: 0 -1989px; }
.french-guyana_16_10_right { background-position: 100% -1989px; }
.gabon_16_10_left { background-position: 0 -2015px; }
.gabon_16_10_right { background-position: 100% -2015px; }
.gambia_16_10_left { background-position: 0 -2041px; }
.gambia_16_10_right { background-position: 100% -2041px; }
.georgia_16_10_left { background-position: 0 -2067px; }
.georgia_16_10_right { background-position: 100% -2067px; }
.germany_16_10_left { background-position: 0 -2093px; }
.germany_16_10_right { background-position: 100% -2093px; }
.ghana_16_10_left { background-position: 0 -2119px; }
.ghana_16_10_right { background-position: 100% -2119px; }
.gibraltar_16_10_left { background-position: 0 -2145px; }
.gibraltar_16_10_right { background-position: 100% -2145px; }
.great-britain_16_10_left { background-position: 0 -2171px; }
.great-britain_16_10_right { background-position: 100% -2171px; }
.greece_16_10_left { background-position: 0 -2197px; }
.greece_16_10_right { background-position: 100% -2197px; }
.grenada_16_10_left { background-position: 0 -2223px; }
.grenada_16_10_right { background-position: 100% -2223px; }
.guadeloupe_16_10_left { background-position: 0 -2249px; }
.guadeloupe_16_10_right { background-position: 100% -2249px; }
.guam_16_10_left { background-position: 0 -2275px; }
.guam_16_10_right { background-position: 100% -2275px; }
.guatemala_16_10_left { background-position: 0 -2301px; }
.guatemala_16_10_right { background-position: 100% -2301px; }
.guernsey_16_10_left { background-position: 0 -2327px; }
.guernsey_16_10_right { background-position: 100% -2327px; }
.guinea-bissau_16_10_left { background-position: 0 -2353px; }
.guinea-bissau_16_10_right { background-position: 100% -2353px; }
.guinea_16_10_left { background-position: 0 -2379px; }
.guinea_16_10_right { background-position: 100% -2379px; }
.guyana_16_10_left { background-position: 0 -2405px; }
.guyana_16_10_right { background-position: 100% -2405px; }
.haiti_16_10_left { background-position: 0 -2431px; }
.haiti_16_10_right { background-position: 100% -2431px; }
.honduras_16_10_left { background-position: 0 -2457px; }
.honduras_16_10_right { background-position: 100% -2457px; }
.hong-kong_16_10_left { background-position: 0 -2483px; }
.hong-kong_16_10_right { background-position: 100% -2483px; }
.hungary_16_10_left { background-position: 0 -2509px; }
.hungary_16_10_right { background-position: 100% -2509px; }
.iceland_16_10_left { background-position: 0 -2535px; }
.iceland_16_10_right { background-position: 100% -2535px; }
.india_16_10_left { background-position: 0 -2561px; }
.india_16_10_right { background-position: 100% -2561px; }
.indonesia_16_10_left { background-position: 0 -2587px; }
.indonesia_16_10_right { background-position: 100% -2587px; }
.iran_16_10_left { background-position: 0 -2613px; }
.iran_16_10_right { background-position: 100% -2613px; }
.iraq_16_10_left { background-position: 0 -2639px; }
.iraq_16_10_right { background-position: 100% -2639px; }
.ireland-republic_16_10_left { background-position: 0 -2665px; }
.ireland-republic_16_10_right { background-position: 100% -2665px; }
.isle-of-man_16_10_left { background-position: 0 -2691px; }
.isle-of-man_16_10_right { background-position: 100% -2691px; }
.israel_16_10_left { background-position: 0 -2717px; }
.israel_16_10_right { background-position: 100% -2717px; }
.italy_16_10_left { background-position: 0 -2743px; }
.italy_16_10_right { background-position: 100% -2743px; }
.jamaica_16_10_left { background-position: 0 -2769px; }
.jamaica_16_10_right { background-position: 100% -2769px; }
.japan_16_10_left { background-position: 0 -2795px; }
.japan_16_10_right { background-position: 100% -2795px; }
.jersey_16_10_left { background-position: 0 -2821px; }
.jersey_16_10_right { background-position: 100% -2821px; }
.jordan_16_10_left { background-position: 0 -2847px; }
.jordan_16_10_right { background-position: 100% -2847px; }
.kazakhstan_16_10_left { background-position: 0 -2873px; }
.kazakhstan_16_10_right { background-position: 100% -2873px; }
.kenya_16_10_left { background-position: 0 -2899px; }
.kenya_16_10_right { background-position: 100% -2899px; }
.kiribati_16_10_left { background-position: 0 -2925px; }
.kiribati_16_10_right { background-position: 100% -2925px; }
.korea-dpr_16_10_left { background-position: 0 -2951px; }
.korea-dpr_16_10_right { background-position: 100% -2951px; }
.korea-republic_16_10_left { background-position: 0 -2977px; }
.korea-republic_16_10_right { background-position: 100% -2977px; }
.kosovo_16_10_left { background-position: 0 -3003px; }
.kosovo_16_10_right { background-position: 100% -3003px; }
.kuwait_16_10_left { background-position: 0 -3029px; }
.kuwait_16_10_right { background-position: 100% -3029px; }
.kyrgyzstan_16_10_left { background-position: 0 -3055px; }
.kyrgyzstan_16_10_right { background-position: 100% -3055px; }
.laos_16_10_left { background-position: 0 -3081px; }
.laos_16_10_right { background-position: 100% -3081px; }
.latvia_16_10_left { background-position: 0 -3107px; }
.latvia_16_10_right { background-position: 100% -3107px; }
.lebanon_16_10_left { background-position: 0 -3133px; }
.lebanon_16_10_right { background-position: 100% -3133px; }
.lesotho_16_10_left { background-position: 0 -3159px; }
.lesotho_16_10_right { background-position: 100% -3159px; }
.liberia_16_10_left { background-position: 0 -3185px; }
.liberia_16_10_right { background-position: 100% -3185px; }
.libya_16_10_left { background-position: 0 -3211px; }
.libya_16_10_right { background-position: 100% -3211px; }
.liechtenstein_16_10_left { background-position: 0 -3237px; }
.liechtenstein_16_10_right { background-position: 100% -3237px; }
.lithuania_16_10_left { background-position: 0 -3263px; }
.lithuania_16_10_right { background-position: 100% -3263px; }
.luxembourg_16_10_left { background-position: 0 -3289px; }
.luxembourg_16_10_right { background-position: 100% -3289px; }
.macao_16_10_left { background-position: 0 -3315px; }
.macao_16_10_right { background-position: 100% -3315px; }
.macedonia-fyr_16_10_left { background-position: 0 -3341px; }
.macedonia-fyr_16_10_right { background-position: 100% -3341px; }
.madagascar_16_10_left { background-position: 0 -3367px; }
.madagascar_16_10_right { background-position: 100% -3367px; }
.malawi_16_10_left { background-position: 0 -3393px; }
.malawi_16_10_right { background-position: 100% -3393px; }
.malaysia_16_10_left { background-position: 0 -3419px; }
.malaysia_16_10_right { background-position: 100% -3419px; }
.maldives_16_10_left { background-position: 0 -3445px; }
.maldives_16_10_right { background-position: 100% -3445px; }
.mali_16_10_left { background-position: 0 -3471px; }
.mali_16_10_right { background-position: 100% -3471px; }
.malta_16_10_left { background-position: 0 -3497px; }
.malta_16_10_right { background-position: 100% -3497px; }
.martinique_16_10_left { background-position: 0 -3523px; }
.martinique_16_10_right { background-position: 100% -3523px; }
.mauritania_16_10_left { background-position: 0 -3549px; }
.mauritania_16_10_right { background-position: 100% -3549px; }
.mauritius_16_10_left { background-position: 0 -3575px; }
.mauritius_16_10_right { background-position: 100% -3575px; }
.mayotte_16_10_left { background-position: 0 -3601px; }
.mayotte_16_10_right { background-position: 100% -3601px; }
.mexico_16_10_left { background-position: 0 -3627px; }
.mexico_16_10_right { background-position: 100% -3627px; }
.moldova_16_10_left { background-position: 0 -3653px; }
.moldova_16_10_right { background-position: 100% -3653px; }
.monaco_16_10_left { background-position: 0 -3679px; }
.monaco_16_10_right { background-position: 100% -3679px; }
.mongolia_16_10_left { background-position: 0 -3705px; }
.mongolia_16_10_right { background-position: 100% -3705px; }
.montenegro_16_10_left { background-position: 0 -3731px; }
.montenegro_16_10_right { background-position: 100% -3731px; }
.montserrat_16_10_left { background-position: 0 -3757px; }
.montserrat_16_10_right { background-position: 100% -3757px; }
.morocco_16_10_left { background-position: 0 -3783px; }
.morocco_16_10_right { background-position: 100% -3783px; }
.mozambique_16_10_left { background-position: 0 -3809px; }
.mozambique_16_10_right { background-position: 100% -3809px; }
.myanmar_16_10_left { background-position: 0 -3835px; }
.myanmar_16_10_right { background-position: 100% -3835px; }
.namibia_16_10_left { background-position: 0 -3861px; }
.namibia_16_10_right { background-position: 100% -3861px; }
.nauru_16_10_left { background-position: 0 -3887px; }
.nauru_16_10_right { background-position: 100% -3887px; }
.nc-america_16_10_left { background-position: 0 -3913px; }
.nc-america_16_10_right { background-position: 100% -3913px; }
.nepal_16_10_left { background-position: 0 -3939px; }
.nepal_16_10_right { background-position: 100% -3939px; }
.netherlands_16_10_left { background-position: 0 -3965px; }
.netherlands_16_10_right { background-position: 100% -3965px; }
.new-caledonia_16_10_left { background-position: 0 -3991px; }
.new-caledonia_16_10_right { background-position: 100% -3991px; }
.new-zealand_16_10_left { background-position: 0 -4017px; }
.new-zealand_16_10_right { background-position: 100% -4017px; }
.nicaragua_16_10_left { background-position: 0 -4043px; }
.nicaragua_16_10_right { background-position: 100% -4043px; }
.niger_16_10_left { background-position: 0 -4069px; }
.niger_16_10_right { background-position: 100% -4069px; }
.nigeria_16_10_left { background-position: 0 -4095px; }
.nigeria_16_10_right { background-position: 100% -4095px; }
.niue_16_10_left { background-position: 0 -4121px; }
.niue_16_10_right { background-position: 100% -4121px; }
.northern-ireland_16_10_left { background-position: 0 -4147px; }
.northern-ireland_16_10_right { background-position: 100% -4147px; }
.northern-mariana-islands_16_10_left { background-position: 0 -4173px; }
.northern-mariana-islands_16_10_right { background-position: 100% -4173px; }
.norway_16_10_left { background-position: 0 -4199px; }
.norway_16_10_right { background-position: 100% -4199px; }
.oceania_16_10_left { background-position: 0 -4225px; }
.oceania_16_10_right { background-position: 100% -4225px; }
.oman_16_10_left { background-position: 0 -4251px; }
.oman_16_10_right { background-position: 100% -4251px; }
.pakistan_16_10_left { background-position: 0 -4277px; }
.pakistan_16_10_right { background-position: 100% -4277px; }
.palau_16_10_left { background-position: 0 -4303px; }
.palau_16_10_right { background-position: 100% -4303px; }
.palestine_16_10_left { background-position: 0 -4329px; }
.palestine_16_10_right { background-position: 100% -4329px; }
.panama_16_10_left { background-position: 0 -4355px; }
.panama_16_10_right { background-position: 100% -4355px; }
.papua-new-guinea_16_10_left { background-position: 0 -4381px; }
.papua-new-guinea_16_10_right { background-position: 100% -4381px; }
.paraguay_16_10_left { background-position: 0 -4407px; }
.paraguay_16_10_right { background-position: 100% -4407px; }
.peru_16_10_left { background-position: 0 -4433px; }
.peru_16_10_right { background-position: 100% -4433px; }
.philippines_16_10_left { background-position: 0 -4459px; }
.philippines_16_10_right { background-position: 100% -4459px; }
.poland_16_10_left { background-position: 0 -4485px; }
.poland_16_10_right { background-position: 100% -4485px; }
.portugal_16_10_left { background-position: 0 -4511px; }
.portugal_16_10_right { background-position: 100% -4511px; }
.puerto-rico_16_10_left { background-position: 0 -4537px; }
.puerto-rico_16_10_right { background-position: 100% -4537px; }
.qatar_16_10_left { background-position: 0 -4563px; }
.qatar_16_10_right { background-position: 100% -4563px; }
.reunion_16_10_left { background-position: 0 -4589px; }
.reunion_16_10_right { background-position: 100% -4589px; }
.romania_16_10_left { background-position: 0 -4615px; }
.romania_16_10_right { background-position: 100% -4615px; }
.russia_16_10_left { background-position: 0 -4641px; }
.russia_16_10_right { background-position: 100% -4641px; }
.rwanda_16_10_left { background-position: 0 -4667px; }
.rwanda_16_10_right { background-position: 100% -4667px; }
.saint-martin_16_10_left { background-position: 0 -4693px; }
.saint-martin_16_10_right { background-position: 100% -4693px; }
.samoa_16_10_left { background-position: 0 -4719px; }
.samoa_16_10_right { background-position: 100% -4719px; }
.san-marino_16_10_left { background-position: 0 -4745px; }
.san-marino_16_10_right { background-position: 100% -4745px; }
.sao-tome-e-principe_16_10_left { background-position: 0 -4771px; }
.sao-tome-e-principe_16_10_right { background-position: 100% -4771px; }
.saudi-arabia_16_10_left { background-position: 0 -4797px; }
.saudi-arabia_16_10_right { background-position: 100% -4797px; }
.scotland_16_10_left { background-position: 0 -4823px; }
.scotland_16_10_right { background-position: 100% -4823px; }
.senegal_16_10_left { background-position: 0 -4849px; }
.senegal_16_10_right { background-position: 100% -4849px; }
.serbia-and-montenegro_16_10_left { background-position: 0 -4875px; }
.serbia-and-montenegro_16_10_right { background-position: 100% -4875px; }
.serbia_16_10_left { background-position: 0 -4901px; }
.serbia_16_10_right { background-position: 100% -4901px; }
.seychelles_16_10_left { background-position: 0 -4927px; }
.seychelles_16_10_right { background-position: 100% -4927px; }
.sierra-leone_16_10_left { background-position: 0 -4953px; }
.sierra-leone_16_10_right { background-position: 100% -4953px; }
.singapore_16_10_left { background-position: 0 -4979px; }
.singapore_16_10_right { background-position: 100% -4979px; }
.sint-eustatius_16_10_left { background-position: 0 -5005px; }
.sint-eustatius_16_10_right { background-position: 100% -5005px; }
.sint-maarten_16_10_left { background-position: 0 -5031px; }
.sint-maarten_16_10_right { background-position: 100% -5031px; }
.slovakia_16_10_left { background-position: 0 -5057px; }
.slovakia_16_10_right { background-position: 100% -5057px; }
.slovenia_16_10_left { background-position: 0 -5083px; }
.slovenia_16_10_right { background-position: 100% -5083px; }
.solomon-islands_16_10_left { background-position: 0 -5109px; }
.solomon-islands_16_10_right { background-position: 100% -5109px; }
.somalia_16_10_left { background-position: 0 -5135px; }
.somalia_16_10_right { background-position: 100% -5135px; }
.south-africa_16_10_left { background-position: 0 -5161px; }
.south-africa_16_10_right { background-position: 100% -5161px; }
.south-america_16_10_left { background-position: 0 -5187px; }
.south-america_16_10_right { background-position: 100% -5187px; }
.south-sudan_16_10_left { background-position: 0 -5213px; }
.south-sudan_16_10_right { background-position: 100% -5213px; }
.spain_16_10_left { background-position: 0 -5239px; }
.spain_16_10_right { background-position: 100% -5239px; }
.sri-lanka_16_10_left { background-position: 0 -5265px; }
.sri-lanka_16_10_right { background-position: 100% -5265px; }
.st-kitts-and-nevis_16_10_left { background-position: 0 -5291px; }
.st-kitts-and-nevis_16_10_right { background-position: 100% -5291px; }
.st-lucia_16_10_left { background-position: 0 -5317px; }
.st-lucia_16_10_right { background-position: 100% -5317px; }
.st-vincent-and-the-grenadines_16_10_left { background-position: 0 -5343px; }
.st-vincent-and-the-grenadines_16_10_right { background-position: 100% -5343px; }
.sudan_16_10_left { background-position: 0 -5369px; }
.sudan_16_10_right { background-position: 100% -5369px; }
.surinam_16_10_left { background-position: 0 -5395px; }
.surinam_16_10_right { background-position: 100% -5395px; }
.swaziland_16_10_left { background-position: 0 -5421px; }
.swaziland_16_10_right { background-position: 100% -5421px; }
.sweden_16_10_left { background-position: 0 -5447px; }
.sweden_16_10_right { background-position: 100% -5447px; }
.switzerland_16_10_left { background-position: 0 -5473px; }
.switzerland_16_10_right { background-position: 100% -5473px; }
.syria_16_10_left { background-position: 0 -5499px; }
.syria_16_10_right { background-position: 100% -5499px; }
.tahiti_16_10_left { background-position: 0 -5525px; }
.tahiti_16_10_right { background-position: 100% -5525px; }
.tajikistan_16_10_left { background-position: 0 -5551px; }
.tajikistan_16_10_right { background-position: 100% -5551px; }
.tanzania_16_10_left { background-position: 0 -5577px; }
.tanzania_16_10_right { background-position: 100% -5577px; }
.thailand_16_10_left { background-position: 0 -5603px; }
.thailand_16_10_right { background-position: 100% -5603px; }
.togo_16_10_left { background-position: 0 -5629px; }
.togo_16_10_right { background-position: 100% -5629px; }
.tonga_16_10_left { background-position: 0 -5655px; }
.tonga_16_10_right { background-position: 100% -5655px; }
.trinidad-and-tobago_16_10_left { background-position: 0 -5681px; }
.trinidad-and-tobago_16_10_right { background-position: 100% -5681px; }
.tunisia_16_10_left { background-position: 0 -5707px; }
.tunisia_16_10_right { background-position: 100% -5707px; }
.turkey_16_10_left { background-position: 0 -5733px; }
.turkey_16_10_right { background-position: 100% -5733px; }
.turkmenistan_16_10_left { background-position: 0 -5759px; }
.turkmenistan_16_10_right { background-position: 100% -5759px; }
.turks-and-caicos-islands_16_10_left { background-position: 0 -5785px; }
.turks-and-caicos-islands_16_10_right { background-position: 100% -5785px; }
.tuvalu_16_10_left { background-position: 0 -5811px; }
.tuvalu_16_10_right { background-position: 100% -5811px; }
.uganda_16_10_left { background-position: 0 -5837px; }
.uganda_16_10_right { background-position: 100% -5837px; }
.ukraine_16_10_left { background-position: 0 -5863px; }
.ukraine_16_10_right { background-position: 100% -5863px; }
.united-arab-emirates_16_10_left { background-position: 0 -5889px; }
.united-arab-emirates_16_10_right { background-position: 100% -5889px; }
.united-states_16_10_left { background-position: 0 -5915px; }
.united-states_16_10_right { background-position: 100% -5915px; }
.uruguay_16_10_left { background-position: 0 -5941px; }
.uruguay_16_10_right { background-position: 100% -5941px; }
.us-virgin-islands_16_10_left { background-position: 0 -5967px; }
.us-virgin-islands_16_10_right { background-position: 100% -5967px; }
.uzbekistan_16_10_left { background-position: 0 -5993px; }
.uzbekistan_16_10_right { background-position: 100% -5993px; }
.vanuatu_16_10_left { background-position: 0 -6019px; }
.vanuatu_16_10_right { background-position: 100% -6019px; }
.venezuela_16_10_left { background-position: 0 -6045px; }
.venezuela_16_10_right { background-position: 100% -6045px; }
.vietnam_16_10_left { background-position: 0 -6071px; }
.vietnam_16_10_right { background-position: 100% -6071px; }
.wales_16_10_left { background-position: 0 -6097px; }
.wales_16_10_right { background-position: 100% -6097px; }
.world_16_10_left { background-position: 0 -6123px; }
.world_16_10_right { background-position: 100% -6123px; }
.yemen_16_10_left { background-position: 0 -6149px; }
.yemen_16_10_right { background-position: 100% -6149px; }
.zambia_16_10_left { background-position: 0 -6175px; }
.zambia_16_10_right { background-position: 100% -6175px; }
.zanzibar_16_10_left { background-position: 0 -6201px; }
.zanzibar_16_10_right { background-position: 100% -6201px; }
.zimbabwe_16_10_left { background-position: 0 -6227px; }
.zimbabwe_16_10_right { background-position: 100% -6227px; }