@charset "UTF-8";
/*
 * CSS Fadeshow by @alexerlandsson
 * This is a fadeshow built in CSS and with customization in focus.
 * Supports quick navigation, prev/next navigation and autoplay.
 * 
 * For better documentation and implementation guide, check out the GitHub repository:
 * https://github.com/alexerlandsson/css-fadeshow
*/

/*
 * ===== VARIABLES =====
 *
 * Change these variables to match your preferences. For a more detailed
 * description of what each variable do, visit https://github.com/alexerlandsson/css-fadeshow
 */

/*
 * ===== MIXINS =====
 *
 * This section contains mixin used
 * Do not change anything here unless you know what you are doing.
 */

/* Mixins to handle prefixes */

/* Mixins to handle Quick Navigation Button states */

/*
 * ===== FADESHOW =====
 *
 * Base functionality for the fadeshow.
 * Do not change anything here unless you know what you are doing.
 */

[data-am-fadeshow3] {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #fff;
    /* Slides */
    /* Quick Navigation */
    /* Prev/Next Navigation */
    /* Base functionality */
    /* Autohide Prev/Next Navigation */
}

[data-am-fadeshow3] .fs-slide3 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: opacity 1s ease;
    transition: opacity 1s ease;
    /* Display first child on load */
}

[data-am-fadeshow3] .fs-slide3:first-child {
    opacity: 1;
}

[data-am-fadeshow3] .fs-quick-nav3 {
    position: absolute;
    bottom: 15px;
    left: 50%;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

[data-am-fadeshow3] .fs-quick-btn3 {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 2px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    background-color: rgba(255, 255, 255, 0.8);
    /* Set active state to first button on load */
}

[data-am-fadeshow3] .fs-quick-btn3:hover {
    opacity: 0.8;
}

[data-am-fadeshow3] .fs-quick-btn3:first-child {
    background-color: coral;
}

[data-am-fadeshow3] .fs-prev-btn3, [data-am-fadeshow3] .fs-next-btn3 {
    position: absolute;
    display: none;
    top: 0;
    bottom: 0;
    width: 100px;
    cursor: pointer;
    font-family: sans-serif;
    background-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}

@media (max-width: 500px) {
    [data-am-fadeshow3] .fs-prev-btn3, [data-am-fadeshow3] .fs-next-btn3 {
        width: 50%;
    }
}

[data-am-fadeshow3] .fs-prev-btn3:before, [data-am-fadeshow3] .fs-next-btn3:before {
    position: absolute;
    top: 50%;
    font-size: 3vw;
    color: rgba(255, 255, 255, 0.5);
}

[data-am-fadeshow3] .fs-prev-btn3:hover, [data-am-fadeshow3] .fs-next-btn3:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

@media (max-width: 500px) {
    [data-am-fadeshow3] .fs-prev-btn3:hover, [data-am-fadeshow3] .fs-next-btn3:hover {
        background-color: rgba(255, 255, 255, 0);
    }
}

[data-am-fadeshow3] .fs-prev-btn3 {
    left: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

[data-am-fadeshow3] .fs-prev-btn3:before {
    content: "❮";
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media (max-width: 500px) {
    [data-am-fadeshow3] .fs-prev-btn3:before {
        left: 30px;
    }
}

@media (max-width: 500px) {
    [data-am-fadeshow3] .fs-prev-btn3 {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

[data-am-fadeshow3] .fs-next-btn3 {
    right: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

[data-am-fadeshow3] .fs-next-btn3:before {
    content: "❯";
    right: 50%;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
}

@media (max-width: 500px) {
    [data-am-fadeshow3] .fs-next-btn3:before {
        right: 30px;
    }
}

@media (max-width: 500px) {
    [data-am-fadeshow3] .fs-next-btn3 {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

[data-am-fadeshow3] input[type="radio"] {
    position: fixed;
    top: -9999px;
}

[data-am-fadeshow3] input[type="radio"]:checked {
    /* This loop handles the slide switching and quick navigation active state */
    /* Hide navigation if only one slide */
}

[data-am-fadeshow3] input[type="radio"]:checked:nth-of-type(5) {
    /* Show slide */
    /* Add active state to dot */
}

[data-am-fadeshow3] input[type="radio"]:checked:nth-of-type(5)~.fs-slides3 .fs-slide3 {
    opacity: 0;
    -webkit-animation: none !important;
    animation: none !important;
}

[data-am-fadeshow3] input[type="radio"]:checked:nth-of-type(5)~.fs-slides3 .fs-slide3:nth-child(5) {
    opacity: 1;
}

[data-am-fadeshow3] input[type="radio"]:checked:nth-of-type(5)~.fs-quick-nav3 .fs-quick-btn3 {
    background-color: rgba(255, 255, 255, 0.8);
    /* Cancel autoplay */
    -webkit-animation: none !important;
    animation: none !important;
}

[data-am-fadeshow3] input[type="radio"]:checked:nth-of-type(5)~.fs-quick-nav3 .fs-quick-btn3:nth-child(5) {
    background-color: coral;
}

[data-am-fadeshow3] input[type="radio"]:checked:nth-of-type(5)~.fs-quick-nav3 .fs-quick-btn3:nth-child(5):hover {
    opacity: 1;
}

[data-am-fadeshow3] input[type="radio"]:checked:nth-of-type(4) {
    /* Show slide */
    /* Add active state to dot */
}

[data-am-fadeshow3] input[type="radio"]:checked:nth-of-type(4)~.fs-slides3 .fs-slide3 {
    opacity: 0;
    -webkit-animation: none !important;
    animation: none !important;
}

[data-am-fadeshow3] input[type="radio"]:checked:nth-of-type(4)~.fs-slides3 .fs-slide3:nth-child(4) {
    opacity: 1;
}

[data-am-fadeshow3] input[type="radio"]:checked:nth-of-type(4)~.fs-quick-nav3 .fs-quick-btn3 {
    background-color: rgba(255, 255, 255, 0.8);
    /* Cancel autoplay */
    -webkit-animation: none !important;
    animation: none !important;
}

[data-am-fadeshow3] input[type="radio"]:checked:nth-of-type(4)~.fs-quick-nav3 .fs-quick-btn3:nth-child(4) {
    background-color: coral;
}

[data-am-fadeshow3] input[type="radio"]:checked:nth-of-type(4)~.fs-quick-nav3 .fs-quick-btn3:nth-child(4):hover {
    opacity: 1;
}

[data-am-fadeshow3] input[type="radio"]:checked:nth-of-type(3) {
    /* Show slide */
    /* Add active state to dot */
}

[data-am-fadeshow3] input[type="radio"]:checked:nth-of-type(3)~.fs-slides3 .fs-slide3 {
    opacity: 0;
    -webkit-animation: none !important;
    animation: none !important;
}

[data-am-fadeshow3] input[type="radio"]:checked:nth-of-type(3)~.fs-slides3 .fs-slide3:nth-child(3) {
    opacity: 1;
}

[data-am-fadeshow3] input[type="radio"]:checked:nth-of-type(3)~.fs-quick-nav3 .fs-quick-btn3 {
    background-color: rgba(255, 255, 255, 0.8);
    /* Cancel autoplay */
    -webkit-animation: none !important;
    animation: none !important;
}

[data-am-fadeshow3] input[type="radio"]:checked:nth-of-type(3)~.fs-quick-nav3 .fs-quick-btn3:nth-child(3) {
    background-color: coral;
}

[data-am-fadeshow3] input[type="radio"]:checked:nth-of-type(3)~.fs-quick-nav3 .fs-quick-btn3:nth-child(3):hover {
    opacity: 1;
}

[data-am-fadeshow3] input[type="radio"]:checked:nth-of-type(2) {
    /* Show slide */
    /* Add active state to dot */
}

[data-am-fadeshow3] input[type="radio"]:checked:nth-of-type(2)~.fs-slides3 .fs-slide3 {
    opacity: 0;
    -webkit-animation: none !important;
    animation: none !important;
}

[data-am-fadeshow3] input[type="radio"]:checked:nth-of-type(2)~.fs-slides3 .fs-slide3:nth-child(2) {
    opacity: 1;
}

[data-am-fadeshow3] input[type="radio"]:checked:nth-of-type(2)~.fs-quick-nav3 .fs-quick-btn3 {
    background-color: rgba(255, 255, 255, 0.8);
    /* Cancel autoplay */
    -webkit-animation: none !important;
    animation: none !important;
}

[data-am-fadeshow3] input[type="radio"]:checked:nth-of-type(2)~.fs-quick-nav3 .fs-quick-btn3:nth-child(2) {
    background-color: coral;
}

[data-am-fadeshow3] input[type="radio"]:checked:nth-of-type(2)~.fs-quick-nav3 .fs-quick-btn3:nth-child(2):hover {
    opacity: 1;
}

[data-am-fadeshow3] input[type="radio"]:checked:nth-of-type(1) {
    /* Show slide */
    /* Add active state to dot */
}

[data-am-fadeshow3] input[type="radio"]:checked:nth-of-type(1)~.fs-slides3 .fs-slide3 {
    opacity: 0;
    -webkit-animation: none !important;
    animation: none !important;
}

[data-am-fadeshow3] input[type="radio"]:checked:nth-of-type(1)~.fs-slides3 .fs-slide3:nth-child(1) {
    opacity: 1;
}

[data-am-fadeshow3] input[type="radio"]:checked:nth-of-type(1)~.fs-quick-nav3 .fs-quick-btn3 {
    background-color: rgba(255, 255, 255, 0.8);
    /* Cancel autoplay */
    -webkit-animation: none !important;
    animation: none !important;
}

[data-am-fadeshow3] input[type="radio"]:checked:nth-of-type(1)~.fs-quick-nav3 .fs-quick-btn3:nth-child(1) {
    background-color: coral;
}

[data-am-fadeshow3] input[type="radio"]:checked:nth-of-type(1)~.fs-quick-nav3 .fs-quick-btn3:nth-child(1):hover {
    opacity: 1;
}

[data-am-fadeshow3] input[type="radio"]:checked:first-of-type:last-of-type~.fs-quick-nav3, [data-am-fadeshow3] input[type="radio"]:checked:first-of-type:last-of-type~.fs-prev-nav3, [data-am-fadeshow3] input[type="radio"]:checked:first-of-type:last-of-type~.fs-next-nav3 {
    display: none !important;
}

[data-am-fadeshow3]:hover .fs-prev-btn3, [data-am-fadeshow3]:hover .fs-next-btn3 {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

/*
 * ===== PREV/NEXT NAVIGATION =====
 *
 * This section handles the prev/next navigation.
 */

/* Handle Prev/Next buttons */

[data-am-fadeshow3~="next-prev-navigation3"] {
    /* Display first pair of Prev/Next Buttons on load */
}

[data-am-fadeshow3~="next-prev-navigation3"] input[type="radio"]:checked:nth-of-type(5) {
    /* Show previous button */
    /* Show next button */
    /* Show last prev button if first slide */
    /* Show first next button if last slide */
}

[data-am-fadeshow3~="next-prev-navigation3"] input[type="radio"]:checked:nth-of-type(5)~.fs-prev-nav3 .fs-prev-btn3 {
    display: none;
}

[data-am-fadeshow3~="next-prev-navigation3"] input[type="radio"]:checked:nth-of-type(5)~.fs-prev-nav3 .fs-prev-btn3:nth-child(4) {
    display: block;
}

[data-am-fadeshow3~="next-prev-navigation3"] input[type="radio"]:checked:nth-of-type(5):first-of-type~.fs-prev-nav3 .fs-prev-btn3:last-child {
    display: block;
}

[data-am-fadeshow3~="next-prev-navigation3"] input[type="radio"]:checked:nth-of-type(5):last-of-type~.fs-next-nav3 .fs-next-btn3:first-child {
    display: block;
}

[data-am-fadeshow3~="next-prev-navigation3"] input[type="radio"]:checked:nth-of-type(4) {
    /* Show previous button */
    /* Show next button */
    /* Show last prev button if first slide */
    /* Show first next button if last slide */
}

[data-am-fadeshow3~="next-prev-navigation3"] input[type="radio"]:checked:nth-of-type(4)~.fs-prev-nav3 .fs-prev-btn3 {
    display: none;
}

[data-am-fadeshow3~="next-prev-navigation3"] input[type="radio"]:checked:nth-of-type(4)~.fs-prev-nav3 .fs-prev-btn3:nth-child(3) {
    display: block;
}

[data-am-fadeshow3~="next-prev-navigation3"] input[type="radio"]:checked:nth-of-type(4)~.fs-next-nav3 .fs-next-btn3 {
    display: none;
}

[data-am-fadeshow3~="next-prev-navigation3"] input[type="radio"]:checked:nth-of-type(4)~.fs-next-nav3 .fs-next-btn3:nth-child(5) {
    display: block;
}

[data-am-fadeshow3~="next-prev-navigation3"] input[type="radio"]:checked:nth-of-type(4):first-of-type~.fs-prev-nav3 .fs-prev-btn3:last-child {
    display: block;
}

[data-am-fadeshow3~="next-prev-navigation3"] input[type="radio"]:checked:nth-of-type(4):last-of-type~.fs-next-nav3 .fs-next-btn3:first-child {
    display: block;
}

[data-am-fadeshow3~="next-prev-navigation3"] input[type="radio"]:checked:nth-of-type(3) {
    /* Show previous button */
    /* Show next button */
    /* Show last prev button if first slide */
    /* Show first next button if last slide */
}

[data-am-fadeshow3~="next-prev-navigation3"] input[type="radio"]:checked:nth-of-type(3)~.fs-prev-nav3 .fs-prev-btn3 {
    display: none;
}

[data-am-fadeshow3~="next-prev-navigation3"] input[type="radio"]:checked:nth-of-type(3)~.fs-prev-nav3 .fs-prev-btn3:nth-child(2) {
    display: block;
}

[data-am-fadeshow3~="next-prev-navigation3"] input[type="radio"]:checked:nth-of-type(3)~.fs-next-nav3 .fs-next-btn3 {
    display: none;
}

[data-am-fadeshow3~="next-prev-navigation3"] input[type="radio"]:checked:nth-of-type(3)~.fs-next-nav3 .fs-next-btn3:nth-child(4) {
    display: block;
}

[data-am-fadeshow3~="next-prev-navigation3"] input[type="radio"]:checked:nth-of-type(3):first-of-type~.fs-prev-nav3 .fs-prev-btn3:last-child {
    display: block;
}

[data-am-fadeshow3~="next-prev-navigation3"] input[type="radio"]:checked:nth-of-type(3):last-of-type~.fs-next-nav3 .fs-next-btn3:first-child {
    display: block;
}

[data-am-fadeshow3~="next-prev-navigation3"] input[type="radio"]:checked:nth-of-type(2) {
    /* Show previous button */
    /* Show next button */
    /* Show last prev button if first slide */
    /* Show first next button if last slide */
}

[data-am-fadeshow3~="next-prev-navigation3"] input[type="radio"]:checked:nth-of-type(2)~.fs-prev-nav3 .fs-prev-btn3 {
    display: none;
}

[data-am-fadeshow3~="next-prev-navigation3"] input[type="radio"]:checked:nth-of-type(2)~.fs-prev-nav3 .fs-prev-btn3:nth-child(1) {
    display: block;
}

[data-am-fadeshow3~="next-prev-navigation3"] input[type="radio"]:checked:nth-of-type(2)~.fs-next-nav3 .fs-next-btn3 {
    display: none;
}

[data-am-fadeshow3~="next-prev-navigation3"] input[type="radio"]:checked:nth-of-type(2)~.fs-next-nav3 .fs-next-btn3:nth-child(3) {
    display: block;
}

[data-am-fadeshow3~="next-prev-navigation3"] input[type="radio"]:checked:nth-of-type(2):first-of-type~.fs-prev-nav3 .fs-prev-btn3:last-child {
    display: block;
}

[data-am-fadeshow3~="next-prev-navigation3"] input[type="radio"]:checked:nth-of-type(2):last-of-type~.fs-next-nav3 .fs-next-btn3:first-child {
    display: block;
}

[data-am-fadeshow3~="next-prev-navigation3"] input[type="radio"]:checked:nth-of-type(1) {
    /* Show previous button */
    /* Show next button */
    /* Show last prev button if first slide */
    /* Show first next button if last slide */
}

[data-am-fadeshow3~="next-prev-navigation3"] input[type="radio"]:checked:nth-of-type(1)~.fs-next-nav3 .fs-next-btn3 {
    display: none;
}

[data-am-fadeshow3~="next-prev-navigation3"] input[type="radio"]:checked:nth-of-type(1)~.fs-next-nav3 .fs-next-btn3:nth-child(2) {
    display: block;
}

[data-am-fadeshow3~="next-prev-navigation3"] input[type="radio"]:checked:nth-of-type(1):first-of-type~.fs-prev-nav3 .fs-prev-btn3:last-child {
    display: block;
}

[data-am-fadeshow3~="next-prev-navigation3"] input[type="radio"]:checked:nth-of-type(1):last-of-type~.fs-next-nav3 .fs-next-btn3:first-child {
    display: block;
}

[data-am-fadeshow3~="next-prev-navigation3"] .fs-prev-btn3:last-child {
    display: block;
}

[data-am-fadeshow3~="next-prev-navigation3"] .fs-next-btn3:nth-child(2) {
    display: block;
}

/*
 * ===== AUTOPLAY =====
 *
 * Functions to handle autoplay.
 * If you're not going to use autoplay, set $autoplay to false.
 * This part tends to compile into a lot of uneccesary CSS otherwise.
 */

@keyframes quickNavAnimation-5 {
    0% {
        background-color: rgba(255, 255, 255, 0.8);
    }
    4%, 20% {
        background-color: coral;
    }
    24%, 100% {
        background-color: rgba(255, 255, 255, 0.8);
    }
}

@-webkit-keyframes quickNavAnimation-5 {
    0% {
        background-color: rgba(255, 255, 255, 0.8);
    }
    4%, 20% {
        background-color: coral;
    }
    24%, 100% {
        background-color: rgba(255, 255, 255, 0.8);
    }
}

@keyframes slidesAnimation-5 {
    0% {
        opacity: 0;
    }
    4%, 20% {
        opacity: 1;
    }
    24%, 100% {
        opacity: 0;
    }
}

@-webkit-keyframes slidesAnimation-5 {
    0% {
        opacity: 0;
    }
    4%, 20% {
        opacity: 1;
    }
    24%, 100% {
        opacity: 0;
    }
}

[data-am-fadeshow3~="autoplay"] input[type="radio"]:nth-of-type(5):last-of-type {
    /* Slide animation */
    /* Quick navigation animation */
    /* Animation Delay */
}

[data-am-fadeshow3~="autoplay"] input[type="radio"]:nth-of-type(5):last-of-type~.fs-slides3 .fs-slide3 {
    -webkit-animation: slidesAnimation-5 25s infinite;
    animation: slidesAnimation-5 25s infinite;
}

[data-am-fadeshow3~="autoplay"] input[type="radio"]:nth-of-type(5):last-of-type~.fs-quick-nav3 .fs-quick-btn3 {
    -webkit-animation: quickNavAnimation-5 25s infinite;
    animation: quickNavAnimation-5 25s infinite;
}

[data-am-fadeshow3~="autoplay"] input[type="radio"]:nth-of-type(5):last-of-type~.fs-slides3 .fs-slide3:nth-child(1), [data-am-fadeshow3~="autoplay"] input[type="radio"]:nth-of-type(5):last-of-type~.fs-quick-nav3 .fs-quick-btn3:nth-child(1) {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

[data-am-fadeshow3~="autoplay"] input[type="radio"]:nth-of-type(5):last-of-type~.fs-slides3 .fs-slide3:nth-child(2), [data-am-fadeshow3~="autoplay"] input[type="radio"]:nth-of-type(5):last-of-type~.fs-quick-nav3 .fs-quick-btn3:nth-child(2) {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}

[data-am-fadeshow3~="autoplay"] input[type="radio"]:nth-of-type(5):last-of-type~.fs-slides3 .fs-slide3:nth-child(3), [data-am-fadeshow3~="autoplay"] input[type="radio"]:nth-of-type(5):last-of-type~.fs-quick-nav3 .fs-quick-btn3:nth-child(3) {
    -webkit-animation-delay: 9s;
    animation-delay: 9s;
}

[data-am-fadeshow3~="autoplay"] input[type="radio"]:nth-of-type(5):last-of-type~.fs-slides3 .fs-slide3:nth-child(4), [data-am-fadeshow3~="autoplay"] input[type="radio"]:nth-of-type(5):last-of-type~.fs-quick-nav3 .fs-quick-btn3:nth-child(4) {
    -webkit-animation-delay: 14s;
    animation-delay: 14s;
}

[data-am-fadeshow3~="autoplay"] input[type="radio"]:nth-of-type(5):last-of-type~.fs-slides3 .fs-slide3:nth-child(5), [data-am-fadeshow3~="autoplay"] input[type="radio"]:nth-of-type(5):last-of-type~.fs-quick-nav3 .fs-quick-btn3:nth-child(5) {
    -webkit-animation-delay: 19s;
    animation-delay: 19s;
}

@keyframes quickNavAnimation-4 {
    0% {
        background-color: rgba(255, 255, 255, 0.8);
    }
    5%, 25% {
        background-color: coral;
    }
    30%, 100% {
        background-color: rgba(255, 255, 255, 0.8);
    }
}

@-webkit-keyframes quickNavAnimation-4 {
    0% {
        background-color: rgba(255, 255, 255, 0.8);
    }
    5%, 25% {
        background-color: coral;
    }
    30%, 100% {
        background-color: rgba(255, 255, 255, 0.8);
    }
}

@keyframes slidesAnimation-4 {
    0% {
        opacity: 0;
    }
    5%, 25% {
        opacity: 1;
    }
    30%, 100% {
        opacity: 0;
    }
}

@-webkit-keyframes slidesAnimation-4 {
    0% {
        opacity: 0;
    }
    5%, 25% {
        opacity: 1;
    }
    30%, 100% {
        opacity: 0;
    }
}

[data-am-fadeshow3~="autoplay"] input[type="radio"]:nth-of-type(4):last-of-type {
    /* Slide animation */
    /* Quick navigation animation */
    /* Animation Delay */
}

[data-am-fadeshow3~="autoplay"] input[type="radio"]:nth-of-type(4):last-of-type~.fs-slides3 .fs-slide3 {
    -webkit-animation: slidesAnimation-4 20s infinite;
    animation: slidesAnimation-4 20s infinite;
}

[data-am-fadeshow3~="autoplay"] input[type="radio"]:nth-of-type(4):last-of-type~.fs-quick-nav3 .fs-quick-btn3 {
    -webkit-animation: quickNavAnimation-4 20s infinite;
    animation: quickNavAnimation-4 20s infinite;
}

[data-am-fadeshow3~="autoplay"] input[type="radio"]:nth-of-type(4):last-of-type~.fs-slides3 .fs-slide3:nth-child(1), [data-am-fadeshow3~="autoplay"] input[type="radio"]:nth-of-type(4):last-of-type~.fs-quick-nav3 .fs-quick-btn3:nth-child(1) {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

[data-am-fadeshow3~="autoplay"] input[type="radio"]:nth-of-type(4):last-of-type~.fs-slides3 .fs-slide3:nth-child(2), [data-am-fadeshow3~="autoplay"] input[type="radio"]:nth-of-type(4):last-of-type~.fs-quick-nav3 .fs-quick-btn3:nth-child(2) {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}

[data-am-fadeshow3~="autoplay"] input[type="radio"]:nth-of-type(4):last-of-type~.fs-slides3 .fs-slide3:nth-child(3), [data-am-fadeshow3~="autoplay"] input[type="radio"]:nth-of-type(4):last-of-type~.fs-quick-nav3 .fs-quick-btn3:nth-child(3) {
    -webkit-animation-delay: 9s;
    animation-delay: 9s;
}

[data-am-fadeshow3~="autoplay"] input[type="radio"]:nth-of-type(4):last-of-type~.fs-slides3 .fs-slide3:nth-child(4), [data-am-fadeshow3~="autoplay"] input[type="radio"]:nth-of-type(4):last-of-type~.fs-quick-nav3 .fs-quick-btn3:nth-child(4) {
    -webkit-animation-delay: 14s;
    animation-delay: 14s;
}

@keyframes quickNavAnimation-3 {
    0% {
        background-color: rgba(255, 255, 255, 0.8);
    }
    6.66667%, 33.33333% {
        background-color: coral;
    }
    40%, 100% {
        background-color: rgba(255, 255, 255, 0.8);
    }
}

@-webkit-keyframes quickNavAnimation-3 {
    0% {
        background-color: rgba(255, 255, 255, 0.8);
    }
    6.66667%, 33.33333% {
        background-color: coral;
    }
    40%, 100% {
        background-color: rgba(255, 255, 255, 0.8);
    }
}

@keyframes slidesAnimation-3 {
    0% {
        opacity: 0;
    }
    6.66667%, 33.33333% {
        opacity: 1;
    }
    40%, 100% {
        opacity: 0;
    }
}

@-webkit-keyframes slidesAnimation-3 {
    0% {
        opacity: 0;
    }
    6.66667%, 33.33333% {
        opacity: 1;
    }
    40%, 100% {
        opacity: 0;
    }
}

[data-am-fadeshow3~="autoplay"] input[type="radio"]:nth-of-type(3):last-of-type {
    /* Slide animation */
    /* Quick navigation animation */
    /* Animation Delay */
}

[data-am-fadeshow3~="autoplay"] input[type="radio"]:nth-of-type(3):last-of-type~.fs-slides3 .fs-slide3 {
    -webkit-animation: slidesAnimation-3 15s infinite;
    animation: slidesAnimation-3 15s infinite;
}

[data-am-fadeshow3~="autoplay"] input[type="radio"]:nth-of-type(3):last-of-type~.fs-quick-nav3 .fs-quick-btn3 {
    -webkit-animation: quickNavAnimation-3 15s infinite;
    animation: quickNavAnimation-3 15s infinite;
}

[data-am-fadeshow3~="autoplay"] input[type="radio"]:nth-of-type(3):last-of-type~.fs-slides3 .fs-slide3:nth-child(1), [data-am-fadeshow3~="autoplay"] input[type="radio"]:nth-of-type(3):last-of-type~.fs-quick-nav3 .fs-quick-btn3:nth-child(1) {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

[data-am-fadeshow3~="autoplay"] input[type="radio"]:nth-of-type(3):last-of-type~.fs-slides3 .fs-slide3:nth-child(2), [data-am-fadeshow3~="autoplay"] input[type="radio"]:nth-of-type(3):last-of-type~.fs-quick-nav3 .fs-quick-btn3:nth-child(2) {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}

[data-am-fadeshow3~="autoplay"] input[type="radio"]:nth-of-type(3):last-of-type~.fs-slides3 .fs-slide3:nth-child(3), [data-am-fadeshow3~="autoplay"] input[type="radio"]:nth-of-type(3):last-of-type~.fs-quick-nav3 .fs-quick-btn3:nth-child(3) {
    -webkit-animation-delay: 9s;
    animation-delay: 9s;
}

@keyframes quickNavAnimation-2 {
    0% {
        background-color: rgba(255, 255, 255, 0.8);
    }
    10%, 50% {
        background-color: coral;
    }
    60%, 100% {
        background-color: rgba(255, 255, 255, 0.8);
    }
}

@-webkit-keyframes quickNavAnimation-2 {
    0% {
        background-color: rgba(255, 255, 255, 0.8);
    }
    10%, 50% {
        background-color: coral;
    }
    60%, 100% {
        background-color: rgba(255, 255, 255, 0.8);
    }
}

@keyframes slidesAnimation-2 {
    0% {
        opacity: 0;
    }
    10%, 50% {
        opacity: 1;
    }
    60%, 100% {
        opacity: 0;
    }
}

@-webkit-keyframes slidesAnimation-2 {
    0% {
        opacity: 0;
    }
    10%, 50% {
        opacity: 1;
    }
    60%, 100% {
        opacity: 0;
    }
}

[data-am-fadeshow3~="autoplay"] input[type="radio"]:nth-of-type(2):last-of-type {
    /* Slide animation */
    /* Quick navigation animation */
    /* Animation Delay */
}

[data-am-fadeshow3~="autoplay"] input[type="radio"]:nth-of-type(2):last-of-type~.fs-slides3 .fs-slide3 {
    -webkit-animation: slidesAnimation-2 10s infinite;
    animation: slidesAnimation-2 10s infinite;
}

[data-am-fadeshow3~="autoplay"] input[type="radio"]:nth-of-type(2):last-of-type~.fs-quick-nav3 .fs-quick-btn3 {
    -webkit-animation: quickNavAnimation-2 10s infinite;
    animation: quickNavAnimation-2 10s infinite;
}

[data-am-fadeshow3~="autoplay"] input[type="radio"]:nth-of-type(2):last-of-type~.fs-slides3 .fs-slide3:nth-child(1), [data-am-fadeshow3~="autoplay"] input[type="radio"]:nth-of-type(2):last-of-type~.fs-quick-nav3 .fs-quick-btn3:nth-child(1) {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

[data-am-fadeshow3~="autoplay"] input[type="radio"]:nth-of-type(2):last-of-type~.fs-slides3 .fs-slide3:nth-child(2), [data-am-fadeshow3~="autoplay"] input[type="radio"]:nth-of-type(2):last-of-type~.fs-quick-nav3 .fs-quick-btn3:nth-child(2) {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}