@media (min-width: 1440px) {
    .team {
        width: 1440px;
        margin: auto;
        /* height: 2000px; */
        background-color: #f6f6f6;
    }
    .team-detail {
        width: 1440px;
        height: 700px;
        background-color: #fff;
        margin: auto;
    }
}

@media (max-width: 1439px) {
    .team {
        width: 100%;
        /* height: 2000px; */
        background-color: #f6f6f6;
    }
    .team-detail {
        width: 100%;
        height: 700px;
        background-color: #fff;
    }
}

.team-content {
    height: 98%;
    width: 85%;
    background-color: #fff;
    margin: auto;
    padding: 0% 2%;
}

.team-content-header {
    width: 100%;
    height: 4%;
    padding: 1% 0%;
}

.team-content-main {
    width: 100%;
    height: 95%;
    margin-top: 1%;
}

.selected-item {
    float: left;
}

.selected-item p {
    font-size: 18px;
}

.selected-item p span {
    font-weight: bold;
}

/* dropdown list */

.dropdown {
    margin: auto;
    width: 300px;
    position: relative;
    -webkit-perspective: 800px;
    perspective: 800px;
    height: 100%;
}

.dropdown.active .selLabel:after {
    content: '\25B2';
}

.dropdown.active .dropdown-list li:nth-child(1) {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}

.dropdown.active .dropdown-list li:nth-child(2) {
    -webkit-transform: translateY(200%);
    transform: translateY(200%);
}

.dropdown.active .dropdown-list li:nth-child(3) {
    -webkit-transform: translateY(300%);
    transform: translateY(300%);
}

.dropdown.active .dropdown-list li:nth-child(4) {
    -webkit-transform: translateY(400%);
    transform: translateY(400%);
}

.dropdown>span {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    line-height: 60px;
    color: #000;
    font-size: 18px;
    letter-spacing: 2px;
    background: #FFF;
    display: block;
    padding: 0 50px 0 30px;
    position: relative;
    z-index: 9999;
    cursor: pointer;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transition: -webkit-transform 300ms;
    transition: -webkit-transform 300ms;
    transition: transform 300ms;
    transition: transform 300ms, -webkit-transform 300ms;
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dropdown>span:after {
    content: '\25BC';
    position: absolute;
    right: 0px;
    top: 15%;
    width: 50px;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    height: 70%;
    line-height: 24px;
    border-left: 1px solid #ddd;
}

.dropdown>span:active {
    -webkit-transform: rotateX(45deg);
    transform: rotateX(45deg);
}

.dropdown>span:active:after {
    content: '\25B2';
}

.dropdown-list {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
}

.dropdown-list li {
    display: block;
    list-style: none;
    left: 0;
    /* opacity: 1; */
    -webkit-transition: -webkit-transform 300ms ease;
    transition: -webkit-transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform 300ms ease, -webkit-transform 300ms ease;
    position: absolute;
    top: 0;
    width: 100%;
    height: 70%;
    background-color: #fff;
}

.dropdown-list li:nth-child() {
    background-color: #FFF;
    z-index: 4;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    height: 100%;
}

.dropdown-list li span {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    font-size: 18px;
    line-height: 60px;
    padding: 0 30px;
    display: block;
    color: #000;
    cursor: pointer;
    letter-spacing: 2px;
    height: 100%;
}

/*Portfolio===============================*/

.portfolio {
    margin: 1rem 0;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    -webkit-column-width: 33.33333333333333%;
    -moz-column-width: 33.33333333333333%;
    column-width: 33.33333333333333%;
    width: 100%;
    height: 100%;
}

.portfolio-container {
    width: 100%;
    height: 100%;
}

.portfolio-container .container {
    width: 100%;
    height: 100%;
}

.portfolio-container .container .row {
    width: 100%;
    height: 100%;
}

.portfolio-container .container .text-center {
    width: 100%;
    height: 2.5%;
    text-align: left !important;
}

.portfolio-container .tile {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
}

.defender .players {
    height: 48% !important;
    width: 16% !important;
    margin-bottom: 0.5%;
}

.midfielder .players {
    height: 48% !important;
    width: 16% !important;
    margin-bottom: 0.5%;
}

.forward .players {
    height: 95% !important;
    width: 16% !important;
    margin-bottom: 0.5%;
}

.portfolio-container .goalkeeper .players {
    /* border: 1px solid #000; */
    border-radius: 12px;
    height: 99% !important;
    width: 16% !important;
    float: left;
    margin-right: 1%;
    margin-bottom: 0.5%;
    float: none;
    display: inline-block;
}

.portfolio-container .goalkeeper .players .players-photo {
    height: 75% !important;
}

.portfolio-container .goalkeeper .players .players-info {
    height: 45px !important;
}

.players-photo {
    height: 75% !important;
    border-radius: 12px 12px 0px 0px;
}

.players-info-name {
    height: 100% !important;
    width: 75% !important;
    border-radius: 0px 0px 0px 12px;
    padding-left: 5%;
    padding-top: 2%;
    /* border: 1px solid #000; */
    float: left;
}

.players-info {
    height: 45px !important;
    border-radius: 0px 0px 12px 12px;
    background-color: #c21807;
}

.players-info-number {
    height: 100% !important;
    width: 25% !important;
    border-radius: 0px 0px 12px 0px;
    float: left;
    /* border: 1px solid #000; */
}

.portfolio-container .scale-anm .tile-content {
    height: 82% !important;
    width: 100%;
}

.portfolio-container .goalkeeper {
    height: 15% !important;
    width: 100%;
}

.portfolio-container .tile {
    border-bottom: 1px solid #888888;
}

.portfolio-container .scale-anm .tile-content-defender {
    height: 90% !important;
    width: 100%;
}

.portfolio-container .scale-anm .tile-content-midfielder {
    height: 90% !important;
    width: 100%;
}

.portfolio-container .scale-anm .tile-content-forward {
    height: 82% !important;
    width: 100%;
}

.portfolio-container .tile-header-goalkeeper {
    height: 18% !important;
    width: 100%;
}

.portfolio-container .tile-header-defender {
    height: 10% !important;
    width: 100%;
}

.portfolio-container .tile-header-midfielder {
    height: 10% !important;
    width: 100%;
}

.portfolio-container .tile-header-forward {
    height: 18% !important;
    width: 100%;
}

.portfolio-container .defender {
    height: 27%;
    width: 100%;
}

.portfolio-container .midfielder {
    height: 27%;
    width: 100%;
}

.portfolio-container .forward {
    height: 15%;
    width: 100%;
}

.portfolio-container .scale-anm {
    transform: scale(1);
    width: 100%;
}

.portfolio-container .scale-anm .tile-header {
    height: 20%;
    width: 100%;
}

.portfolio-container p {
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    color: #9c080d;
    display: block;
    float: left;
    font-weight: bold;
    width: 100%;
}

.portfolio-container p:hover {
    cursor: pointer;
    background: #fff;
    color: #9c080d;
}

.portfolio-container .tile img {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.portfolio-container .btn {
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    padding: 5px 10px;
    margin: 0;
    height: auto;
    border: 1px solid;
    vertical-align: middle;
    -webkit-appearance: none;
    color: #555;
    background-color: rgba(0, 0, 0, 0);
}

.portfolio-container .btn:hover {
    text-decoration: none;
    color: #fff;
    background-color: #c80500;
}

.portfolio-container .btn:focus {
    outline: none;
    border-color: var(--darken-2);
    box-shadow: 0 0 0 3px var(--darken-3);
}

/*Portfolio===============================*/

.portfolio-container .active {
    background-color: #c80500;
    color: #fff;
    outline: 0;
    box-shadow: none;
}

.portfolio-container .active:active {
    background-color: #c80500;
    color: #fff;
    outline: 0;
    box-shadow: none;
}

.content-detail-team-left-top .footer-medsoss {
    width: 10%;
    height: 20%;
    margin-left: 2%;
    margin-top: 1%;
    background-color: #fff;
    border-radius: 28px;
    float: left;
}

.footer-medsoss i {
    font-size: 24px;
    color: #AB1216;
    padding-left: 28%;
    padding-top: 22%;
}

@media (max-width: 576px) and (min-width: 320px) {
    .players-info-name h4 {
        color: #fff;
        font-size: 60%;
        font-weight: normal;
        /* overflow-wrap: break-word; */
        margin-top: 7%;
    }
    .players-info-number h1 {
        margin-left: 20%;
        font-size: large !important;
        color: #fff;
        margin-top: 25%;
    }
    #mobile-nav-toggle {
        top: 10% !important;
    }
    #logo-header {
        width: 39%;
        padding-left: 4%;
    }
    .team {
        width: 100%;
        height: 1600px;
        background-color: #fff;
    }
    .team-content {
        width: 90% !important;
        padding: 0% 1%;
    }
    .selected-item {
        float: none !important;
        height: 30%;
    }
    .dropdown {
        margin: auto;
        width: 300px;
        position: relative;
        -webkit-perspective: 800px;
        perspective: 800px;
        height: 70%;
    }
    .dropdown-list li {
        height: 100% !important;
        background-color: #fff;
    }
    .team-content-header {
        width: 100%;
        height: 6%;
        padding: 1% 0%;
    }
    /* .portfolio-container .goalkeeper {
        overflow-x: scroll;
        white-space: nowrap;
    } */
    .portfolio {
        margin: 0rem 0;
        height: 91%;
    }
    .portfolio-container .container .text-center {
        width: 100%;
        height: 6%;
        text-align: left !important;
    }
    .portfolio-container .goalkeeper .tile-content .tile-header-goalkeeper {
        height: 18% !important;
        width: 100%;
    }
    .portfolio-container .scale-anm .tile-content {
        height: 82% !important;
        width: 100%;
        overflow-x: scroll;
        white-space: nowrap;
    }
    .portfolio-container .goalkeeper .players {
        width: 50% !important;
        overflow-x: hidden !important;
        white-space: normal !important;
    }
    .portfolio-container .goalkeeper .tile-header-goalkeeper {
        height: 18% !important;
        width: 100%;
    }
    .portfolio-container .goalkeeper {
        height: 25% !important;
        width: 100%;
    }
    .portfolio-container .goalkeeper .players .players-info {
        height: 20% !important;
        padding: 6% 4%;
    }
    .portfolio-container .goalkeeper .players .players-info .players-info-name {
        height: 100% !important;
    }
    .portfolio-container .goalkeeper .players .players-info .players-info-number {
        height: 100% !important;
    }
    .portfolio-container .goalkeeper .players .players-photo {
        height: 80% !important;
    }
    .portfolio-container .scale-anm .tile-content-defender {
        height: 83% !important;
        width: 100%;
        overflow-x: scroll;
        white-space: nowrap;
    }
    .portfolio-container .defender .players {
        /* border: 1px solid #000; */
        width: 70% !important;
    }
    .portfolio-container .defender .players-photo {
        height: 79% !important;
        border-radius: 12px 12px 0px 0px;
    }
    .portfolio-container .defender .players .players-info {
        height: 20% !important;
        padding: 6% 4%;
    }
    .portfolio-container .defender .players .players-info .players-info-name {
        height: 100% !important;
    }
    .portfolio-container .defender .players .players-info .players-info-number {
        height: 100% !important;
    }
    .portfolio-container .defender .players {
        height: 100% !important;
        width: 50% !important;
        margin-bottom: 0.5%;
    }
    .portfolio-container .defender .tile-header-defender {
        height: 10% !important;
        width: 100%;
    }
    .portfolio-container .defender {
        height: 25% !important;
    }
    .portfolio-container .scale-anm .tile-content-midfielder {
        height: 83% !important;
        width: 100%;
        overflow-x: scroll;
        white-space: nowrap;
    }
    .portfolio-container .midfielder .players {
        /* border: 1px solid #000; */
        width: 70% !important;
    }
    .portfolio-container .midfielder .players-photo {
        height: 79% !important;
        border-radius: 12px 12px 0px 0px;
    }
    .portfolio-container .midfielder .players .players-info {
        height: 20% !important;
        padding: 6% 4%;
    }
    .portfolio-container .midfielder .players .players-info .players-info-name {
        height: 100% !important;
    }
    .portfolio-container .midfielder .players .players-info .players-info-number {
        height: 100% !important;
    }
    .portfolio-container .midfielder .players {
        height: 100% !important;
        width: 50% !important;
        margin-bottom: 0.5%;
    }
    .portfolio-container .midfielder .tile-header-midfielder {
        height: 10% !important;
        width: 100%;
    }
    .portfolio-container .midfielder {
        height: 25% !important;
    }
    .portfolio-container .scale-anm .tile-content-forward {
        height: 83% !important;
        width: 100%;
        overflow-x: scroll;
        white-space: nowrap;
    }
    .portfolio-container .forward .players {
        /* border: 1px solid #000; */
        width: 70% !important;
    }
    .portfolio-container .forward .players-photo {
        height: 79% !important;
        border-radius: 12px 12px 0px 0px;
    }
    .portfolio-container .forward .players .players-info {
        height: 20% !important;
        padding: 6% 4%;
    }
    .portfolio-container .forward .players .players-info .players-info-name {
        height: 100% !important;
    }
    .portfolio-container .forward .players .players-info .players-info-number {
        height: 100% !important;
    }
    .portfolio-container .forward .players {
        height: 100% !important;
        width: 50% !important;
        margin-bottom: 0.5%;
    }
    .portfolio-container .forward .tile-header-forward {
        height: 10% !important;
        width: 100%;
    }
    .portfolio-container .forward {
        height: 25% !important;
    }
    .team-detail {
        width: 100%;
        height: 600px;
        background-color: #fff;
    }
    .content-detail-team-foto {
        width: 100%;
        height: 50% !important;
        background: url(../img/photo6053046793966561335.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin: auto;
    }
    .content-list-team-foto {
        width: 100%;
        height: 56% !important;
        margin: auto;
        overflow-x: auto;
        white-space: nowrap;
    }
    .content-detail-team-left-top h1 {
        font-size: small;
        color: #fff;
    }
    /* .footer-medsos {
        width: 20% !important;
        height: 14% !important;
    }
    .footer-medsos i {
        font-size: 11px !important;
    } */
    .content-detail-team-left-bottom h3 {
        font-size: smaller;
        color: #fff;
        margin-bottom: 2%;
        /* font-family: "Roboto"; */
    }
    .content-detail-team-left-top h1 {
        font-size: small !important;
        color: #fff;
    }
    .content-detail-team-left-bottom h3 {
        font-size: smaller !important;
        color: #fff;
        margin-bottom: 2%;
        /* font-family: "Roboto"; */
    }
    .content-detail-team-center img {
        width: 220%;
        margin-left: -45%;
        height: 100%;
    }
    .content-detail-team-right-top h1 {
        font-size: large !important;
        color: #fff;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
    .content-detail-team-right-bottom h1 {
        color: #fff;
        font-size: x-small !important;
        /* -webkit-text-stroke-color: #fff; */
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
    .content-detail-team-center img {
        /* width: 108%; */
        margin-left: -45% !important;
        height: 100%;
    }
    .content-detail-team-center {
        padding-top: 5%;
    }
    .content-detail-team-left-top .footer-medsoss {
        width: 20%;
        height: 14%;
        margin-left: 2%;
        margin-top: 1%;
        background-color: #fff;
        border-radius: 28px;
        float: left;
    }
    .footer-medsoss i {
        font-size: 12px;
        color: #AB1216;
        padding-left: 28%;
        padding-top: 22%;
    }
}

@media (max-width: 768px) and ( min-width: 576px) {
    .portfolio-container .goalkeeper .players {
        /* border: 1px solid #000; */
        border-radius: 12px;
        height: 99% !important;
        width: 25% !important;
        float: left;
        margin-right: 1%;
        margin-bottom: 0.5%;
        float: none;
        display: inline-block;
    }
    .defender .players {
        height: 48% !important;
        width: 30% !important;
        margin-bottom: 0.5%;
    }
    .midfielder .players {
        height: 48% !important;
        width: 30% !important;
        margin-bottom: 0.5%;
    }
    #mobile-nav-toggle {
        top: 10% !important;
    }
    .content-list-team-foto {
        width: 100%;
        height: 45% !important;
    }
    .content-detail-team-foto {
        width: 100%;
        height: 60% !important;
    }
    .footer-medsos {
        height: 14% !important;
        margin-left: 2% !important;
    }
    .content-detail-team-center img {
        /* width: 108%; */
        margin-left: -25% !important;
        height: 100%;
    }
    .content-detail-team-right-bottom h1 {
        color: #fff;
        font-size: large !important;
        /* -webkit-text-stroke-color: #fff; */
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
    .content-detail-team-left-top .footer-medsoss {
        width: 20%;
        height: 20%;
        margin-left: 2%;
        margin-top: 1%;
        background-color: #fff;
        border-radius: 28px;
        float: left;
    }
    .footer-medsoss i {
        font-size: 24px;
        color: #AB1216;
        padding-left: 28%;
        padding-top: 22%;
    }
}

@media (max-width: 992px) and ( min-width: 768px) {
    #mobile-nav-toggle {
        top: 10% !important;
    }
    .team {
        width: 100%;
        height: 2250px;
        background-color: #fff;
    }
    .players-info-name h4 {
        color: #fff;
        font-size: 60%;
        font-weight: normal;
        /* overflow-wrap: break-word; */
        margin-top: 10%;
    }
    .players-info-number h1 {
        margin-left: 20%;
        font-size: large !important;
        color: #fff;
        margin-top: 30%;
    }
    .portfolio-container .goalkeeper .players {
        width: 23% !important;
        height: 96% !important;
    }
    .portfolio-container .scale-anm .tile-content {
        height: 76% !important;
        width: 100%;
    }
    .portfolio-container .goalkeeper .tile-header-goalkeeper {
        height: 23% !important;
        width: 100%;
    }
    .portfolio-container .goalkeeper {
        height: 13% !important;
        width: 100%;
    }
    .portfolio-container .defender .players {
        height: 32% !important;
        width: 23% !important;
        margin-bottom: 0.5%;
    }
    .portfolio-container .scale-anm .tile-content-defender {
        height: 91% !important;
        width: 100%;
    }
    .portfolio-container .defender .tile-header-defender {
        height: 9% !important;
        width: 100%;
    }
    .portfolio-container .defender {
        height: 31%;
        width: 100%;
    }
    .portfolio-container .midfielder .players {
        height: 32% !important;
        width: 23% !important;
        margin-bottom: 0.5%;
    }
    .portfolio-container .scale-anm .tile-content-midfielder {
        height: 91% !important;
        width: 100%;
    }
    .portfolio-container .midfielder .tile-header-midfielder {
        height: 9% !important;
        width: 100%;
    }
    .portfolio-container .midfielder {
        height: 31%;
        width: 100%;
    }
    .portfolio-container .forward .players {
        height: 43% !important;
        width: 23% !important;
        margin-bottom: 0.5%;
    }
    .portfolio-container .scale-anm .tile-content-forward {
        height: 91% !important;
        width: 100%;
    }
    .portfolio-container .forward .tile-header-forward {
        height: 12% !important;
        width: 100%;
    }
    .portfolio-container .forward {
        height: 23%;
        width: 100%;
    }
    .portfolio {
        margin: 0rem 0;
    }
    .content-detail-team-foto {
        width: 100%;
        height: 60% !important;
        background: url(../img/photo6053046793966561335.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin: auto;
    }
    .content-list-team-foto {
        width: 100%;
        height: 40% !important;
        margin: auto;
        overflow-x: auto;
        white-space: nowrap;
    }
    .content-detail-team-center {
        width: 40%;
        height: 100%;
        /* margin: auto; */
        float: left;
        padding-top: 10%;
    }
    .content-detail-team-left-top .footer-medsoss {
        width: 17%;
        height: 20%;
        margin-left: 2%;
        margin-top: 1%;
        background-color: #fff;
        border-radius: 28px;
        float: left;
    }
    .content-detail-team-center img {
        /* width: 220%; */
        margin-left: -30%;
        height: 100%;
    }
    .content-detail-team-right-bottom h1 {
        color: #fff;
        font-size: x-large !important;
        width: 30%;
        float: left;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
    .content-detail-team-left-bottom h3 {
        font-size: larger !important;
        color: #fff;
        margin-bottom: 2%;
        /* font-family: "Roboto"; */
    }
    .footer-medsoss i {
        font-size: 20px;
        color: #AB1216;
        padding-left: 28%;
        padding-top: 22%;
    }
}

@media (max-width: 1200px) and ( min-width: 992px) {
    /* #nav-menu-container {
        width: 70%;
    } */
}

@media (max-width: 1024px) and ( min-width: 992px) {
    #nav-menu-container {
        width: 70%;
    }
    .content-detail-team-left-top .footer-medsoss {
        width: 16%;
        height: 20%;
        margin-left: 2%;
        margin-top: 1%;
        background-color: #fff;
        border-radius: 28px;
        float: left;
    }
    .content-detail-team-center img {
        /* width: 220%; */
        margin-left: -10% !important;
        height: 100%;
    }
    .content-list-team-foto {
        width: 100%;
        height: 40% !important;
        margin: auto;
        overflow-x: auto;
        white-space: nowrap;
    }
    .content-detail-team-foto {
        width: 100%;
        height: 60% !important;
    }
}

/* Team Detail */

/* .team-detail {
    width: 100%;
    height: 700px;
    background-color: #fff;
} */

/* Team Detail end */

.page-header {
    height: 20px;
    width: 100%;
    background-color: #710907;
}

.title-page-header {
    height: 100%;
    width: 92%;
    margin: auto;
    padding-top: 0.15%;
}

.title-page-header h5 {
    color: #fff;
    vertical-align: middle;
}

.title-page-header h5 b {
    color: #fff;
    vertical-align: middle;
}

.main-detail-team-foto {
    width: 100%;
    height: 900px;
    background-color: #F6F6F6;
}

.main-detail-team-foto-content {
    height: 100%;
    width: 100%;
    /* padding: 0% 4%; */
}

.main-detail-team-foto-header {
    width: 100%;
    height: 15%;
}

.main-detail-team-foto-header-left {
    width: 50%;
    height: 100%;
    float: left;
    padding: 2% 0%;
}

.main-detail-team-foto-header-left h5 b {
    color: #000;
    font-size: large;
}

.main-detail-team-foto-header-left h2 {
    font-size: xx-large;
    padding: 1% 0%;
}

.main-detail-team-foto-header-left h2 b {
    color: #000;
}

.main-detail-team-foto-header-right {
    width: 50%;
    height: 100%;
    float: left;
}

.main-detail-team-foto-header-right p {
    text-align: right;
    margin-top: 14%;
}

.content-detail-team-foto {
    width: 100%;
    height: 75%;
    background: url(../img/photo6053046793966561335.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: auto;
}

.content-detail-team-left {
    width: 30%;
    height: 100%;
    /* margin: auto; */
    float: left;
}

.content-detail-team-left-top {
    width: 100%;
    height: 50%;
    margin: auto;
    padding: 7%;
}

.content-detail-team-left-top h1 {
    font-size: xx-large;
    color: #fff;
}

.content-detail-team-left-top hr {
    margin-top: 0rem;
    margin-bottom: 0rem;
    background-color: #fff !important;
    width: 100%;
}

.content-detail-team-left-bottom {
    width: 100%;
    height: 50%;
    margin: auto;
    padding: 7%;
}

.content-detail-team-left-bottom h3 {
    font-size: large;
    color: #fff;
    margin-bottom: 2%;
    /* font-family: "Roboto"; */
}

.content-detail-team-center {
    width: 40%;
    height: 100%;
    /* margin: auto; */
    float: left;
    /* padding-top: 5%; */
}

.content-detail-team-center img {
    /* width: 220%; */
    margin-left: 0%;
    height: 100%;
}

.content-detail-team-right {
    width: 30%;
    height: 100%;
    /* margin: auto; */
    float: left;
}

.content-detail-team-right-top {
    width: 100%;
    height: 50%;
    /* margin: auto; */
    padding: 7%;
    text-align: right;
}

.content-detail-team-right-top h1 {
    font-size: xx-large;
    color: #fff;
}

.content-detail-team-right-bottom {
    width: 100%;
    height: 50%;
    padding: 7%;
    /* margin: auto; */
    text-align: right;
    color: #fff;
}

.content-detail-team-right-bottom img {
    width: 10%;
}

.content-detail-team-right-bottom h1 {
    color: #fff;
    font-size: xx-large;
    width: 30%;
    float: left;
}

.content-list-team-foto {
    width: 100%;
    height: 25%;
    margin: auto;
    overflow-x: auto;
    white-space: nowrap;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    display: block;
    width: 100%;
    height: 100%;
}

.carousel {
    position: relative;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-inner>.item {
    position: relative;
    display: none;
    -webkit-transition: .6s ease-in-out left;
    -o-transition: .6s ease-in-out left;
    transition: .6s ease-in-out left;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    line-height: 1;
    width: 100%;
    height: 100%;
}

@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-inner>.item {
        -webkit-transition: -webkit-transform .6s ease-in-out;
        -o-transition: -o-transform .6s ease-in-out;
        transition: transform .6s ease-in-out;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000;
        perspective: 1000;
    }
    .carousel-inner>.item.next, .carousel-inner>.item.active.right {
        left: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    .carousel-inner>.item.prev, .carousel-inner>.item.active.left {
        left: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    .carousel-inner>.item.next.left, .carousel-inner>.item.prev.right, .carousel-inner>.item.active {
        left: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        height: 100%;
        width: 100%;
    }
}

.carousel-inner>.active, .carousel-inner>.next, .carousel-inner>.prev {
    display: block;
    height: 100%;
    width: 100%;
}

.carousel-inner>.active {
    left: 0;
    height: 100%;
    width: 100%;
}

.carousel-inner>.next, .carousel-inner>.prev {
    position: absolute;
    top: 0;
    width: 100%;
}

.carousel-inner>.next {
    left: 100%;
}

.carousel-inner>.prev {
    left: -100%;
}

.carousel-inner>.next.left, .carousel-inner>.prev.right {
    left: 0;
}

.carousel-inner>.active.left {
    left: -100%;
}

.carousel-inner>.active.right {
    left: 100%;
}

.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    filter: alpha(opacity=50);
    opacity: .5;
}

.carousel-control.left {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
}

.carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}

.carousel-control:hover, .carousel-control:focus {
    color: #fff;
    text-decoration: none;
    filter: alpha(opacity=90);
    outline: 0;
    opacity: .9;
}

.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}

.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left {
    left: 50%;
    margin-left: -10px;
}

.carousel-control .icon-next, .carousel-control .glyphicon-chevron-right {
    right: 50%;
    margin-right: -10px;
}

.carousel-control .icon-prev, .carousel-control .icon-next {
    width: 20px;
    height: 20px;
    margin-top: -10px;
    font-family: serif;
}

.carousel-control .icon-prev:before {
    content: '\2039';
}

.carousel-control .icon-next:before {
    content: '\203a';
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 100%;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0);
    /* border: 1px solid #fff; */
    border-radius: 10px;
}

.carousel-indicators .active {
    width: 12px;
    height: 100%;
    margin: 0;
    background-color: #fff;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

.carousel-caption .btn {
    text-shadow: none;
}

@media screen and (min-width: 768px) {
    .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
        width: 30px;
        height: 30px;
        margin-top: -15px;
        font-size: 30px;
    }
    .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
        margin-left: -15px;
    }
    .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
        margin-right: -15px;
    }
    .carousel-caption {
        right: 20%;
        left: 20%;
        padding-bottom: 30px;
    }
    .carousel-indicators {
        bottom: 20px;
    }
}

.carousel-inner {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel-control.right {
    right: 0;
    left: auto;
    background-image: none !important;
    background-repeat: repeat-x;
}

.carousel-control.left {
    left: 0;
    right: auto;
    background-image: none !important;
    background-repeat: repeat-x;
}

#carousel-example-generic {
    margin: 20px auto;
    width: 100%;
}

#carousel-custom {
    margin: auto;
    width: 100%;
}

#carousel-custom .carousel-indicators {
    margin: 1.1% 0 0;
    overflow: auto;
    position: static;
    text-align: left;
    white-space: nowrap;
    width: 100%;
    height: 15%;
    overflow: hidden;
}

#carousel-custom .carousel-indicators li {
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    height: auto;
    margin: 0 !important;
    width: auto;
}

#carousel-custom .carousel-indicators li img {
    display: block;
    opacity: 0.5;
}

.meartlab li img {
    height: 52px;
}

#carousel-custom .carousel-indicators li.active img {
    opacity: 1;
    height: 100%;
}

#carousel-custom .carousel-indicators li:hover img {
    opacity: 0.75;
}

#carousel-custom .carousel-outer {
    position: relative;
    height: 85%;
    width: 100%;
}

.carousel-indicators li img {
    height: 100%;
    width: auto;
}